extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content(ng-controller='AuthController')
    .row.mb30.mt30
      .col-xs-12
        .heading.mb15
          h3 About Us
      .col-xs-12.mb15
        p Hillside Software is NOT a startup. We have real clients, real products and real profits. We have been specializing in developing software solutions for Real Estate and Mortgage professionals for over 20 years. Our MLS iPad App, for example, was rated by Realtor® magazine as one of the Top 10 ‘must have’ apps for Real Estate professionals nationwide.

        p Keep our proven track record in mind when choosing a partner to help you implement beacon technology. We are committed to your success, not just today, but for many years to come.