.row.mb30
  .col-xs-12
    .heading.mb15.mt40
      h3 RealEstateBeacons for You
#Agents.pb40
  .row
    .col-sm-4(data-sr="enter left")
      #homeCarousel2.carousel.agent.slide(data-ride="carousel")
        .carousel-inner
          .item.active
            div(style="background-image:url('/images/Annie-Agent.jpg'); height:260px;")
    .col-sm-8
      .heading.mb20.mt30-xs
        h4
          span.fa.fa-user.mr15
          | Real Estate Agents
      ul.list-arrow-2-color
        li
          | Create a customized profile of your listing and easily tie it to a small beacon.
        li
          | Prospective buyers who have downloaded the RealEstateBeacons app automatically receive the listing profile on their mobile device when they are in the vicinity of the beacon.
        li
          | Give prospective buyers a thorough tour of the listing with multiple beacons, highlighting key aspects of the home.
        li
          | Prospective buyers can save your listing for future access to the profile. Buyers who are not yet working with an agent can submit a question to you directly through the app.
      .col-xs-12
        a.btn.btn-rw.btn-scroll.btn-success.btn-summary(href="#Pricing") Pricing
        a.btn.btn-rw.btn-scroll.btn-primary(href="#Contact") Contact