extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content.mt30
    .row.mb30
      .col-xs-12
        .heading.mb15
          h3 Real World iBeacon Examples
      .col-xs-12
        .row
          p Since Apple introduced iBeacons we've seen a number of announcements from retailers who are using the technology to enhance the shopping experience. While there's no doubt that iBeacons can be valuable in commerce and provide an innovative way for businesses to interact with their consumers, iBeacons have the potential to impact a wide range of industries and become more than just the next great marketing tool.
          p You can keep up to date with new developments at http://ibeaconsblog.com/keyword/bluetooth/. It's still early days for iBeacons, but here are some real world applications that you may already have come across:
      .col-xs-12
        .heading.mb15
          h3 Target Launching Beacons in 50 Stores
      .col-xs-12
        .row
          p Beacons will be launched in a pilot program at 50 Target stores. They are being very careful to avoid spamming their customers. Shoppers must first install the Target iOS App (Android is coming soon) and then opt-in to receive the notifications. Only a max of 2 push notifications for deals per visit will be sent. The other deals will be available in the app but will not be pushed. They will be using the data to help understand trends and customer preferences.
      .col-xs-12
        .heading.mb15
          h3 Groninger Museum Launches Beacon App
      .col-xs-12
        .row
          p This is a great example of how an art museum is using beacon technology. The visitor downloads the app from the App Store. When they walk through the museum, a beacon identifies when they are near a particular piece of art. The museum's app provides information about each display, using your distance from beacons placed alongside the exhibit. As long as visitors to the museum have the app installed and Bluetooth turned on, they are automatically sent information on each artwork as they pass by. Beacons can be used to point the user to similar exhibits nearby, making it a personalized tour of the museum.
      .col-xs-12
        .heading.mb15
          h3 MLB Stadiums Deploy Apple iBeacons
      .col-xs-12
        .row
          p In a bid to make the ballpark experience more engaging for fans, Major League Baseball plans to roll out Apple's new iBeacons technology to deliver targeted information and offers based on a fan's location within the park, according to a new report. Citi Field, home of the Mets, is already experimenting with embedded videos, dynamic hot dog coupons, and straight-to-your-seat navigation—the augmented ballpark of the future, all built on iBeacon.
      .col-xs-12
        .heading.mb15
          h3 University of Wisconsin Athletics App
      .col-xs-12
        .row
          p The new and improved Badger Gameday App was launched just in time for the volleyball team’s season opener. Updates include a better news display, in-venue replay and of course beacon integration. With the beacons (plus geofencing), fans will receive highly relevant content and location based notifications. Fans that opt in to the beacon functionality will be delivered content based on their location, activities, the time and their interests inside both Camp Randall and the Kohl Center.
          p Many professional sports teams are already taking advantage of beacons – now they are making their way to the university sports realm, where there are many more teams.
      .col-xs-12
        .heading.mb15
          h3 Disney Implementing iBeacons at Amusement Parks
      .col-xs-12
        .row
          p Disney has announced an iBeacon based MagicBand that visitors use as a key for their resort room, pay for items in the park, act as a park pass, get them in the fast line and collect their photos during their stay. In this way, visitor experience gets registered on MagicBand making it easier to improve their visit the next time.
      .col-xs-12
        .heading.mb15
          h3 Home Depot and IoT (Internet of Things)
      .col-xs-12
        .row
          p Home Depot not only sells hundreds of IoT products, they are also using them in their own stores. They had previously let their app users see how certain products might look in their homes. More recently, they are connecting consumer’s online shopping carts and wish lists with their in-store experience.
      .col-xs-12
        .heading.mb15
          h3 Beacons Used in Famous Pikes Peak Race
      .col-xs-12
        .row
          p The 99th Pikes Peak International Hill Climb (PPIHC) will have its own app for the first time. It will be providing customizable information and can be used on iOS (including theApple Watch). Features include time race results, racer profiles and a detailed spectator guide. On site interviews and videos from vehicles will be posted as well.
          p iBeacons will be used during the Fan Fest. Every vehicle with beacon technology that is near the user will be identified in real-time, even if they do not have access to the Internet.
      .col-xs-12
        .heading.mb15
          h3 Virgin Atlantic and iBeacons
      .col-xs-12
        .row
          p Virgin Atlantic Airways was one of the earliest adopters of beacons in travel by installing beacons at London’s Heathrow airport. An electronic boarding pass loaded on iPhone’s Passbook app is able to receive messages from the beacons based on the user’s location in Heathrow. The app then gives directions to the gate, and even warns you if you are going to be late or if the flight is delayed.
      .col-xs-12
        .heading.mb15
          h3 Ford Cars Sell Themselves With Beacons
      .col-xs-12
        .row
          p Car dealers have plans to place beacons on showroom models. As a potential customer checks out the car, the beacon will send information straight to their smartphone. For example, one in the front could talk about its engine. One in the back could talk about its advanced parking technology. The beacons also could be used out in the lot, with off-hours shoppers getting pitched on highlights of the various models.
      .col-xs-12
        .heading.mb15
          h3 Starbucks Embraces iBeacons
      .col-xs-12
        .row
          p Starbucks is innovating with much more than free Wi-Fi in the tech space. They are on the cutting edge when it comes to big brands and IoT. They are rumored to have plans to make it possible for you to order a drink and then a beacon would notify the barista when you enter the store. A step in this direction is an experiment in New York with employees taking orders with a handheld device from customers as they enter the store.
      .col-xs-12
        .heading.mb15
          h3 Tribeca Film Festival Uses iBeacons
      .col-xs-12
        .row
          p The Tribeca Film Festival app uses iBeacons to alert users about nearby venues, screening times and offers. Users nearby the theaters can purchase tickets directly from inside the app, or find out what films or events their friends preferred to attend. Once a screening is over and the user exits the venue, it allows an easy way for viewers to share opinions by using the app.
      .col-xs-12
        .row
          b Overall, these are just a few examples of brands big and small who are successfully using iBeacon technology to collect customer data, increase efficiency plus improve customer experience.