extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content.mt30
    .row.mb30
      .col-xs-12
        .heading.mb15
          h3 What Is A Beacon?
      .col-xs-12
        .row
          p iBeacons are small Bluetooth transmitters, not much bigger than a matchbox, that ‘wake up’ your mobile device to display location-aware information as you pass by.
          p Leading retail companies such as Macys, Nordstrom and Apple, for example, are reported to be installing iBeacons within their stores, allowing iPhone users to receive precise, location-aware notifications about products as they walk around the store.
      .col-xs-12
        .heading.mb15
          h3 How Does It Work?
      .col-xs-12
        .row
          p Apps installed on your iPhone listen out for the signals broadcast by these iBeacons and show location-aware information when the phone comes into range.
          p For Real Estate Professionals, iBeacon technology is the next best thing to actually being there when a prospective buyer tours your property or visits your open house. Place one or more iBeacons at key locations throughout the home and automatically draw attention to important features as visitors walk by.
          p Setting up your iBeacon tour with our highly acclaimed RealEstateBeacons™ app could not be easier. Visit RealEstateBeacons.com to create your free demo account. Then order as many iBeacons as you want. With our technology just one beacon per property is usually all you need to get started, as we can display up to 10 slides or rooms per beacon. Then use our RealEstateBeacons.com portal to upload your property photos and details and link the property to a beacon. The entire process is very simple. If you have any questions do not hesitate to contact us. We are always here to help.
          p As soon as your iBeacons arrive place them in your property and watch the magic begin.