extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  .row.mb30
    .col-xs-12
      .heading.mb15
        h3 RealEstateBeacons Blog
    .col-xs-12
      section.mt30.mb30
        .row
          .col-sm-8
            .blog-post.mb40
              img.img-responsive.full-width(src="images/backgrounds/stock10.jpg", alt="")
              .blog-post-holder
                ul.list-inline.posted-info
                  li
                    | By
                    a(href="#") Denis Samardjiev
                  li
                    | In
                    a(href="#") Design
                  li Posted January 1, 2015
                hr.mt15.mb10(align="left", style="width:50px;")
                h2
                  a(href="#") This is the offical post of the blog
                p
                  | Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                a.btn.btn-rw.btn-primary.mt10(href="#") Read more
            .blog-post.mb40
              img.img-responsive.full-width(src="images/backgrounds/stock11.jpg", alt="")
              .blog-post-holder
                ul.list-inline.posted-info
                  li
                    | By
                    a(href="#") Denis Samardjiev
                  li
                    | In
                    a(href="#") Design
                  li Posted January 1, 2015
                hr.mt15.mb10(align="left", style="width:50px;")
                h2
                  a(href="#") Another post about something, seaguls
                p
                  | Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...
                a.btn.btn-rw.btn-primary.mt10(href="#") Read more
            nav.text-center
              ul.pagination.no-margin
                li
                  a(href="#", aria-label="Previous")
                    span(aria-hidden="true") &#171;
                li.active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#", aria-label="Next")
                    span(aria-hidden="true") &#187;
          .col-sm-4
            .content-box.content-box-bordered.mt30-xs.mb30
              span.ion-beaker.bordered-icon-sm
              h4.pt15 Our Blog
              p.no-margin
                | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.
            ul.nav.nav-tabs(role="tablist")
              li.active
                a(href="#posts", role="tab", data-toggle="tab") Recent Posts
              li
                a(href="#Categories", role="tab", data-toggle="tab") Categories
            .tab-content.mb30
              #posts.tab-pane.in.active
                ul.media-list
                  li.media
                    a.pull-left(href="#")
                      img.media-object(src="http://lorempixel.com/output/city-q-c-80-80-5.jpg", width="80", height="80", alt="image")
                    .media-body
                      p.media-heading
                        a(href="#") This is some post content. Make sure it is a couple lines long.
                      small
                        | 5 Jan, 2015
                        br
                        em
                          a(href="#") General
                  li.media
                    a.pull-left(href="#")
                      img.media-object(src="http://lorempixel.com/output/technics-q-c-80-80-9.jpg", width="80", height="80", alt="image")
                    .media-body
                      p.media-heading
                        a(href="#") This is some post content. Make sure it is a couple lines long.
                      small
                        | 17 Jan, 2015
                        br
                        em
                          a(href="#") Agents
                  li.media
                    a.pull-left(href="#")
                      img.media-object(src="http://lorempixel.com/output/animals-q-c-80-80-3.jpg", width="80", height="80", alt="image")
                    .media-body
                      p.media-heading
                        a(href="#") This is some post content. Make sure it is a couple lines long.
                      small
                        | 23 Jan, 2015
                        br
                        em
                          a(href="#") Agents,
                          a(href="#") Buyers
              #Categories.tab-pane
                | Donec tristique dignissim nisi, quis fermentum quam. Sed turpis ipsum, tempor vel malesuada ac, pharetra eu nunc. Aliquam condimentum mauris eget justo aliquam, in rhoncus libero egestas.