extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content.mt30
    .row
      .col-xs-12
        .heading.mb15
          h3 Features
    .background.pb30.hidden-xs
      ul.nav.nav-tabs(role="tablist")
        li
          a(href="#agentFeatures", role="tab", data-toggle="tab")
            span.features.fa.fa-briefcase
            | Real Estate Agents
        li.active
          a(href="#buyerFeatures", role="tab", data-toggle="tab")
            span.features.fa.fa-user
            | Home Buyers
        li
          a(href="#builderFeatures", role="tab", data-toggle="tab")
            span.features.fa.fa-wrench
            | Home Builders
        li
          a(href="#rentalFeatures", role="tab", data-toggle="tab")
            span.features.fa.fa-home
            | Property Managers
      .tab-content
        #agentFeatures.tab-pane
          .row
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-wifi.bordered-icon-sm
              h4.mt15 Location-Based Profiles
              p.p15xs.no-margin
                | Detailed property information sent to prospective buyers on their mobile devices as they pass by.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-heart.bordered-icon-sm
              h4.mt15 Property Favorites
              p.p15xs.no-margin
                | Buyers can add your listings to their favorites list to recall important information at any time, anywhere.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-comments.bordered-icon-sm
              h4.mt15 Feedback
              p.p15xs.no-margin
                | Receive feedback on listings and answer questions from potential buyers not yet working with an agent.
          .row.mb15.mt30
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-map-marker.bordered-icon-sm
              h4.mt15 Nearby Places
              p.p15xs.no-margin
                | Prospective buyers can search nearby schools, coffee shops, golf courses, gyms and more.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-list-alt.bordered-icon-sm
              h4.mt15 Saved Notes
              p.p15xs.no-margin
                | View notes saved by prospective buyers on your listings.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-calculator.bordered-icon-sm
              h4.mt15 Loan Information
              p.p15xs.no-margin
                | Prospective buyers can view loan information, including a mortgage calculator.
        #buyerFeatures.tab-pane.in.active
          .row
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-wifi.bordered-icon-sm
              h4.mt15 Location-Based Profiles
              p.p15xs.no-margin
                | Detailed property information sent to prospective buyers on their mobile devices as they pass by.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-heart.bordered-icon-sm
              h4.mt15 Property Favorites
              p.p15xs.no-margin
                | Buyers can add your listings to their favorites list to recall important information at any time, anywhere.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-comments.bordered-icon-sm
              h4.mt15 Feedback
              p.p15xs.no-margin
                | Receive feedback on listings and answer questions from potential buyers not yet working with an agent.
          .row.mb15.mt30
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-map-marker.bordered-icon-sm
              h4.mt15 Nearby Places
              p.p15xs.no-margin
                | Prospective buyers can search nearby schools, coffee shops, golf courses, gyms and more.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-list-alt.bordered-icon-sm
              h4.mt15 Saved Notes
              p.p15xs.no-margin
                | View notes saved by prospective buyers on your listings.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-calculator.bordered-icon-sm
              h4.mt15 Loan Information
              p.p15xs.no-margin
                | Prospective buyers can view loan information, including a mortgage calculator.
        #builderFeatures.tab-pane
          .row
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-wifi.bordered-icon-sm
              h4.mt15 Location-Based Profiles
              p.p15xs.no-margin
                | Detailed property information sent to prospective buyers on their mobile devices as they pass by.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-heart.bordered-icon-sm
              h4.mt15 Property Favorites
              p.p15xs.no-margin
                | Buyers can add your listings to their favorites list to recall important information at any time, anywhere.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-comments.bordered-icon-sm
              h4.mt15 Feedback
              p.p15xs.no-margin
                | Receive feedback on listings and answer questions from potential buyers not yet working with an agent.
          .row.mb15.mt30
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-map-marker.bordered-icon-sm
              h4.mt15 Nearby Places
              p.p15xs.no-margin
                | Prospective buyers can search nearby schools, coffee shops, golf courses, gyms and more.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-list-alt.bordered-icon-sm
              h4.mt15 Saved Notes
              p.p15xs.no-margin
                | View notes saved by prospective buyers on your listings.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-calculator.bordered-icon-sm
              h4.mt15 Loan Information
              p.p15xs.no-margin
                | Prospective buyers can view loan information, including a mortgage calculator.
        #rentalFeatures.tab-pane
          .row
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-wifi.bordered-icon-sm
              h4.mt15 Location-Based Profiles
              p.p15xs.no-margin
                | Detailed property information sent to prospective buyers on their mobile devices as they pass by.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-heart.bordered-icon-sm
              h4.mt15 Property Favorites
              p.p15xs.no-margin
                | Buyers can add your listings to their favorites list to recall important information at any time, anywhere.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-comments.bordered-icon-sm
              h4.mt15 Feedback
              p.p15xs.no-margin
                | Receive feedback on listings and answer questions from potential buyers not yet working with an agent.
          .row.mb15.mt30
            .col-sm-4.highlight1.fadeInUp-animated.text-center
              span.fa.fa-map-marker.bordered-icon-sm
              h4.mt15 Nearby Places
              p.p15xs.no-margin
                | Prospective buyers can search nearby schools, coffee shops, golf courses, gyms and more.
            .col-sm-4.highlight2.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-list-alt.bordered-icon-sm
              h4.mt15 Saved Notes
              p.p15xs.no-margin
                | View notes saved by prospective buyers on your listings.
            .col-sm-4.highlight3.fadeInUp-animated.text-center.mt20-xs
              span.fa.fa-calculator.bordered-icon-sm
              h4.mt15 Loan Information
              p.p15xs.no-margin
                | Prospective buyers can view loan information, including a mortgage calculator.

    .col-xs-12.visible-xs
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                  b Real Estate Agents
                  i.fa.fa-plus.pull-right
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                .row
                  .col-xs-6.highlight1.fadeInUp-animated.text-center.mb15
                    span.fa.fa-wifi.bordered-icon-sm
                    h4.mt15 Location-Based
                    p.p15xs.no-margin
                      | Detailed property information sent to prospective buyers on their mobile devices as they pass by.
                  .col-xs-6.highlight2.fadeInUp-animated.text-center.mb15
                    span.fa.fa-heart.bordered-icon-sm
                    h4.mt15 Property Favorites
                    p.p15xs.no-margin
                      | Buyers can add your listings to their favorites list to recall important information at any time, anywhere.
                .row
                  .col-xs-6.highlight3.fadeInUp-animated.text-center.mb15
                    span.fa.fa-comments.bordered-icon-sm
                    h4.mt15 Feedback
                    p.p15xs.no-margin
                      | Receive feedback on listings and answer questions from potential buyers not yet working with an agent.
                  .col-xs-6.highlight1.fadeInUp-animated.text-center.mb15
                    span.fa.fa-map-marker.bordered-icon-sm
                    h4.mt15 Nearby Places
                    p.p15xs.no-margin
                      | Prospective buyers can search nearby schools, coffee shops, golf courses, gyms and more.
                .row
                  .col-xs-6.highlight2.fadeInUp-animated.text-center.mb15
                    span.fa.fa-list-alt.bordered-icon-sm
                    h4.mt15 Saved Notes
                    p.p15xs.no-margin
                      | View notes saved by prospective buyers on your listings.
                  .col-xs-6.highlight3.fadeInUp-animated.text-center.mb15
                    span.fa.fa-calculator.bordered-icon-sm
                    h4.mt15 Loan Information
                    p.p15xs.no-margin
                      | Prospective buyers can view loan information, including a mortgage calculator.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                  b Home Buyers
                  i.fa.fa-plus.pull-right
            #collapseTwo.panel-collapse.collapse
              .panel-body
                | 1) RealEstateBeacons is founded by Hillside Software, a Real Estate Technology company that has been delivering cutting-edge products for over 25 years.
                | 2) RealEstateBeacons is the only beacon company for Real Estate that offers 10 fully-customizable slides per beacon. This allows Agents to feature 10 areas of the home in a unique way. Or highlight up to 10 features in one part of the home. If you are looking for versatility and flexibility, RealEstateBeacons is the product for you.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                  b Home Builders
                  i.fa.fa-plus.pull-right
            #collapseThree.panel-collapse.collapse
              .panel-body
                | If you are a home buyer or seller, RealEstateBeacons is completely free and can be downloaded from the Apple App Store (coming soon for Android).
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                  b Renters
                  i.fa.fa-plus.pull-right
            #collapseFour.panel-collapse.collapse
              .panel-body
                | Since RealEstateBeacons does not pull information directly from any MLS, you can sign up and begin using RealEstateBeacons anywhere in the country today.

