#Buyers.pt40.pb40
  .row
    .col-sm-8
      .heading.buyer.mb20.mt30-xs
        h4
          span.fa.fa-home.mr15
          | Home Buyers
      ul.list-arrow-2-color.buyer
        li
          | Download the free RealEstateBeacons app on your iPhone or iPad from the Apple App Store (coming soon for Android).
        li
          | When you are in the vicinity of a home for sale with a beacon inside, you will automatically receive a detailed profile of the home.
        li
          | Use the app to get up-to-date mortgage information, and find info on local schools and other hotspots.
        li
          | Communicate with the listing agent by sending feedback on the property or asking the agent a question directly within the app.
      .col-xs-12
        a.btn.btn-rw.btn-scroll.btn-primary.btn-buyer(href="#Download") Download
    .col-sm-4(data-sr="enter left")
      #homeCarousel2.carousel.buyer.slide
        .carousel-inner
          .item.active
            div(style="background-image:url('/images/Kitchen-2.jpg'); height:260px;")
