header.mb30
  .fadeInRight-animated(data-animation="fadeInRight")
    .col-sm-5
      img.img-responsive.carousel-image(src="images/Main-Screenshot.png", alt="Responsive Showcase")
  .fadeInLeft-animated(data-animation="fadeInLeft")
    .carousel-description.col-sm-5.col-sm-offset-1
      h4.carousel Download the app and show yourself around.
      p.carousel Download the free RealEstateBeacons&trade; app and innovative iBeacons inside the home will transmit detailed property information to your mobile device as you pass by.
      p.carousel With RealEstateBeacons&trade;, you now have all the facts you need in the palm of your hand.
      //- a.btn.btn-header.btn-danger(href="/signup.html", ng-if="!user") Sign Up
      //- a.btn.btn-header.btn-danger(href="/login.html", ng-if="!user") Log In
      p
        a(href='https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8' target='_blank')
          img.carousel(src="images/apple-download.png", width="250", height="71")
      p.sm.carousel Coming soon for Android
  .clearfix
.clearfix
