extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  .row.mb30
    .col-xs-12
      .heading.mb15.mt30
        h3 Contact Us
  //- .container-fluid
  //-   .row
  //-     .col-xs-12.no-padding(style="margin-bottom: -7px;")
  //-       iframe(style="border: 0px none; border-color:#fff; width:100%;", height="350", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.1284860746646!2d-104.86916299999996!3d39.601788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8672ac28ee0f%3A0x2123ac6d62becdd4!2s6362+S+Geneva+Cir%2C+Englewood%2C+CO+80111!5e0!3m2!1sen!2sus!4v1440595830975")
  .col-xs-12
    section.mb30
      .row
        .col-sm-8
          .heading.mb20
            h4
              span.ion-android-mail.mr15
              | Send Us A Message
          p.mb20
            | We always love hearing from new and old friends. We believe that great software ideas come from users like you, not programmers. We look forward to hearing your ideas and feedback.
          form(role="form", ng-submit="submitForm()", novalidate="")
            .form-group.col-xs-12
              label Name
              input#Name.form-control(type="text", ng-model="formData.name", ng-class="{'error' : errorName}")
            .form-group.col-xs-6
              label Email Address
              input#Email.form-control(type="email", ng-model="formData.email", ng-class="{'error' : errorEmail}")
            .form-group.col-xs-6
              label Phone Number
              input#Phone.form-control(type="number", ng-model="formData.phone", ng-class="{'error' : errorPhone}")
            .form-group.col-md-6.col-lg-6.col-xs-12
              label Preferred Contact Method
              select.form-control(placeholder="Select", ng-model="formData.contactMethod", ng-class="{'error' : errorContactMethod}")
                option(value='') Select
                option(value='Email') Email
                option(value='Phone') Phone
                option(value='No Preference') No Preference
            .form-group.col-xs-12
              label User Type
              select.form-control(placeholder="Select", ng-model="formData.userType", ng-class="{'error' : errorUserType}")
                option(value='') Select
                option(value='Agent') Agent
                option(value='Sponsor') Sponsor
                option(value='Buyer') Home Buyer
                option(value='Seller') Home Seller
                option(value='Other') Other
            .form-group.col-xs-12
              label Subject
              select.form-control(placeholder="Select", ng-model="formData.subject", ng-class="{'error' : errorSubject}")
                option(value='') Select
                option(value='Sales') Sales
                option(value='Tech Support') Technical Support
                option(value='General') General Question/Other
            .form-group.col-xs-12
              label Message
              textarea#InputMessage.form-control(name="message", ng-class="{'error' : errorTextarea}", ng-model="formData.message", rows="10")
            .form-group.col-xs-12
              button.btn.btn-rw.btn-primary(type="submit", value="Send!", name="submit") Submit
                div(ng-class="{'submissionMessage' : submission}", ng-bind="submissionMessage")

        .col-sm-4.mt30.hidden-xs
          .content-box.content-box-primary.chat-box.mb30
            a(href="#") Live Chat
            //- h2.text-white.mb10 Live Chat
            span.fa.fa-comments.text-white.border-white.bordered-icon-static-sm.mb10
          .panel.panel-primary.no-margin
            .panel-heading
              h3.panel-title
                | Information
            .panel-body
              address.no-margin
                strong Hillside Software, Inc.
                br
                | Denver, CO
                br
                abbr(title="Phone") P:
                | (303) 221-4444
                br
                | Mail:
                a(href="#") info@hillsoft.com
