extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content
    .row.mb30.mt30
      .col-xs-12
        .heading.mb15
          h3 App Demo
      .col-xs-12.mb15
        p Demo of the mobile app.