#Download
section.content
  .row
    .col-xs-12
      .heading.mb15
        h3 Download
section.background-main.pt60.pb60.mb30(style="background-image:url('images/backgrounds/bg1.png');")
  .col-xs-12
    .row
      .col-sm-4.fadeInLeft-animated
        img.img-responsive(src='images/showcase5.png', alt='Showcase Image')
      .col-sm-8.text-white.fadeInRight-animated.mt30-xs
        h3.text-white Download for iOS
        p
          | Vestibulum id justo dapibus, porttitor lectus ut, viverra est. Donec sed aliquam leo, nec egestas est. Maecenas vel tellus a mi tristique malesuada. Praesent eleifend dignissim nibh eget ultricies. In a faucibus dui. Mauris tristique porta libero ac consectetur. Sed ultrices pharetra risus tincidunt blandit.
        p
          | Praesent risus augue, dignissim vulputate nibh eget, sollicitudin vestibulum neque. Aenean ultrices nunc ac ligula imperdiet, eget accumsan tortor ullamcorper. Etiam dignissim porta nisi ac tempus. Etiam fringilla odio ac arcu vehicula, quis condimentum tellus scelerisque.
        a.btn.btn-rw.btn-clear.mt10(href='https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8' target='_blank')
          | Download
