extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  .container
    section.content.mt30
      .row.mb30
        .col-xs-12
          .heading.mb15
            h2.purple iBeacons Real World Examples
        .col-xs-12
          .row.text-center.mt20.mb20
            h4.pl20.pr20 Since Apple introduced iBeacons we've seen a number of announcements from retailers who are using the technology to enhance the shopping experience. While there's no doubt that Beacons can be valuable in commerce and provide an innovative way for businesses to interact with their consumers, iBeacons have the potential to impact a wide range of industries and become more than just the next great marketing tool.
            h4.pl20.pr20 In addition to iBeacons being used by Real Estate Professionals, Home Builders, Property Developers and Property Managers, there are many examples out there. The following examples are from http://ibeaconsblog.com/keyword/bluetooth. It's still early days, but some of them you may already have come across.
      .container
        .row.pb100
          .col-sm-6(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/target.jpg'); height:312px;")
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Target
            | 
            p.pr15
              | Beacons will be launched in a pilot program at 50 Target stores. They are being very careful to avoid spamming their customers. Shoppers must first install the Target iOS App (Android is coming soon) and then opt-in to receive the notifications. Only a max of 2 push notifications for deals per visit will be sent.
            | 
            p.pr15
              | The other deals will be available in the app but will not be pushed. They will be using the data to help understand trends and customer preferences.
        .row.pb100
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Home Depot
            | 
            p
              | Home Depot not only sells hundreds of IoT products, they are also using them in their own stores. They had previously let their app users see how certain products might look in their homes.
            | 
            p 
              | More recently, they are connecting consumers' online shopping carts and wish lists with their in-store experience.
          .col-sm-6(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/home_depot.jpg'); height:312px;")
        .row.pb100
          .col-sm-6(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/macys.jpg'); height:312px;")
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Macy's
            | 
            p.pr15
              | Macy's launched iBeacons back in 2013 and now have over 4,000 in action. According to a company spokesman “In a funny way, we’re going back 100 years when people were known by name….when they walked in, people knew who they were, and they were greeted. They knew what they might be looking for based on their previous purchases.”
            | 
            p.pr15
              | Now departments in a store can arrange these experiences using iBeacons (e.g. the jewelry department can offer a discount on earrings).
        .row.pb100
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Groninger Museum
            | 
            p
              | This is a great example of how an art museum is using beacon technology. The visitor downloads the app from the App Store. When they walk through the museum, a beacon identifies when they are near a particular piece of art. The museum's app provides information about each display, using your distance from beacons placed alongside the exhibit.
            | 
            p 
              | As long as visitors to the museum have the app installed and Bluetooth turned on, they are automatically sent information on each artwork as they pass by. Beacons can be used to point the user to similar exhibits nearby, making it a personalized tour of the museum.
          .col-sm-6(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/groninger.jpg'); height:312px;")
        .row.pb100
          .col-sm-6(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/wisconsin.jpg'); height:312px;")
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | University of Wisconsin
            | 
            p.pr15
              | The new and improved Badger Gameday App was launched just in time for the volleyball teamâ€™s season opener. Updates include a better news display, in-venue replay and of course beacon integration. With the beacons (plus geofencing), fans will receive highly relevant content and location based notifications.
            | 
            p.pr15
              | Fans that opt in to the beacon functionality will be delivered content based on their location, activities, the time and their interests inside both Camp Randall and the Kohl Center.
        .row.pb100
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | MLB Stadiums
            | 
            p
              | In a bid to make the ballpark experience more engaging for fans, Major League Baseball plans to roll out Apple's new iBeacons technology to deliver targeted information and offers based on a fan's location within the park.
            | 
            p 
              | According to a new report, Citi Field, home of the Mets, is already experimenting with embedded videos, dynamic hot dog coupons, and straight-to-your-seat navigation. The augmented ballpark of the future, all built on iBeacons.
          .col-sm-6(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/mlb_stadium.jpg'); height:312px;")
        .row.pb100
          .col-sm-6(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/pikes_peak.jpg'); height:312px;")
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Pikes Peak Race
            | 
            p.pr15
              | The 99th Pikes Peak International Hill Climb (PPIHC) will have its own app for the first time. It will be providing customizable information andÂ can be used on iOS (including theApple Watch). Features include time race results, racer profiles and a detailed spectator guide. On site interviews and videos from vehicles will be posted as well.
            | 
            p.pr15
              | iBeacons will be used during the Fan Fest. Every vehicle with beacon technology that is near the user will be identified in real-time, even if they do not have access to the Internet.
        .row.pb100
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Virgin Atlantic
            | 
            p
              | Virgin Atlantic Airways was one of the earliest adopters of beacons in travel by installing beacons at London's Heathrow airport. An electronic boarding pass loaded on iPhone's Passbook app is able to receive messages from the beacons based on the user's location in Heathrow. 
            | 
            p 
              | The app then gives directions to the gate, and even warns you if you are going to be late or if the flight is delayed.
          .col-sm-6(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/virgin_atlantic.jpg'); height:312px;")
        .row.pb100
          .col-sm-6(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/ford_cars.jpg'); height:312px;")
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Ford
            | 
            p.pr15
              | Car dealers have plans to place beacons on showroom models. As a potential customer checks out the car, the beacon will send information straight to their smartphone. For example, one in the front could talk about its engine. One in the back could talk about its advanced parking technology.
            | 
            p.pr15
              | The beacons also could be used out in the lot, with off-hours shoppers getting pitched on highlights of the various models.
        .row.pb100
          .col-sm-6
            .heading.mb20.mt20
              h4
                span
                | Starbucks
            | 
            p
              | Starbucks is innovating with muchÂ more than free Wi-Fi in the tech space. They are on the cutting edge when it comes to big brands and IoT. They are rumored to have plans to make it possible for you to order a drink and then a beacon would notify the barista when you enter the store. 
            | 
            p 
              | A step in this direction is an experiment in New York with employees taking orders with a handheld device from customers as they enter the store.
          .col-sm-6(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/examples/starbucks.jpg'); height:312px;")