extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  .container
    section.content.mt30
      .row.mb30
        .col-xs-12
          .heading.mb15
            h2.purple RealEstateBeacons FAQ's
        .col-xs-12
          .row
            .col-lg-8.col-md-8.col-sm-8
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                      b What is an iBeacon?
                      i.fa.fa-plus.pull-right
                #collapseOne.panel-collapse.collapse.in
                  .panel-body
                    | An iBeacon is Apple's implementation of Bluetooth low-energy (BLE) wireless technology that broadcasts location-based information and services to nearby iPhones and other iOS devices. The beacons themselvers are small, matchbox sized devices. Apps installed on your iPhone listen out for the signal broadcast by these beacons and display information whenever the phone comes into range.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                      b What devices are supported?
                      i.fa.fa-plus.pull-right
                #collapseTwo.panel-collapse.collapse
                  .panel-body
                    | iBeacon arrived in iOS7, which means it works with iPhone 4s or later, iPad (third generation and onwards) iPad mini and iPod touch (fifth generation or later).
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                      b Does Google have something similar?
                      i.fa.fa-plus.pull-right
                #collapseThree.panel-collapse.collapse
                  .panel-body
                    | Yes. Google recently introduced a similar technology called Eddystone, most likely named after the famous lighthouse off the coast of England. The RealEstateBeacons™ team is currently working on a DROID version that supports this technology.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                      b Can I use iBeacons outside, or in a mailbox?
                      i.fa.fa-plus.pull-right
                #collapseFour.panel-collapse.collapse
                  .panel-body
                    | Yes. Attach them to any surface that is convenient to you. The beacons can be placed on yard signs, in or near a mailbox, at important places throughout the house, and even in a real estate office’s front window  – anywhere that gets traffic and where you have the opportunity to engage potential new clients.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
                      b What is the transmitting range of an iBeacon?
                      i.fa.fa-plus.pull-right
                #collapseFive.panel-collapse.collapse
                  .panel-body
                    | The range can vary from around 50-250 feet, but don’t count on this, as it can vary depending on a number of conditions.
                    | Note: Beware of large power consumption. GPS is very battery-intensive. Be guided by your own experience, but be wary of leaving the app open for the entire day, otherwise your mobile device will quickly run out of battery.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
                      b How long do iBeacons last?
                      i.fa.fa-plus.pull-right
                #collapseSix.panel-collapse.collapse
                  .panel-body
                    | iBeacons batteries can last for 2 to three years before they need to be replaced.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSeven")
                      b Does an Agent need to belong to an MLS to use RealEstateBeacons™?
                      i.fa.fa-plus.pull-right
                #collapseSeven.panel-collapse.collapse
                  .panel-body
                    | No. Since RealEstateBeacons does not pull information directly from any MLS, you can sign up and begin using RealEstateBeacons anywhere in the world today.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseEight")
                      b How is iBeacon different from more traditional GPS technology?
                      i.fa.fa-plus.pull-right
                #collapseEight.panel-collapse.collapse
                  .panel-body
                    | GPS is a Satellite-based technology best used in outdoor environments, For example many people use it to find directions on the road. However GPS systems are generally not suitable to establish indoor locations. Roofs, walls, microwaves and other obstructions can cause problems with the signal. In places like basements, for example, you may have a weak signal or even worse. Bluetooth technology is far better suited for applications like RealEstateBeacons™.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseNine")
                      b How do Home Buyers learn about the RealEstateBeacons™ app?
                      i.fa.fa-plus.pull-right
                #collapseNine.panel-collapse.collapse
                  .panel-body
                    | We offer a sign rider as well as a 24” x 18” free standing foam core poster that you can place inside the home to help educate visitors and encourage them to download the app. These marketing materials can be ordered from our website, or you can download the PDF file and have them printed yourself.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTen")
                      b How many iBeacons do I need?
                      i.fa.fa-plus.pull-right
                #collapseTen.panel-collapse.collapse
                  .panel-body
                    | A huge benefit of the RealEstateBeacons™ app is that just one beacon will display up to 10 different slides or rooms, each with more than enough text to fully describe the situation. So you can probably start with just one beacon in your property, and add further beacons later only if you choose to do so. Also keep in mind that once you sell this property you can reassign the Beacon to work with any new Listing.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseEleven")
                      b Does iBeacon mean I'll be bombarded with ads wherever I go?
                      i.fa.fa-plus.pull-right
                #collapseEleven.panel-collapse.collapse
                  .panel-body
                    | No. The beacons themselves won't do much unless you have the corresponding app downloaded on your mobile device, so you should be able to browse in relative peace. Also, in order for your device to detect a beacon, consumers must first turn on location services and enable Bluetooth.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwelve")
                      b Can I make it stop?
                      i.fa.fa-plus.pull-right
                #collapseTwelve.panel-collapse.collapse
                  .panel-body
                    | Yes – at any time you can change permissions under Location Services for the relevant app (accessed via Settings - Privacy - Location Services) or by switching off Bluetooth. When all else fails, simply delete the app! Note that beacons themselves do not “track” or detect anything. Only mobile devices do. So it is fully up to you whether you want to experience location-based broadcasts or not.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThirteen")
                      b Why choose RealEstateBeacons™ from Hillside Software?
                      i.fa.fa-plus.pull-right
                #collapseThirteen.panel-collapse.collapse
                  .panel-body
                    | RealEstateBeacons was developed by Hillside Software, a Real Estate Technology company that has been delivering cutting-edge products for over 20 years. 2) RealEstateBeacons offers 10 fully-customizable slides per beacon. This allows Agents to feature 10 areas of the home in a unique way. Or highlight up to 10 features in one part of the home. If you are looking for versatility and flexibility, RealEstateBeacons is the product for you.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFourteen")
                      b How do I get started with RealEstateBeacons™?
                      i.fa.fa-plus.pull-right
                #collapseFourteen.panel-collapse.collapse
                  .panel-body
                    | Download the app by clicking here or searching for RealEstateBeacons on the App Store. Real Estate Agents, Property Managers, Home builders and Developers can create a free trial account by visiting www.RealEstateBeacons.com. Please note that the iBeacons hardware and marketing materials are sold separately.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFifteen")
                      b Did we miss anything?
                      i.fa.fa-plus.pull-right
                #collapseFifteen.panel-collapse.collapse
                  .panel-body
                    | If so we would love to hear from you. We believe that great software ideas come from users like you, not programmers. We look forward to hearing your feedback and questions.
            // Begin Sidebar
            aside.col-lg-4.col-md-4.col-sm-4.mt30-xs
              nav(role="navigation")
                .content-box.content-box-primary.mb30
                  span.ion-help.text-white.bordered-icon-static-xs
                  | 							        
                  h2.pt15.text-white (303) 221- 4444
                  | 							        
                  a.p15xs.no-margin.text-white(href="mailto:info@realestatebeacons.com") info@realestatebeacons.com
                | 								
                .heading.mb20
                  h4 Contact
                | 								
                p.mb30
                  | We believe that great software ideas come from users like you, not programmers. We look forward to hearing your feedback and questions.
