extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  #royal_preloader
    .carousel
      #carouselHome.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner
          .item.active
            .background-main(style="background-image:url('images/home_builders.jpg');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
              .container
                .row.carousel-content.center-vertically-right
                  .fadeInRight-animated(data-animation="fadeInRight")
                    .carousel-description.mt275.col-sm-7.col-sm-offset-5
                      h3.heavy.text-white
                        span.carousel-title-bg Home Builders
                      h3.heavy.text-white
                        span.carousel-title-bg Turn Visitors Into Buyers With
                      h3.heavy.text-white
                        span.carousel-title-bg RealEstateBeacons
                      | 
                      p.carousel-title-bgdark Do your sales associates ever wish they could be in more than one place at once? RealEstateBeacons™ helps solve this problem. Let potential home buyers come in and show themselves around.
    .background-light-grey.mt100.pb60.border-bottom
      .container
        .row.pb100
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | iBeacon Real Estate Technology now tracks Home Analytics and Feedback
            | 
            p
              | The RealEstateBeacons app tracks how many people visited the home, how long they spent there, and whether they were interested or not. While this information is of great interest to home sellers, it can be invaluable for builders and property developers. They can now see how visitors move through the property and which rooms or features create the most interest for the longest time.
            | 
            p
              | This information allows developers and architects to design homes ideally suited for the needs of people who will live there in the future.
          .col-sm-7(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/home_builders1.jpg'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
        .row.pb100
          .col-sm-7(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/home_builders2.jpg'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | Beacon Home Tours provide huge savings on printing costs
            | 
            p.pr15
              | Remember the time and expense producing high quality brochures for your property? With RealEstateBeacons™ those days are over. Now prospective buyers can save iBeacon Tours in their ‘Favorites’ and recall them at any time. Think how much this feature alone will save you.
        .row.pb100
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | Come in and show yourself around
            | 
            p
              | Many buyers prefer seeing a property by themselves or with their partner, but won’t always notice features that set this home apart from the rest. As you tour the home the RealEstateBeacons™ app automatically points out awesome standout features, upgrade options, special offers and more.
            | 
            p
              | With up to 10 slides or rooms per beacon, you are limited only by your imagination.
          .col-sm-7(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/home_builders3.jpg'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
    .mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple Let RealEstateBeacons™ help sell your property and build client relationships for life
        .row
          .col-sm-12.mt40.mb20.text-center
            h4.lh24 Click below to learn about our limited time introductory Special Offer. Purchase one or as many iBeacons as you need and get started today.
        .row
          .col-sm-12.mb40.text-center
            a.btn.btn-primary.btn-rw(href="https://store7586710.ecwid.com/#!/Hardware/c/15245599", target="_blank")
              | Special Offer
    