extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content.mt30
    .row.mb30
      .col-xs-12
        .heading.mb15
          h3 Home Buyers
      .col-xs-12
        .row
          p Beacons provide a fun and exciting way for home buyers to tour a home.
          p Download the highly acclaimed RealEstateBeacons™ app on the Apple App store and let iBeacons inside the home display location aware property information on your mobile device as you pass by.
          p With RealEstateBeacons™ and a mobile device home buyers now have all the facts they need in the palm of their hand. You can send feedback to the Listing Agent and ask as many questions as you like. By adding this home to Your ‘Favorites’ list you can recall important information at any time. You can also find Nearby Places - Schools, Coffee Shops, Golf Courses, Gyms and more. Furthermore you can instantly get up-to-the-minute loan information and see what it would cost you to purchase this home.
          p Download RealEstateBeacons™ from the Apple Store now to get started.