doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Image Editor
    style(type="text/css")
      [ng-cloak]#splash{display:block!important}[ng-cloak]{display:none}#splash{display:none;position:absolute;top:45%;left:50%;width:6em;height:6em;overflow:hidden;border-radius:100%;z-index:0}@-webkit-keyframes fade{from{opacity:1}to{opacity:.2}}@keyframes fade{from{opacity:1}to{opacity:.2}}@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@keyframes rotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}#splash::after,#splash::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%}#splash::before{background:linear-gradient(to right,green,#ff0);-webkit-animation:rotate 2.5s linear infinite;animation:rotate 2.5s linear infinite}#splash::after{background:linear-gradient(to bottom,red,#00f);-webkit-animation:fade 2s infinite alternate,rotate 2.5s linear reverse infinite;animation:fade 2s infinite alternate,rotate 2.5s linear reverse infinite}#splash-spinner{position:absolute;width:100%;height:100%;z-index:1;border-radius:100%;box-sizing:border-box;border-left:.5em solid transparent;border-right:.5em solid transparent;border-bottom:.5em solid rgba(255,255,255,.3);border-top:.5em solid rgba(255,255,255,.3);-webkit-animation:rotate .8s linear infinite;animation:rotate .8s linear infinite}
    //- link(rel="stylesheet", href="assets/css/main.css?v10")
    link(href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900", rel="stylesheet", type="text/css")
  body#editor(ng-app="ImageEditor", ng-strict-di="")
    #splash(ng-cloak="")
      #splash-spinner
    div(ng-controller="MainController", ng-cloak="", style="height: 100%")
      section#right-panels
        section#objects.md-whiteframe-z1(ng-controller="ObjectsPanelController")
          h3(ed-toggle-panel-visibility="objects")
            span Layers
            i.mdi.mdi-expand-less
          ul.objects-panel.list-unstyled(ed-objects-panel-sortable="", ed-pretty-scrollbar="", ed-scroll-axis="y")
            li.object.panel-item(ng-repeat="object in objects", ng-click="setAsActive(object)", ng-if="!object.ignore")
              i.mdi.mdi-remove-red-eye.toggle-visibility(ng-class="{ 'not-visible': !object.visible }", ng-click="toggleVisibility(object); $event.stopPropagation();")
              i.mdi.mdi-delete.delete-object(ng-click="deleteObject(object); $event.stopPropagation();")
              i.mdi.mdi-lock-outline.lock-object(ng-class="{ 'not-locked': !object.locked }", ng-click="toggleLock(object); $event.stopPropagation();")
              | {{ spacify(object.name) || spacify(object.type) }}
            li.text-center(ng-if="!canvas.fabric._objects.length")
              h4 No layers yet.
        section#history.md-whiteframe-z1.panel-hidden
          h3(ed-toggle-panel-visibility="history")
            span History
            i.mdi.mdi-expand-less
          ul.history-panel.list-unstyled(ed-pretty-scrollbar="", ed-scroll-axis="y")
            li.history-item.panel-item(ng-click="history.load(item)", ng-repeat="item in history.all")
              i.mdi.mdi-{{.item.icon.}}.main-icon
              | {{ spacify(item.name) }}
            li.text-center(ng-if="history.all.length === 0")
              h4 No history items yet.
      section#spinner(ng-hide="!loading")
        md-progress-circular.md-spinner(md-diameter="100", md-mode="indeterminate")
      section#left-sidebar.md-whiteframe-z1(ed-tabs="basics")
        #sidebar-toggler(ed-toggle-sidebar="")
          md-button.md-fab.md-primary(aria-label="Toggle Sidebar")
            i.mdi.mdi-edit.show-icon
            i.mdi.mdi-close.close-icon
        #navigation-bar
          .nav-item(data-activates="basics")
            i.mdi.mdi-image
            .title BASICS
        #tabs
          section#basics.tab(data-index="1")
            h2.tab-title Basics
            .basics-item(ng-controller="CropController")
              div(ng-click="cropper.start($event)")
                i.mdi.mdi-crop.basics-icon
                .icon-title Crop
              .actions-menu.md-whiteframe-z1(data-name="crop", ng-class="activePanel == 'crop' ? 'open' : 'closed'")
                .menu-header
                  h3 Crop
                .row
                  md-input-container.col-sm-6
                    label Width
                    input(type="text", ng-model="width", ng-change="cropzone.setWidth(width)")
                  md-input-container.col-sm-6
                    label Height
                    input(type="text", ng-model="height", ng-change="cropzone.setHeight(height)")
                .buttons
                  md-button(ng-click="cropper.stop()") cancel
                  md-button.md-primary.md-raised(ng-click="cropper.crop()") crop
            .basics-item(ng-controller="RotateController")
              div(ng-click="startRotator($event)")
                i.mdi.mdi-rotate-right.basics-icon
                .icon-title Rotate
              .actions-menu.md-whiteframe-z1(data-name="rotate", ng-class="activePanel == 'rotate' ? 'open' : 'closed'")
                .menu-header
                  h3 Rotate
                .rotate-icons
                  i.mdi.mdi-rotate-left(ng-click="rotateProper(-90)")
                  i.mdi.mdi-rotate-right(ng-click="rotateProper(90)")
                section.menu-group
                  .md-slider
                    .slider-label Angle
                    md-slider(aria-label="Angle", step="1", ng-model="angle", ng-change="rotate(angle)", min="0", max="360")
                  .slider-input
                    input(type="number", ng-model="angle", ng-change="rotate(angle)", min="0", max="360")
                .buttons
                  md-button(ng-click="cancel()") cancel
                  md-button.md-primary.md-raised(ng-click="applyRotation()") apply
            .basics-item(ng-controller="ResizeController")
              div(ng-click="startResizer($event)")
                i.mdi.mdi-open-with.basics-icon
                .icon-title Resize
              .actions-menu.md-whiteframe-z1(data-name="resize", ng-class="activePanel == 'resize' ? 'open' : 'closed'")
                .menu-header
                  h3 Resize
                .clearfix
                  md-input-container.col-sm-6
                    label Width
                    input(type="number", ng-model="width", ng-change="aspectToHeight(width)")
                  md-input-container.col-sm-6
                    label Height
                    input(type="number", ng-model="height", ng-change="aspectToWidth(height)")
                md-checkbox(ng-model="usePercentages", ng-change="togglePercentages(usePercentages)") Use Percentages
                md-checkbox(ng-model="constrainProportions") Maintain Aspect Ratio
                .buttons.margin-top
                  md-button(ng-click="close()") close
                  md-button.md-primary.md-raised(ng-click="apply()") resize
            .basics-item(ng-controller="RoundedCornersController")
              div(ng-click="startRoundedCorners($event)")
                i.mdi.mdi-panorama-wide-angle.basics-icon
                .icon-title Round
              .actions-menu.md-whiteframe-z1(data-name="round", ng-class="activePanel == 'round' ? 'open' : 'closed'")
                .menu-header
                  h3 Round
                section.menu-group
                  .md-slider
                    .slider-label Radius
                    md-slider(aria-label="Radius", step="1", ng-model="radius", ng-change="adjustPreview()", min="1", max="350")
                  .slider-input
                    input(type="number", ng-model="radius", ng-change="adjustPreview()")
                .buttons
                  md-button(ng-click="cancel()") Cancel
                  md-button.md-primary.md-raised(ng-click="apply()") Apply
            .basics-item(ng-controller="CanvasBackgroundController")
              div(ng-click="openPanel('canvasColor', $event)")
                i.mdi.mdi-format-color-fill.basics-icon
                .icon-title Color
              .actions-menu.md-whiteframe-z1.fluid(data-name="canvasColor", ng-class="activePanel == 'canvasColor' ? 'open' : 'closed'")
                .menu-header
                  h3 Canvas Background Color
                input(type="text", ed-flat="", ed-color-picker="setBackground(color)")
                .buttons
                  md-button(ng-click="cancel()") Cancel
                  md-button.md-primary.md-raised(ng-click="apply()") Apply
            .basics-item(ng-class="{ disabled: canvas.fabric._objects.length <= 1 }")
              div(ng-click="canvas.mergeObjects()")
                i.mdi.mdi-merge-type.basics-icon
                .icon-title Merge
      section#viewport
        section#top-panel.md-whiteframe-z1(ng-controller="TopPanelController")
          md-button(ng-click="openUploadDialog($event)") Open
          md-button(ng-class="{ inactive: !historyPanelOpen }", ng-click="toggleRightPanel('history', $event)") History
          md-button(ng-class="{ inactive: !objectsPanelOpen }", ng-click="toggleRightPanel('objects', $event)") Layers
          md-button.md-primary.md-raised(ng-click="openSaveDialog($event)") Save
        canvas#canvas.md-whiteframe-z2(ng-show="started")
      #bottom-bar(ng-controller="ZoomController")
        section.zoom-container.md-whiteframe-z1
          .current-zoom {{ getCurrentZoom() }}%
          .zoom-slider
            md-slider(aria-label="zoom", step="1", ng-model="zoom", ng-change="doZoom()", min="{{ minScale }}", max="{{ maxScale }}")
          .action-icons
            i.mdi.mdi-filter-center-focus.fit-to-screen(ng-click="canvas.fitToScreen()")
              md-tooltip(md-delay="200") Fit to screen
            i.mdi.mdi-fullscreen.original-size(ng-click="canvas.zoom(1)")
              md-tooltip(md-delay="200") Original size
          div(ed-ie-slider-fix="")
      //- script(src="/js/vendor/image-editor/scripts.min.js")

      script#gradient-sheet-template(type="application/ng-template")
      md-bottom-sheet.bottom-sheet.gradients-sheet
        .items-list(ed-pretty-scrollbar="")
          .item.md-whiteframe-z1(ng-repeat="g in shapes.gradients", ng-style="{background: 'url(assets/images/gradients/'+($index+1)+'.png)'}", ng-click="shapes.fillWithGradient($index+1)")
      script#image-sheet-template(type="application/ng-template")
      md-bottom-sheet.bottom-sheet.images-sheet
        .upload-new(ng-click="showDialog($event)")
          i.mdi.mdi-cloud-upload
          span.icon-label Upload
        .items-list(ed-pretty-scrollbar="")
          .item.md-whiteframe-z1(ng-repeat="t in shapes.textures track by $index", ng-style="{background: 'url(assets/images/textures/'+$index+'.png)'}", ng-click="shapes.fillWithImage('assets/images/textures/'+$index+'.png')")
      script#texture-upload-dialog-template(type="application/ng-template")
      md-dialog.upload-file-dialog
        md-input-container
          label Image URL
          input(type="text", ng-model="imageBgUrl", ng-change="shapes.fillWithImage(imageBgUrl)", ng-model-options="{ debounce: 500 }")
        h2
          span OR
        label.pretty-upload
          input(type="file", ed-file-uploader="shapes.fillWithImage", ed-close-after="")
          i.mdi.mdi-cloud-upload
          span.upload-button-label Upload From Computer
      script#save-image-dialog(type="application/ng-template")
      md-dialog.upload-file-dialog.save-dialog
        md-input-container
          label File Name
          input(type="text", ng-model="imageName")
        md-radio-group(ng-model="imageType")
          md-radio-button(value="jpeg") JPEG
          md-radio-button(value="png") PNG
        div(ng-if="imageType === 'jpeg'")
          .slider-label Quality {{ imageQuality }}
          md-slider(aria-label="Angle", md-discrete="", ng-model="imageQuality", step="1", min="1", max="10")
        md-button.md-raised.md-primary(ng-click="saveImage($event)") Save
        .demo-alert(ng-if="isDemo") Image saving is disabled on demo site.
      script#main-image-upload-dialog-template(type="application/ng-template")
      md-dialog.upload-file-dialog
        div(ng-show="openImageMode === 'open'")
          md-input-container
            label Image URL
            input(type="text", ng-model="openImageUrl", ng-change="showImagePreview(openImageUrl)", ng-model-options="{ debounce: 500 }")
          h2
            span OR
          label.pretty-upload
            input(type="file", ed-file-uploader="showImagePreview")
            i.mdi.mdi-cloud-upload
            span.upload-button-label Upload From Computer
          h2
            span OR
          .buttons(ng-show="!canOpenImage")
            md-button.md-primary(ng-click="openImageMode = 'create'") Create New
            md-button(ng-click="openSampleImage()") Sample
          div(ng-show="canOpenImage")
            .img-preview
            .buttons
              md-button.md-primary.md-raised(ng-click="openImage()") Open
              md-button.md-raised(ng-click="closeUploadDialog()") Close
        .new-canvas(ng-show="openImageMode === 'create'")
          md-input-container
            label Width
            input(type="number", min="1", max="5000", ng-model="canvasWidth")
          md-input-container
            label Height
            input(type="number", min="1", max="5000", ng-model="canvasHeight")
          .buttons
            md-button.md-raised(ng-click="openImageMode = 'open'") Cancel
            md-button.md-primary.md-raised(ng-click="createNewCanvas(canvasWidth, canvasHeight)") Create
      script#modals-polygon.html(type="text/ng-template")
      md-dialog.md-modal
        .md-modal-header
          h1 Polygon Instructions
          .md-close-modal(ng-click="closeModal()")
            i.mdi.mdi-close
        ol
          li Click on the canvas where you want to start the polygon edge.
          li Drag your mouse.
          li Click again where you want to end the edge.
          li Repeat to add more edges.
          li Hit escape or click anywhere outside of canvas to finish.
        .buttons
          md-button.md-primary.md-raised(ng-click="closeModal()") got it
