extends ../themes/default2.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  header
    #stuck_container.stuck_container
      .container
        .navbar-header
          h1.navbar-brand
            a(href='./') MailJet
        nav.navbar.navbar-default.navbar-static-top
          ul.navbar-nav.sf-menu.navbar-right(data-type='navbar')
            li.active
              a(href='./') About us
            li.dropdown
              a(href='index-1.html') Our services
              ul.dropdown-menu
                li
                  a(href='#') News
                li
                  a(href='#') Events
                  ul.dropdown-menu
                    li
                      a(href='#') Setup
                    li
                      a(href='#') Marketing
                li
                  a(href='#') Prices
            li
              a(href='index-2.html') Clients
            li
              a(href='index-3.html') Careers
            li
              a(href='index-4.html') Contacts
    .header-slogan
      .container
        .h2 Meet The Mail Jet
        .h3 The Best Mail Service On The Web!
        .btn-wrap
          a.btn.btn-light(href='#') Sign Up
          a.btn.btn-light.btn-light2(href='#')
            span.fa.fa-play-circle-o
            |  Take a Tour
  main
    section.well
      .container.center767
        ul.list-icon.row.clear-col-float
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.2s')
            .icon
              span.fl-bigmug-line-airplane86
            h5 Jet Mailer
            p
              | MailJet's send time optimization recommends the best send time within 24 hours of your
              | selected delivery date.
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.4s')
            .icon
              span.fl-bigmug-line-attach8
            h5 Files attach
            p
              | Add files and one-to-one conversations to profiles, so you can remember who your customers
              | are. And you can access it all
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.6s')
            .icon
              span.fl-bigmug-line-big104
            h5 Geotargeting
            p
              | Access your MailJet account from your phone with MailJet Mobile. Check your reports, add
              | notes about a contact
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.6s')
            .icon
              span.fl-bigmug-line-circular228
            h5 Dashboard
            p
              | In addition to the reports that come with every account, MailJet offers plenty of advanced
              | reporting options that you want
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.4s')
            .icon
              span.fl-bigmug-line-cellular9
            h5 Responsive emails
            p
              | Our templates and forms are mobile-ready out of the box, so you don't have to worry about
              | coding anything special to make
          li.col-md-4.col-sm-4.col-xs-6.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.2s')
            .icon
              span.fl-bigmug-line-planetary2
            h5 52 Countries
            p
              | Edit campaigns, collaborate with your team, and send from a tablet with MailJet Editor. And
              | with Jetadeedoo,
    section.bg-img1
      .container
        .row
          .col-md-5.col-sm-6.col-xs-12.wow.fadeIn
            h4.lh--mod.ff--default.fw-n MailJet helps you email the right people at the right time.
            p
              | Send automated emails based on customer behavior and preferences. Get started with pre-built
              | Workflows or use our built-in segmentation and targeting options to build
            a.btn.btn-default(href='#') Sign Up
    section.well2
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6.wow.fadeInRight(data-wow-duration='2s', data-wow-delay='0.2s')
            p.badge.h2
              | 259
              span.fl-bigmug-line-checkmark14
            h5 Projects Completed
          .col-md-3.col-sm-6.col-xs-6.wow.fadeInRight(data-wow-duration='2s', data-wow-delay='0.4s')
            p.badge.h2
              | 108
              span.fl-bigmug-line-circular220
            h5 Awards Received
          .col-md-3.col-sm-6.col-xs-6.wow.fadeInRight(data-wow-duration='2s', data-wow-delay='0.6s')
            p.badge.h2
              | 10346k
              span.fl-bigmug-line-code30
            h5 Lines of Code
          .col-md-3.col-sm-6.col-xs-6.wow.fadeInRight(data-wow-duration='2s', data-wow-delay='0.8s')
            p.badge.h2
              | 306
              span.fl-bigmug-line-cocktail26
            h5 Glasses of Martini
    section.parallax.well3.wow.fadeIn.text-center.white(data-url='images/parallax1.jpg', data-mobile='true', data-speed='1')
      .container
        h4.text-uppercase.fw-b.lh--mod
          | Best professional tools
          br
          | for your business
        a.btn.btn-default(href='#') Sign Up
    section.well4
      .container
        h3.text-center Pricing Plans
        .row
          .col-lg-10.col-md-12.col-sm-12.col-xs-12.col-lg-offset-1.wow.fadeIn
            .price-box
              .panel.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.8s')
                h5 Basic
                p.price
                  | $29
                  span per mouth
                p
                  | Perfect for a blog or personal site, contact our Sales team to discuss the best
                  | MailJet solution for your organization.
                ul.marked-list
                  li Up to 15 members
                  li Data export
                  li SSO & SAML
                  li.disabled Unlimited projects
                  li.disabled Premium Dashboards
                  li.disabled Support
                a.btn-lg(href='#') select plan
              .panel.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.6s')
                h5 Small Company
                p.price
                  | $49
                  span per mouth
                p
                  | Ideal for businesses of all sizes, contact our Sales team to discuss the best MailJet
                  | solution for your organization.
                ul.marked-list
                  li Up to 15 members
                  li Data export
                  li SSO & SAML
                  li Unlimited projects
                  li.disabled Premium Dashboards
                  li.disabled Support
                a.btn-lg(href='#') select plan
              .panel.active.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.4s')
                p.heading recommended
                h5 Big Company
                p.price
                  | $59
                  span per mouth
                p
                  | Ideal for heavy traffic sites, contact our Sales team to discuss the best MailJet
                  | solution for your organization.
                ul.marked-list
                  li Up to 15 members
                  li Data export
                  li SSO & SAML
                  li Unlimited projects
                  li Premium Dashboards
                  li.disabled Support
                a.btn-lg(href='#') select plan
              .panel.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.2s')
                h5 Corporate
                p.price
                  | $199
                  span per mouth
                p
                  | For large or complex teams, contact our Sales team to discuss the best MailJet
                  | solution for your organization.
                ul.marked-list
                  li Up to 15 members
                  li Data export
                  li SSO & SAML
                  li Unlimited projects
                  li Premium Dashboards
                  li Support
                a.btn-lg(href='#') select plan
    section.bg-img2
      .container
        h3 Beautiful E-mail Templates
        .h5.fw-n You can choose from 1000+ well designed professional templates
        a.btn.btn-default(href='#') View All
    section.bg-img3
      .container
        h3 Testimonials
        .row
          .col-lg-7.col-md-9.col-sm-9.col-xs-12.col-lg-offset-1.wow.fadeIn
            .owl-carousel
              .item
                blockquote
                  p
                    q
                      | For luxury retailer, Billy Reid, MailJet is more than just a way to let
                      | customers
                      | know about new products. They offer first dibs on sales to their most engaged
                      | readers, have unique ways of deciding the time of day to send their emails, and
                      | even base new brick-and-mortar store locations on their email zip code data. We
                      | visited Florence, Ala. and spoke with Billy Reid's director of e-commerce,
                  p
                    cite.fw-b Bob Dilan, Owner
              .item
                blockquote
                  p
                    q
                      | I would just like to say thank you for your prompt and effective service, for
                      | your friendly and professional support staff! I will recommend your expert
                      | company to all my friends.
                  p
                    cite.fw-b Rob Smith, Client
              .item
                blockquote
                  p
                    q
                      | Hi, guys! You’ve solved my problem in no time! Your efficient services and
                      | customer care are second to none! I am very happy! I will surely share my
                      | experience with my friends!
                  p
                    cite.fw-b Sarah Johnson, Custome
    section.well5.bg-info
      .container
        .h3 Don’t waste time! Start using!
        a.btn.btn-default(href='#') Sign Up
  footer
    .container.center767
      section
        h6 Follow Us on Social Networks
        ul.inline-list
          li
            a.fa-facebook-square(href='#')
          li
            a.fa-linkedin-square(href='#')
          li
            a.fa-instagram(href='#')
          li
            a.fa-pinterest-square(href='#')
          li
            a.fa-twitter-square(href='#')
      p.copyright
        span#copyright-year
        |  copiryght by MailJet.
        a(href='index-5.html')
          | Privacy
          | Policy
        |             More Email Services Website Templates at
        a(rel='nofollow', href='http://www.templatemonster.com/category/email-services-website-templates/', target='_blank') TemplateMonster.com
