extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  #royal_preloader
    .carousel
      #carouselHome.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner
          .item.active
            .background-main(style="background-image:url('images/Home 3 Exterior Adjusted.png');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
              .container
                .row.carousel-content.center-vertically-right
                  .fadeInRight-animated(data-animation="fadeInRight")
                    .carousel-description.mt275.col-sm-6
                      h3.heavy.text-white
                        span.carousel-title-bg Selling a Property?
                      h3.heavy.text-white
                        span.carousel-title-bg Turn Visitors Into Buyers With
                      h3.heavy.text-white
                        span.carousel-title-bg RealEstateBeacons
                      | 
                      p.carousel-title-bgdark Download the RealEstateBeacons app and show yourself around. Innovative Beacons inside the home transmit detailed property information to your mobile device as you pass by. With RealEstateBeacons, you now have all the facts you need in the palm of your hand.
                  | 
                  .fadeInLeft-animated(data-animation="fadeInLeft")
                    .mt250.col-sm-5.col-sm-offset-1
                      img.img-responsive.carousel-image(src="images/phones.png", alt="RealEstateBeacons Demo")
                .row.carousel-content.center
                  .fadeInRight-animated(data-animation="fadeInRight")
                    .mt20.col-sm-2.col-sm-offset-4
                      img.img-responsive.carousel-image(src="images/appstore.png", href="https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8" target="_blank" alt="Download on iTunes")
    .background-light-grey.pt100.pb60.border-bottom
      .container
        .row.pb100
          .col-sm-8
            .heading.mb20.mt20
              h4
                span
                | iBeacons in the home transmit property information to your mobile device as you pass by
            | 
            p
              | Since Apple introduced iBeacons a number of companies have announced innovative and exciting ways to interact with their customers. These include major retailers like Macys, Starbucks, Home Depot, Target and even Major League Baseball. Now Real Estate professionals are using iBeacon Realty technology to create new business opportunities by enhancing the home buying and selling experience.
          .col-sm-4(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/noqui-hand.png'); height:300px; background-repeat:no-repeat; background-color:#fafafa;")
        .row.pb100
          .col-sm-4(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/ibeacons.jpg'); height:300px; background-repeat:no-repeat; background-color:#fafafa;")
          .col-sm-8
            .heading.mb20.mt20
              h4
                span
                | What are iBeacons?
            | 
            p.pr15
              | iBeacons are small Bluetooth transmitters, not much bigger than a matchbox, that 'wake up' your mobile device to display location-aware information as you pass by.
            | 
            p.pr15
              | For Real Estate Professionals, iBeacon technology is the next best thing to actually being there when a prospective buyer tours your property. Place one or more iBeacons at key locations throughout the home and automatically draw attention to important features as visitors walk by.
        .row.pb100
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | How does it work?
            | 
            p
              | SETTING UP YOUR IBEACON TOUR COULD NOT BE EASIER.
            | 
            p
              | Visit RealEstateBeacons.com and order as many Real Estate Beacons as you like. With our technology just one iBeacon per property is usually enough to get started, as we can display up to 10 slides or rooms per beacon. Once your order is processed you will  be asked to email us the property photos and details. Our crack team of SEO and design professionals will then create your tour for you. 100% satisfaction guarantee.
          .col-sm-7(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/phones.png'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
    .pt40.pb40.border-top
      .container
        .row
          .col-sm-4.mt20
            .heading.mb20
              h4
                span
                | REAL ESTATE BEACONS PROPERTY TOURS
            | 
            p
              | Download the Real Estate Beacons app and receive property information as you walk through the home. Easily locate nearby places such as schools, coffee shops, golf courses, gyms and more.
            .heading.mb20.mt100
              h4
                span
                | SAVE AND RECALL FAVORITES
            | 
            p
              | Add homes to your 'favorites' list and recall important information at any time.
          .col-sm-4(data-sr="enter left")
            #homeCarousel3.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#homeCarousel3", data-slide-to="0")
                | 
                li(data-target="#homeCarousel3", data-slide-to="1")
                | 
                li(data-target="#homeCarousel3", data-slide-to="2")
                | 
                li(data-target="#homeCarousel3", data-slide-to="3")
                | 
                li(data-target="#homeCarousel3", data-slide-to="4")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/demo1.png'); height:440px;")
                | 
                .item
                  div(style="background-image:url('images/demo2.png'); height:440px")
                | 
                .item
                  div(style="background-image:url('images/demo3.png'); height:440px")
                | 
                .item
                  div(style="background-image:url('images/demo4.png'); height:440px")
                | 
                .item
                  div(style="background-image:url('images/demo5.png'); height:440px")
              a.left.carousel-control(href="#homeCarousel3", role="button", data-slide="prev")
                span.ion-ios7-arrow-left.carousel-arrow-left(aria-hidden="true")
              | 
              a.right.carousel-control(href="#homeCarousel3", role="button", data-slide="next")
                span.ion-ios7-arrow-right.carousel-arrow-right(aria-hidden="true")
          .col-sm-4.mt20
            .heading.mb20
              h4
                span
                | ALL THE FACTS IN THE PALM OF YOUR HAND
            | 
            p
              | Learn everything you need to know about this property. Send feedback to the seller or Listing Agent and ask as many questions as you like. Save personal notes and comments about each property.
            .heading.mb20.mt100
              h4
                span
                | BEST LOAN RATES
            | 
            p
              | Get up-to-the-minute loan information and see what it would cost you to own this home.