extends ../themes/default.jade

block body
  .mt40.mb40
    .container
      // Begin Title
      .row
        .col-sm-12.mb20
          .heading
            h4 About us
      // Begin Accordion Row
      .row
        .col-sm-6(data-sr="enter left")
          // Begin Accordion
          #accordion.panel-group
            // Item 1
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                    | We have over
                    b 30+
                    | features pages.
              // /panel heading
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  | We built this template keeping in mind the features you might need on your next project. Giving you a variety of components to utilize, a variety of pages to build on, and all of the plugins you might need, already configured for Bootstrap 3. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
              // /panel collapse
            // /panel
            // Item 2
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                    | We like pre built
                    i components
                    | .
              // /panel heading
              #collapseTwo.panel-collapse.collapse
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
              // /panel collapse
            // /panel
            // Item 3
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                    | We like to sleep.
              // /panel heading
              #collapseThree.panel-collapse.collapse
                .panel-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
              // /panel collapse
            // /panel
          // /panel group
          // Button
          .text-center
            a.btn.btn-rw.btn-primary(href="pages-about-us-team.html")
              | About us
          // /button
        // /column
        // Begin Image
        .col-sm-6(data-sr="enter bottom")
          img.img-responsive.showcase-image(src="images/showcase.png", alt="Responsive Showcase 2")
        // /column
      // /row
      // End Accordion Row
    // /container
  // /content
  // End Accordion + IMG
  // Begin Carousel + Intro
  .background-light-grey.pt40.pb40.border-top
    .container
      // Begin Carousel + Content
      .row
        // Begin Carousel
        .col-sm-4(data-sr="enter left")
          #homeCarousel2.carousel.slide(data-ride="carousel")
            // Indicators
            ol.carousel-indicators
              li.active(data-target="#homeCarousel2", data-slide-to="0")
              li(data-target="#homeCarousel2", data-slide-to="1")
              li(data-target="#homeCarousel2", data-slide-to="2")
            // Wrapper for slides
            .carousel-inner
              .item.active
                div(style="background-image:url('images/backgrounds/stock2.jpg'); height:260px;")
              .item
                div(style="background-image:url('images/backgrounds/stock7.jpg'); height:260px")
              .item
                div(style="background-image:url('images/backgrounds/stock1.jpg'); height:260px")
            // Controls
            a.left.carousel-control(href="#homeCarousel2", role="button", data-slide="prev")
              span.ion-ios7-arrow-left.carousel-arrow-left(aria-hidden="true")
            a.right.carousel-control(href="#homeCarousel2", role="button", data-slide="next")
              span.ion-ios7-arrow-right.carousel-arrow-right(aria-hidden="true")
        // /column
        // End Carousel
        // Content Inside
        .col-sm-8
          .heading.mb20.mt30-xs
            h4
              span.ion-beaker.mr15
              | The Studio
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia,
            a.tooltip-active(data-toggle="tooltip", data-placement="top", title="Tooltip on top") adipiscing
            | nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.
          // List
          ul.list-arrow-2-color.no-margin
            li
              small Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. 
            li
              small Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.
            li
              small Nulla volutpat aliquam velit
            li
              small Faucibus porta lacus fringilla vel
        // /column
        // End Content Inside
      // /row
      // End Carousel + Content
    // /container
  // /content
  // End Carousel + Intro
  // Begin Recent Work + Clients
  section.pt40.mb40.border-top
    .container
      .row
        .col-lg-12
          .heading.mb30
            h4
              span.ion-android-social-user.mr15
              | Recent Work
            .owl-controls
              #customNav.owl-nav
          #owl-carousel-thumb.owl-carousel
            .thumbnail
              .caption.v-wrap
                .thumbnail-caption-holder.v-box
                  h4.text-white The Latia Project
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock1.jpg", alt="...")
            .thumbnail
              .caption
                .thumbnail-caption-holder
                  h4.text-white Goose UI
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock2.jpg", alt="...")
            .thumbnail
              .caption
                .thumbnail-caption-holder
                  h4.text-white Schroder"s List
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock3.jpg", alt="...")
            .thumbnail
              .caption
                .thumbnail-caption-holder
                  h4.text-white NO Pelicans
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock4.jpg", alt="...")
            .thumbnail
              .caption
                .thumbnail-caption-holder
                  h4.text-white Fanbango
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock5.jpg", alt="...")
            .thumbnail
              .caption
                .thumbnail-caption-holder
                  h4.text-white The Latia Project
                  a.btn.btn-rw.btn-clear(href="#")
                    span.ion-android-search
                    | View
              img(src="images/backgrounds/stock6.jpg", alt="...")
      .row
        // Client 1
        .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/boomerang.png", alt="Client 1")
        // Client 2
        .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/backlight.png", alt="Client 2")
        // Client 3
        .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/equi.png", alt="Client 3")
        // Client 4
        .col-sm-2.col-xs-4(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/ome.png", alt="Client 4")
        // Client 5
        .col-sm-2.col-xs-4(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/euro.png", alt="Client 5")
        // Client 6
        .col-sm-2.col-xs-4(data-sr="enter left")
          a(href="#")
            img.img-responsive.clients-img(src="images/logos/micro.png", alt="Client 6")
      // /row
    // /container
  // /section
  // End Recent Work + Clients
  // Begin Footer
  footer.footer
    .row
      // About
      .col-sm-3
        .heading-footer
          h4 About
        p Raleway Bootstrap 3 Template is what you need for your next project or client.
        a.btn.btn-primary.btn-rw.mt10(href="features.html")
          | Buy now
      // Social
      .col-sm-3.mg25-xs
        .heading-footer
          h4 Social Networks
        a.btn.btn-social-icon.btn-twitter.btn-lg
          i.fa.fa-twitter
        a.btn.btn-social-icon.btn-instagram.btn-lg
          i.fa.fa-instagram
        a.btn.btn-social-icon.btn-facebook.btn-lg
          i.fa.fa-facebook
        a.btn.btn-social-icon.btn-vimeo.btn-lg
          i.fa.fa-vimeo-square
        a.btn.btn-social-icon.btn-linkedin.btn-lg
          i.fa.fa-linkedin
        a.btn.btn-social-icon.btn-google-plus.btn-lg
          i.fa.fa-google-plus
        a.btn.btn-social-icon.btn-adn.btn-lg
          i.fa.fa-adn
        a.btn.btn-social-icon.btn-bitbucket.btn-lg
          i.fa.fa-bitbucket
        a.btn.btn-social-icon.btn-tumblr.btn-lg
          i.fa.fa-tumblr
        a.btn.btn-social-icon.btn-flickr.btn-lg
          i.fa.fa-flickr
      // Contact
      .col-sm-3.mg25-xs
        .heading-footer
          h4 Contact us
        p
          span.ion-home.footer-info-icons
          small.address 228 Park Ave S New York, NY 10003
        p
          span.ion-email.footer-info-icons
          small.address
            a(href="mailto:info@raleway.com") info@raleway.com
        p
          span.ion-ios7-telephone.footer-info-icons
          small.address +11192386513
      // Recent Work
      .col-sm-3.hidden-xs
        .heading-footer
          h4 Recent Work
        .col-xs-4.recent-work-padding
          a.thumbnail.image-zoom-link(href="images/projects/web2.jpg")
            img.thumbnail.img-responsive(src="images/projects/thumbs/web2.jpg", alt="...")
        .col-xs-4.recent-work-padding
          a.thumbnail.image-zoom-link(href="images/projects/web3.jpg")
            img.thumbnail.img-responsive(src="images/projects/thumbs/web3.jpg", alt="...")
        .col-xs-4.recent-work-padding
          a.thumbnail.image-zoom-link(href="images/projects/illustration1.jpg")
            img.thumbnail.img-responsive(src="images/projects/thumbs/illustration1.jpg", alt="...")
    // /row
    // Copyright
    .row
      hr.dark-hr
      .col-sm-11.col-xs-10
        p.copyright
          | &#169; 2015 #{copyright}
      .col-sm-1.col-xs-2.text-right
        a.scroll-top(href="#")
          .footer-scrolltop-holder
            span.ion-ios7-arrow-up.footer-scrolltop
