.left-nav
  .list-group
    a.list-group-item(href="properties.html")
      i.fa.fa-home 
      | Properties
    a.list-group-item(href="beacons.html")
      i.fa.fa-wifi 
      | Beacons
    a.list-group-item(href="profile.html")
      i.fa.fa-gear
      | My Profile
