extends ../themes/default.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  center(align="center")
    .modal-dialog.modal-lg(ng-if="user")
      .modal-content(ng-controller='AuthController')
        .modal-header
          center(align="center")
            h4#loginLabel.modal-title Login
        .modal-body.non-modal
          .alert.alert-danger.alert-danger-rw(role="alert")
            b Oops!
            | It looks like you are already logged in! Please click, 'Dashboard' at the top to visit your account dashboard. If you'd like to log into a different account, please click the 'Sign Out' button below.
          center(align="center")
            button.btn.btn-rw.btn-danger(type="button", ng-click="$root.logout2()") Sign Out
    .modal-dialog.modal-sm(ng-if="!user")
      .modal-content(ng-controller='AuthController')
        .modal-header
          center(align="center")
            h4#loginLabel.modal-title Login
        .modal-body.non-modal
          form(role="form", name="frm", ng-submit="login()")
            .form-group
              label Email Address
              input.form-control(type="email", ng-model="username", name="email", placeholder="Enter Email", ng-required="true")
            .form-group
              label Password
              input.form-control(type="password", ng-model="password", name="password", ng-minlength="4", placeholder="Password", ng-required="true")
            center(align="center")
              .alert.alert-info(ng-if="status") {{status}}
              .alert.alert-danger(ng-if="error") {{error}}
              .alert.alert-danger(ng-if="!username || !password") Please fill out all required fields.
              button.btn.btn-rw.btn-primary(type="submit", ng-disabled="!username || !password") Login
              .row
                br
                a(data-toggle="modal", data-target="#passwordModal") Forgot Password

  #passwordModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") &#215;
            span.sr-only Close
          center(align="center")
            h4#mediumModalLabel.modal-title Retrieve Password
        .modal-body
          span If you have forgotten your password or are having trouble signing in, please contact support to have your password reset.
          br
          .row
            br
            center(align="center")
              button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Close