extends ../themes/default.jade

block scripts
  script(src='../js/jquery-cloudinary.min.js')
  
block body
  h1 Bootstrap and Cloudinary Responsive Images
  hr
  h2
    | Always use 4 columns
    p
  .row
    .col-xs-3
      a.thumbnail(href='#')
        img.img-responsive.cld-responsive(src='http://res.cloudinary.com/demo/image/upload/w_auto,dpr_auto,c_limit/co_white,l_text:Arial_18_bold:+w_auto%0A+dpr_auto/sample.jpg')
    .col-xs-3
      a.thumbnail(href='#')
        img.img-responsive.cld-responsive(src='http://res.cloudinary.com/demo/image/upload/w_auto,dpr_auto,c_limit/co_white,l_text:Arial_18_bold:+w_auto%0A+dpr_auto/sample.jpg')
    .col-xs-3
      a.thumbnail(href='#')
        img.img-responsive.cld-responsive(src='http://res.cloudinary.com/demo/image/upload/w_auto,dpr_auto,c_limit/co_white,l_text:Arial_18_bold:+w_auto%0A+dpr_auto/sample.jpg')
    .col-xs-3
      a.thumbnail(href='#')
        img.img-responsive.cld-responsive(src='http://res.cloudinary.com/demo/image/upload/w_auto,dpr_auto,c_limit/co_white,l_text:Arial_18_bold:+w_auto%0A+dpr_auto/sample.jpg')
  script(type='text/javascript').
    $.cloudinary.responsive()
