extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content(ng-controller='AuthController')
    .row.mb30.mt30
      .col-xs-12
        .heading.mb15
          h3 Packages &#38; Pricing
      .col-xs-12.mb15
        p.price-text Real Estate Beacons for Agents. Regular price is $39 per month for UNLIMITED listings.

        .cta-primary.mt15.mb15
          .row
            .col-lg-10.col-md-9
              h4.text-uppercase.no-margin.text-white
                span.heavy Special Introductory Offer!
              p.text-white
                | $29 per month - unlimited plan includes ALL your Listings. No long term contract required! (Sorry - no partial monthly refunds).
              p.text-white
                | OR, pay $348 for one year up front and get 13th month FREE!
            //- .col-lg-2.col-md-3.mt15-md
            //-   a.btn.btn-rw.btn-scroll.btn-danger.btn-pricing(href="#Contact") Contact

        p.price-text NOTE: Beacons, Marketing Posters and Sign Riders sold separately for a one-time setup fee.
        p.price-text NOTE: Our app shows up to 10 slides or rooms per Beacon - provides you huge saving by reducing the number of beacons you need to buy.
        p.price-text BEACONS: Order as many as you need. $35 each.
        p.price-text PERSONAL BRANDED MARKETING SIGN: 24x18 foam core free-standing marketing sign (See demo link) for $34 each. Used to help generate leads and inform visitors about the app.
        p.price-text PERSONAL BRANDED SIGN RIDER: Inform prospective buyers as they pass by that they can tour the home and view the custom listing profile by downloading the app with the $30 sign rider.
        p.price-text Beacons and Marketing signs are part of the setup fee which is not refundable.
        p.price-text Please contact us directly at info@RealEstateBeacons.com for broker and volume discounts or to learn about our sponsorship affiliates program.

        center(align="center")
          h4 All beacon and sign pricing below are a ONE-TIME setup fee and do not add to the subscription rate.

        ul.cd-pricing
          li
            header.cd-pricing-header
              h2 Basic
              .cd-price
                span.pricing-modal.right $35
                span.pricing-term Each
            // .cd-pricing-header
            .cd-pricing-features.pricing-modal
              ul.pricing-modal
                li.fa.green.fa-check
                  em.pricing-page Beacon
                li.fa.fa.red.fa-times
                  em.pricing-page Indoor 18"x24" Sign
                li.fa.fa.red.fa-times
                  em.pricing-page Outdoor Sign Rider
            // .cd-pricing-features
            button.btn.btn-price.btn-rw.btn-primary(href="/signup.html", ng-if="!user") Buy Now
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top", ng-if="user")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="LCC4FGXFXNA3A")
              input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
              img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
            // .cd-pricing-footer
          li
            header.cd-pricing-header
              h2 Premium
              .cd-price
                span.pricing-term Starting at
                span.pricing-modal.right $53
            // .cd-pricing-header
            .cd-pricing-features.pricing-modal
              ul.pricing-modal
                li.fa.green.fa-check
                  em.pricing-page Beacon
                li.fa.green.fa-check
                  em.pricing-page Indoor 18"x24" Sign
                li.fa.fa.red.fa-times
                  em.pricing-page Outdoor Sign Rider
            // .cd-pricing-features
            button.btn.btn-price.btn-rw.btn-primary(href="/signup.html", ng-if="!user") Buy Now
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top", ng-if="user")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="5G43K3JWJR2N4")
              input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
              img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
            // .cd-pricing-footer
          li
            header.cd-pricing-header
              h2 Ultimate
              .cd-price
                span.pricing-term Starting at
                span.pricing-modal.right $61
            // .cd-pricing-header
            .cd-pricing-features.pricing-modal
              ul.pricing-modal
                li.fa.green.fa-check
                  em.pricing-page Beacon
                li.fa.green.fa-check
                  em.pricing-page Indoor 18"x24" Sign
                li.fa.green.fa-check
                  em.pricing-page Outdoor Sign Rider
            // .cd-pricing-features
            button.btn.btn-price.btn-rw.btn-primary(href="/signup.html", ng-if="!user") Buy Now
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top", ng-if="user")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="6A7PHVB9DE9VN")
              input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
              img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
            // .cd-pricing-footer
        // .cd-pricing
        //- .cd-form
        //-   .cd-plan-info
        //-     // content will be loaded using jQuery - according to the selected plan
        //-   .cd-more-info
        //-     h3
        //-       | Need help?
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        //-   form(action="")
        //-     fieldset
        //-       legend Account Info
        //-       .half-width
        //-         label(for="userName") Name
        //-         input#userName(type="text", name="userName")
        //-       .half-width
        //-         label(for="userEmail") Email
        //-         input#userEmail(type="email", name="userEmail")
        //-       .half-width
        //-         label(for="userPassword") Password
        //-         input#userPassword(type="password", name="userPassword")
        //-       .half-width
        //-         label(for="userPasswordRepeat") Repeat Password
        //-         input#userPasswordRepeat(type="password", name="userPasswordRepeat")
        //-     fieldset
        //-       legend Payment Method
        //-       div
        //-         ul.cd-payment-gateways
        //-           li
        //-             input#paypal(type="radio", name="payment-method", value="paypal")
        //-             label(for="paypal") Paypal
        //-           li
        //-             input#card(type="radio", name="payment-method", value="card", checked="")
        //-             label(for="card") Card
        //-         // .cd-payment-gateways
        //-       .cd-credit-card
        //-         div
        //-           p.half-width
        //-             label(for="cardNumber") Card Number
        //-             input#cardNumber(type="text", name="cardNumber")
        //-           p.half-width
        //-             label Expiration date
        //-             b
        //-               span.cd-select
        //-                 select#card-expiry-month(name="card-expiry-month")
        //-                   option(value="1") 1
        //-                   option(value="1") 2
        //-                   option(value="1") 3
        //-                   option(value="1") 4
        //-                   option(value="1") 5
        //-                   option(value="1") 6
        //-                   option(value="1") 7
        //-                   option(value="1") 8
        //-                   option(value="1") 9
        //-                   option(value="1") 10
        //-                   option(value="1") 11
        //-                   option(value="1") 12
        //-               span.cd-select
        //-                 select#card-expiry-year(name="card-expiry-year")
        //-                   option(value="2015") 2015
        //-                   option(value="2015") 2016
        //-                   option(value="2015") 2017
        //-                   option(value="2015") 2018
        //-                   option(value="2015") 2019
        //-                   option(value="2015") 2020
        //-           p.half-width
        //-             label(for="cardCvc") Card CVC
        //-             input#cardCvc(type="text", name="cardCvc")
        //-       // .cd-credit-card
        //-     fieldset
        //-       div
        //-         input(type="submit", value="Get started")
        //-   a.cd-close(href="#0")
        //- // .cd-form
        //- .cd-overlay
        //- // shadow layer

      //- .col-xs-6
      //-   .panel.panel-primary.text-center.no-margin.mt20-xs
      //-     .panel-heading.panel-package.p15
      //-       h3.price-header.text-white Beacons
      //-     .panel-body.panel-price
      //-       h2.price2 $35
      //-       h3.price2 /month
      //-     ul.list-group.price2
      //-       li.list-group-item Unlimited Beacons for $35/month!
      //-       li.list-group-item $35 One-Time Setup Fee
      //-       li.list-group-item Bulk Pricing Available (4+ Beacons)
      //-       li.list-group-item
      //-         a.btn.btn-rw.btn-primary(href="/signup.html") Buy Now
      //- .col-xs-6
      //-   .panel.panel-default.text-center.no-margin
      //-     .panel-heading.p15
      //-       h3.price-header Marketing
      //-     .panel-body.panel-price
      //-       center(align="center")
      //-         h2.price1 $34
      //-         h3.price1 per sign
      //-     ul.list-group.price1
      //-       li.list-group-item Premium durable foam-core
      //-       li.list-group-item Branded with your information
      //-       li.list-group-item Increases listing exposure
      //-       li.list-group-item
      //-         a.btn.btn-rw.btn-primary(data-toggle="modal", data-target="#marketingModal") View Sign

    #marketingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Marketing Sign
          .modal-body
            center(align="center")
              img.img-responsive(src='images/rebeacons-poster.png', alt='RealEstateBeacons Sign')
              .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-dismiss="modal") Close