extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  #royal_preloader
    .carousel
      #carouselHome.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner
          .item.active
            .background-main(style="background-image:url('images/property_managers_image.jpg');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
              .container
                .row.carousel-content.center-vertically-right
                  .fadeInRight-animated(data-animation="fadeInRight")
                    .carousel-description.mt275.col-sm-7.col-sm-offset-5
                      h3.heavy.text-white
                        span.carousel-title-bg Rentals &amp;
                      h3.heavy.text-white
                        span.carousel-title-bg Property Managers
                      | 
                      p.carousel-title-bgdark Busy property managers know that you still cannot manufacture more time than you already have. However iBeacon Real Estate technology is the next best thing to actually being there when prospects tour your property.
    .background-light-grey.mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple A PLACE FOR RENTERS TO CALL HOME
        .row
          .col-sm-12.mt40.mb40.text-center
            h4.lh24 Real Estate Managers. Place one or more iBeacons at key locations and create virtual home tours of your rental property. Visitors automatically receive information on their mobile device broadcast by the beacons that virtually take them through the property, all the while pointing out unique and important features that they otherwise would have missed.
            h4.lh24 At any time these potential renters can contact you with questions or send you feedback. You can share this information with the property owner and also keep track of how many people visited the property, how long they spent there, and whether they were interested or not.
    .mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple Let RealEstateBeacons help rent out your property
        .row
          .col-sm-12.mt40.mb20.text-center
            h4.lh24 Click below to learn about our limited time introductory Special Offer. Purchase one or as many iBeacons as you need and get started today.
        .row
          .col-sm-12.mb40.text-center
            a.btn.btn-primary.btn-rw(href="https://store7586710.ecwid.com/#!/Hardware/c/15245599", target="_blank")
              | Special Offer
    