extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  #royal_preloader
    .carousel
      #carouselHome.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner
          .item.active
            .background-main(style="background-image:url('images/real_estate_professionals.jpg');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
              .container
                .row.carousel-content.center-vertically-right
                  .fadeInRight-animated(data-animation="fadeInRight")
                    .carousel-description.mt275.col-sm-7.col-sm-offset-5
                      h3.heavy.text-white
                        span.carousel-title-bg Real Estate Professionals
                      h3.heavy.text-white
                        span.carousel-title-bg Turn Visitors Into Buyers With
                      h3.heavy.text-white
                        span.carousel-title-bg RealEstateBeacons
                      | 
                      p.carousel-title-bgdark Amaze visitors to your listings and create new business opportunities by enhancing the home buying and selling experience.
    .mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple DOWNLOAD THE REAL ESTATE BEACONS APP AND SHOW YOURSELF AROUND
        .row
          .col-sm-12.mt40.mb40.text-center
            h4.lh24 Many buyers prefer seeing a property by themselves or with their partner, but won’t always notice features that set this home apart from the rest. As they tour the home the RealEstateBeacons app automatically points out awesome standout features, upgrade options, special offers and more. With up to 10 slides or rooms per beacon, you are limited only by your imagination.
    .background-light-grey.pt100.pb60.border-bottom
      .container
        .row.pb100
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | Real Estate Beacons - the next best thing to you actually 'being there'
            | 
            p
              | Beacon Real Estate technology is the next best thing to actually being there when prospective buyers tour your Listing or visit your open house. Place one or more iBeacons at key locations throughout the home and automatically draw attention to important features as visitors walk by.
          .col-sm-7(data-sr="enter left")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/interior2.jpg'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
        .row.pb100
          .col-sm-7(data-sr="enter right")
            #homeCarousel2.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/interior3.jpg'); height:400px; background-repeat:no-repeat; background-color:#fafafa;")
          .col-sm-5
            .heading.mb20.mt20
              h4
                span
                | Real Estate Beacons make it easy for new clients to contact you!
            | 
            p.pr15
              | At any time potential new clients can contact you with questions or send you feedback. You can share this information with your home seller and also keep track of how many people visited the home, how long they spent there, and whether they were interested or not.
    .mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple SAVE ON PRINTING COSTS
        .row
          .col-sm-12.mt40.mb40.text-center
            h4.lh24 Remember the time and cost associated with keeping your flyer boxes stocked? With RealEstateBeacons those days are over. Now prospective buyers can save the iBeacon Home Tour in their ‘Favorites’ and recall it at any time. Think how much this feature alone will save you.
    .mt100.pb40
      .container
        .row
          .col-sm-12.mt20.text-center
            h1.purple Let RealEstateBeacons™ help sell your listing and build client relationships for life
        .row
          .col-sm-12.mt40.mb20.text-center
            h4.lh24 Click below to learn about our limited time introductory Special Offer. Purchase one or as many iBeacons as you need and get started today.
        .row
          .col-sm-12.mb40.text-center
            a.btn.btn-primary.btn-rw(href="https://store7586710.ecwid.com/#!/Hardware/c/15245599", target="_blank")
              | Special Offer
    