extends ../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content.mt30
    .row.mb30
      .col-xs-12
        .heading.mb15
          h3 Screenshots
      .col-xs-12
        .row
          ul.no-padding.text-center
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-1.png', alt='Map Search')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-1.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Search
                  .project-category Find properties with beacons from anywhere with the map search.
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-2.png', alt='...')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-2.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Profiles
                  .project-category View detailed profiles of a home for sale.
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-3.png', alt='...')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-3.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Agent Details
                  .project-category Check out the listing Agent information and ask questions in the app.
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-4.png', alt='...')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-4.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Loans &#38; More
                  .project-category Get up-to-date loan info, find schools, local hotspots and more!
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-5.png', alt='...')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-5.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Loans &#38; More
                  .project-category Get up-to-date loan info, find schools, local hotspots and more!
            li.item.print.col-sm-4
              .border
                .view.portfolio-hover-1
                  img.img-responsive(src='images/Screenshot-6.png', alt='...')
                  .mask
                    .portfolio-hover-content
                      a.info.image-zoom-link(href='images/Screenshot-6.png')
                        .portfolio-icon-holder
                          span.ion-ios7-search.portfolio-icons
                .portfolio-text.background-white
                  h3.portfolio-title Loans &#38; More
                  .project-category Get up-to-date loan info, find schools, local hotspots and more!
