#Sellers.pt40.pb40
  .row
    .col-sm-4(data-sr="enter left")
      #homeCarousel2.carousel.agent.slide(data-ride="carousel")
        .carousel-inner
          .item.active
            div(style="background-image:url('/images/Bedroom-2.jpg'); height:260px;")
    .col-sm-8
      .heading.mb20.mt30-xs
        h4
          span.fa.fa-home.mr15
          | Home Sellers
      ul.list-arrow-2-color
        li
          | Your Real Estate Agent creates a customized profile of your home and easily ties it to a small beacon, which is placed in your home out of sight. 
        li
          | Prospective buyers who have downloaded the RealEstateBeacons app automatically receive the profile of your home on their mobile device when they are in the vicinity of the beacon.
        li
          | Prospective buyers have a state-of-the-art way to thoroughly tour your home without missing any of the details that make your home unique.
        li
          | Your home won't get lost in the midst of all the homes prospective buyers view, by giving them the ability to save your home to their list of favorites and even chat with your Real Estate Agent.
      .col-xs-12
        a.btn.btn-rw.btn-scroll.btn-primary(href="#Download") Download