extends ../../themes/default-test.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  .hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top(role="navigation")
          // Sidebar toggle button
          a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
            span.sr-only Toggle navigation
          // Navbar Right Menu
          .navbar-custom-menu
            ul.nav.navbar-nav
              // Messages: style can be found in dropdown.less
              li.dropdown.messages-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.fa.fa-envelope-o
                  span.label.label-success 4
                ul.dropdown-menu
                  li.header You have 4 messages
                  li
                    // inner menu: contains the actual data
                    ul.menu
                      li
                        // start message
                        a(href="#")
                          .pull-left
                            img.img-circle(src="/images/test/user2-160x160.jpg", alt="User Image")
                          h4
                            | Support Team
                            small
                              i.fa.fa-clock-o
                              | 5 mins
                          p Why not buy a new awesome theme?
                      // end message
                      li
                        a(href="#")
                          .pull-left
                            img.img-circle(src="/images/test/user3-128x128.jpg", alt="User Image")
                          h4
                            | AdminLTE Design Team
                            small
                              i.fa.fa-clock-o
                              | 2 hours
                          p Why not buy a new awesome theme?
                      li
                        a(href="#")
                          .pull-left
                            img.img-circle(src="/images/test/user4-128x128.jpg", alt="User Image")
                          h4
                            | Developers
                            small
                              i.fa.fa-clock-o
                              | Today
                          p Why not buy a new awesome theme?
                      li
                        a(href="#")
                          .pull-left
                            img.img-circle(src="/images/test/user3-128x128.jpg", alt="User Image")
                          h4
                            | Sales Department
                            small
                              i.fa.fa-clock-o
                              | Yesterday
                          p Why not buy a new awesome theme?
                      li
                        a(href="#")
                          .pull-left
                            img.img-circle(src="/images/test/user4-128x128.jpg", alt="User Image")
                          h4
                            | Reviewers
                            small
                              i.fa.fa-clock-o
                              | 2 days
                          p Why not buy a new awesome theme?
                  li.footer
                    a(href="#") See All Messages
              // Notifications: style can be found in dropdown.less
              li.dropdown.notifications-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.fa.fa-bell-o
                  span.label.label-warning 10
                ul.dropdown-menu
                  li.header You have 10 notifications
                  li
                    // inner menu: contains the actual data
                    ul.menu
                      li
                        a(href="#")
                          i.fa.fa-users.text-aqua
                          | 5 new members joined today
                      li
                        a(href="#")
                          i.fa.fa-warning.text-yellow
                          | Very long description here that may not fit into the page and may cause design problems
                      li
                        a(href="#")
                          i.fa.fa-users.text-red
                          | 5 new members joined
                      li
                        a(href="#")
                          i.fa.fa-shopping-cart.text-green
                          | 25 sales made
                      li
                        a(href="#")
                          i.fa.fa-user.text-red
                          | You changed your username
                  li.footer
                    a(href="#") View all
              // Tasks: style can be found in dropdown.less
              li.dropdown.tasks-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.fa.fa-flag-o
                  span.label.label-danger 9
                ul.dropdown-menu
                  li.header You have 9 tasks
                  li
                    // inner menu: contains the actual data
                    ul.menu
                      li
                        // Task item
                        a(href="#")
                          h3
                            | Design some buttons
                            small.pull-right 20%
                          .progress.xs
                            .progress-bar.progress-bar-aqua(style="width: 20%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                              span.sr-only 20% Complete
                      // end task item
                      li
                        // Task item
                        a(href="#")
                          h3
                            | Create a nice theme
                            small.pull-right 40%
                          .progress.xs
                            .progress-bar.progress-bar-green(style="width: 40%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                              span.sr-only 40% Complete
                      // end task item
                      li
                        // Task item
                        a(href="#")
                          h3
                            | Some task I need to do
                            small.pull-right 60%
                          .progress.xs
                            .progress-bar.progress-bar-red(style="width: 60%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                              span.sr-only 60% Complete
                      // end task item
                      li
                        // Task item
                        a(href="#")
                          h3
                            | Make beautiful transitions
                            small.pull-right 80%
                          .progress.xs
                            .progress-bar.progress-bar-yellow(style="width: 80%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                              span.sr-only 80% Complete
                      // end task item
                  li.footer
                    a(href="#") View all tasks
              // User Account: style can be found in dropdown.less
              li.dropdown.user.user-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  img.user-image(src="/images/test/user2-160x160.jpg", alt="User Image")
                  span.hidden-xs Alexander Pierce
                ul.dropdown-menu
                  // User image
                  li.user-header
                    img.img-circle(src="/images/test/user2-160x160.jpg", alt="User Image")
                    p
                      | Alexander Pierce - Web Developer
                      small Member since Nov. 2012
                  // Menu Body
                  li.user-body
                    .col-xs-4.text-center
                      a(href="#") Followers
                    .col-xs-4.text-center
                      a(href="#") Sales
                    .col-xs-4.text-center
                      a(href="#") Friends
                  // Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href="#") Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href="#") Sign out
              // Control Sidebar Toggle Button
              li
                a(href="#", data-toggle="control-sidebar")
                  i.fa.fa-gears
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src="/images/test/user2-160x160.jpg", alt="User Image")
            .pull-left.info
              p Alexander Pierce
              a(href="#")
                i.fa.fa-circle.text-success
                | Online
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu
            li.header MAIN NAVIGATION
            li.active.treeview
              a(href="#")
                i.fa.fa-dashboard
                span Dashboard
            li.treeview
              a(href="#")
                i.fa.fa-files-o
                span Beacons
                span.label.label-primary.pull-right 4
              ul.treeview-menu
                li
                  a(href="pages/layout/top-nav.html")
                    i.fa.fa-circle-o
                    | All Beacons
                li
                  a(href="pages/layout/boxed.html")
                    i.fa.fa-circle-o
                    | Pending
                li
                  a(href="pages/layout/boxed.html")
                    i.fa.fa-circle-o
                    | Active
                li
                  a(href="pages/layout/fixed.html")
                    i.fa.fa-circle-o
                    | Assigned
                li
                  a(href="pages/layout/collapsed-sidebar.html")
                    i.fa.fa-circle-o
                    | Unassigned
            li
              a(href="pages/widgets.html")
                i.fa.fa-th
                span Agents
                small.label.pull-right.bg-green new
            li.treeview
              a(href="#")
                i.fa.fa-pie-chart
                span Orders
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href="pages/charts/chartjs.html")
                    i.fa.fa-circle-o
                    | All Orders
                li
                  a(href="pages/charts/morris.html")
                    i.fa.fa-circle-o
                    | Pending
                li
                  a(href="pages/charts/flot.html")
                    i.fa.fa-circle-o
                    | Active
            li.treeview
              a(href="#")
                i.fa.fa-user
                span Profile
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          h1
            | Dashboard
            small Version 2.0
          ol.breadcrumb
            li
              a(href="#")
                i.fa.fa-dashboard
                | Home
            li.active Dashboard
        // Main content
        section.content
          // Info boxes
          .row
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-aqua
                  i.ion.ion-ios-gear-outline
                .info-box-content
                  span.info-box-text CPU Traffic
                  span.info-box-number
                    | 90
                    small %
                // /.info-box-content
              // /.info-box
            // /.col
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-red
                  i.fa.fa-google-plus
                .info-box-content
                  span.info-box-text Likes
                  span.info-box-number 41,410
                // /.info-box-content
              // /.info-box
            // /.col
            // fix for small devices only
            .clearfix.visible-sm-block
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-green
                  i.ion.ion-ios-cart-outline
                .info-box-content
                  span.info-box-text Sales
                  span.info-box-number 760
                // /.info-box-content
              // /.info-box
            // /.col
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-yellow
                  i.ion.ion-ios-people-outline
                .info-box-content
                  span.info-box-text New Members
                  span.info-box-number 2,000
                // /.info-box-content
              // /.info-box
            // /.col
          // /.row
          .row
            .col-md-12
              .box
                .box-header.with-border
                  h3.box-title Monthly Recap Report
                  .box-tools.pull-right
                    button.btn.btn-box-tool(data-widget="collapse")
                      i.fa.fa-minus
                    .btn-group
                      button.btn.btn-box-tool.dropdown-toggle(data-toggle="dropdown")
                        i.fa.fa-wrench
                      ul.dropdown-menu(role="menu")
                        li
                          a(href="#") Action
                        li
                          a(href="#") Another action
                        li
                          a(href="#") Something else here
                        li.divider
                        li
                          a(href="#") Separated link
                    button.btn.btn-box-tool(data-widget="remove")
                      i.fa.fa-times
                // /.box-header
                .box-body
                  .row
                    .col-md-8
                      p.text-center
                        strong Sales: 1 Jan, 2014 - 30 Jul, 2014
                      .chart
                        // Sales Chart Canvas
                        canvas#salesChart(style="height: 180px;")
                      // /.chart-responsive
                    // /.col
                    .col-md-4
                      p.text-center
                        strong Goal Completion
                      .progress-group
                        span.progress-text Add Products to Cart
                        span.progress-number
                          b 160
                          | /200
                        .progress.sm
                          .progress-bar.progress-bar-aqua(style="width: 80%")
                      // /.progress-group
                      .progress-group
                        span.progress-text Complete Purchase
                        span.progress-number
                          b 310
                          | /400
                        .progress.sm
                          .progress-bar.progress-bar-red(style="width: 80%")
                      // /.progress-group
                      .progress-group
                        span.progress-text Visit Premium Page
                        span.progress-number
                          b 480
                          | /800
                        .progress.sm
                          .progress-bar.progress-bar-green(style="width: 80%")
                      // /.progress-group
                      .progress-group
                        span.progress-text Send Inquiries
                        span.progress-number
                          b 250
                          | /500
                        .progress.sm
                          .progress-bar.progress-bar-yellow(style="width: 80%")
                      // /.progress-group
                    // /.col
                  // /.row
                // ./box-body
                .box-footer
                  .row
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-green
                          i.fa.fa-caret-up
                          | 17%
                        h5.description-header $35,210.43
                        span.description-text TOTAL REVENUE
                      // /.description-block
                    // /.col
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-yellow
                          i.fa.fa-caret-left
                          | 0%
                        h5.description-header $10,390.90
                        span.description-text TOTAL COST
                      // /.description-block
                    // /.col
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-green
                          i.fa.fa-caret-up
                          | 20%
                        h5.description-header $24,813.53
                        span.description-text TOTAL PROFIT
                      // /.description-block
                    // /.col
                    .col-sm-3.col-xs-6
                      .description-block
                        span.description-percentage.text-red
                          i.fa.fa-caret-down
                          | 18%
                        h5.description-header 1200
                        span.description-text GOAL COMPLETIONS
                      // /.description-block
                  // /.row
                // /.box-footer
              // /.box
            // /.col
          // /.row
          // Main row
          .row
            // Left col
            .col-md-8
              // MAP & BOX PANE
              .box.box-success
                .box-header.with-border
                  h3.box-title Visitors Report
                  .box-tools.pull-right
                    button.btn.btn-box-tool(data-widget="collapse")
                      i.fa.fa-minus
                    button.btn.btn-box-tool(data-widget="remove")
                      i.fa.fa-times
                // /.box-header
                .box-body.no-padding
                  .row
                    .col-md-9.col-sm-8
                      .pad
                        // Map will be created here
                        #world-map-markers(style="height: 325px;")
                    // /.col
                    .col-md-3.col-sm-4
                      .pad.box-pane-right.bg-green(style="min-height: 280px")
                        .description-block.margin-bottom
                          .sparkbar.pad(data-color="#fff") 90,70,90,70,75,80,70
                          h5.description-header 8390
                          span.description-text Visits
                        // /.description-block
                        .description-block.margin-bottom
                          .sparkbar.pad(data-color="#fff") 90,50,90,70,61,83,63
                          h5.description-header 30%
                          span.description-text Referrals
                        // /.description-block
                        .description-block
                          .sparkbar.pad(data-color="#fff") 90,50,90,70,61,83,63
                          h5.description-header 70%
                          span.description-text Organic
                        // /.description-block
                    // /.col
                  // /.row
                // /.box-body
              // /.box
              .row
                .col-md-6
                  // USERS LIST
                  .box.box-danger
                    .box-header.with-border
                      h3.box-title Latest Members
                      .box-tools.pull-right
                        span.label.label-danger 8 New Members
                        button.btn.btn-box-tool(data-widget="collapse")
                          i.fa.fa-minus
                        button.btn.btn-box-tool(data-widget="remove")
                          i.fa.fa-times
                    // /.box-header
                    .box-body.no-padding
                      ul.users-list.clearfix
                        li
                          img(src="/images/test/user1-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Alexander Pierce
                          span.users-list-date Today
                        li
                          img(src="/images/test/user8-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Norman
                          span.users-list-date Yesterday
                        li
                          img(src="/images/test/user7-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Jane
                          span.users-list-date 12 Jan
                        li
                          img(src="/images/test/user6-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") John
                          span.users-list-date 12 Jan
                        li
                          img(src="/images/test/user2-160x160.jpg", alt="User Image")
                          a.users-list-name(href="#") Alexander
                          span.users-list-date 13 Jan
                        li
                          img(src="/images/test/user5-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Sarah
                          span.users-list-date 14 Jan
                        li
                          img(src="/images/test/user4-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Nora
                          span.users-list-date 15 Jan
                        li
                          img(src="/images/test/user3-128x128.jpg", alt="User Image")
                          a.users-list-name(href="#") Nadia
                          span.users-list-date 15 Jan
                      // /.users-list
                    // /.box-body
                    .box-footer.text-center
                      a.uppercase(href="javascript::") View All Users
                    // /.box-footer
                  // /.box
                // /.col
              // /.row
              // TABLE: LATEST ORDERS
              .box.box-info
                .box-header.with-border
                  h3.box-title Latest Orders
                  .box-tools.pull-right
                    button.btn.btn-box-tool(data-widget="collapse")
                      i.fa.fa-minus
                    button.btn.btn-box-tool(data-widget="remove")
                      i.fa.fa-times
                // /.box-header
                .box-body
                  .table-responsive
                    table.table.no-margin
                      thead
                        tr
                          th Order ID
                          th Item
                          th Status
                          th Popularity
                      tbody
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR9842
                          td Call of Duty IV
                          td
                            span.label.label-success Shipped
                          td
                            .sparkbar(data-color="#00a65a", data-height="20") 90,80,90,-70,61,-83,63
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR1848
                          td Samsung Smart TV
                          td
                            span.label.label-warning Pending
                          td
                            .sparkbar(data-color="#f39c12", data-height="20") 90,80,-90,70,61,-83,68
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR7429
                          td iPhone 6 Plus
                          td
                            span.label.label-danger Delivered
                          td
                            .sparkbar(data-color="#f56954", data-height="20") 90,-80,90,70,-61,83,63
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR7429
                          td Samsung Smart TV
                          td
                            span.label.label-info Processing
                          td
                            .sparkbar(data-color="#00c0ef", data-height="20") 90,80,-90,70,-61,83,63
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR1848
                          td Samsung Smart TV
                          td
                            span.label.label-warning Pending
                          td
                            .sparkbar(data-color="#f39c12", data-height="20") 90,80,-90,70,61,-83,68
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR7429
                          td iPhone 6 Plus
                          td
                            span.label.label-danger Delivered
                          td
                            .sparkbar(data-color="#f56954", data-height="20") 90,-80,90,70,-61,83,63
                        tr
                          td
                            a(href="pages/examples/invoice.html") OR9842
                          td Call of Duty IV
                          td
                            span.label.label-success Shipped
                          td
                            .sparkbar(data-color="#00a65a", data-height="20") 90,80,90,-70,61,-83,63
                  // /.table-responsive
                // /.box-body
                .box-footer.clearfix
                  a.btn.btn-sm.btn-info.btn-flat.pull-left(href="javascript::;") Place New Order
                  a.btn.btn-sm.btn-default.btn-flat.pull-right(href="javascript::;") View All Orders
                // /.box-footer
              // /.box
            // /.col
            .col-md-4
              // Info Boxes Style 2
              .info-box.bg-yellow
                span.info-box-icon
                  i.ion.ion-ios-pricetag-outline
                .info-box-content
                  span.info-box-text Inventory
                  span.info-box-number 5,200
                  .progress
                    .progress-bar(style="width: 50%")
                  span.progress-description
                    | 50% Increase in 30 Days
                // /.info-box-content
              // /.info-box
              .info-box.bg-green
                span.info-box-icon
                  i.ion.ion-ios-heart-outline
                .info-box-content
                  span.info-box-text Mentions
                  span.info-box-number 92,050
                  .progress
                    .progress-bar(style="width: 20%")
                  span.progress-description
                    | 20% Increase in 30 Days
                // /.info-box-content
              // /.info-box
              .info-box.bg-red
                span.info-box-icon
                  i.ion.ion-ios-cloud-download-outline
                .info-box-content
                  span.info-box-text Downloads
                  span.info-box-number 114,381
                  .progress
                    .progress-bar(style="width: 70%")
                  span.progress-description
                    | 70% Increase in 30 Days
                // /.info-box-content
              // /.info-box
              .info-box.bg-aqua
                span.info-box-icon
                  i.ion-ios-chatbubble-outline
                .info-box-content
                  span.info-box-text Direct Messages
                  span.info-box-number 163,921
                  .progress
                    .progress-bar(style="width: 40%")
                  span.progress-description
                    | 40% Increase in 30 Days
                // /.info-box-content
              // /.info-box
              // PRODUCT LIST
              .box.box-primary
                .box-header.with-border
                  h3.box-title Recently Added Products
                  .box-tools.pull-right
                    button.btn.btn-box-tool(data-widget="collapse")
                      i.fa.fa-minus
                    button.btn.btn-box-tool(data-widget="remove")
                      i.fa.fa-times
                // /.box-header
                .box-body
                  ul.products-list.product-list-in-box
                    li.item
                      .product-img
                        img(src="/images/test/default-50x50.gif", alt="Product Image")
                      .product-info
                        a.product-title(href="javascript::;")
                          | Samsung TV
                          span.label.label-warning.pull-right $1800
                        span.product-description
                          | Samsung 32" 1080p 60Hz LED Smart HDTV.
                    // /.item
                    li.item
                      .product-img
                        img(src="/images/test/default-50x50.gif", alt="Product Image")
                      .product-info
                        a.product-title(href="javascript::;")
                          | Bicycle
                          span.label.label-info.pull-right $700
                        span.product-description
                          | 26" Mongoose Dolomite Men"s 7-speed, Navy Blue.
                    // /.item
                    li.item
                      .product-img
                        img(src="/images/test/default-50x50.gif", alt="Product Image")
                      .product-info
                        a.product-title(href="javascript::;")
                          | Xbox One
                          span.label.label-danger.pull-right $350
                        span.product-description
                          | Xbox One Console Bundle with Halo Master Chief Collection.
                    // /.item
                    li.item
                      .product-img
                        img(src="/images/test/default-50x50.gif", alt="Product Image")
                      .product-info
                        a.product-title(href="javascript::;")
                          | PlayStation 4
                          span.label.label-success.pull-right $399
                        span.product-description
                          | PlayStation 4 500GB Console (PS4)
                    // /.item
                // /.box-body
                .box-footer.text-center
                  a.uppercase(href="javascript::;") View All Products
                // /.box-footer
              // /.box
            // /.col
          // /.row
        // /.content
      // /.content-wrapper
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          | 2.3.0
        strong
          | Copyright &#169; 2014-2015
          a(href="http://almsaeedstudio.com") Almsaeed Studio
          | .
        | All rights reserved.
      // Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        // Create the tabs
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href="#control-sidebar-home-tab", data-toggle="tab")
              i.fa.fa-home
          li
            a(href="#control-sidebar-settings-tab", data-toggle="tab")
              i.fa.fa-gears
        // Tab panes
        .tab-content
          // Home tab content
          #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
              li
                a(href="javascript::;")
                  i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    h4.control-sidebar-subheading Langdon"s Birthday
                    p Will be 23 on April 24th
              li
                a(href="javascript::;")
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading Frodo Updated His Profile
                    p New phone +1(800)555-1234
              li
                a(href="javascript::;")
                  i.menu-icon.fa.fa-envelope-o.bg-light-blue
                  .menu-info
                    h4.control-sidebar-subheading Nora Joined Mailing List
                    p nora@example.com
              li
                a(href="javascript::;")
                  i.menu-icon.fa.fa-file-code-o.bg-green
                  .menu-info
                    h4.control-sidebar-subheading Cron Job 254 Executed
                    p Execution time 5 seconds
            // /.control-sidebar-menu
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
              li
                a(href="javascript::;")
                  h4.control-sidebar-subheading
                    | Custom Template Design
                    span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger(style="width: 70%")
              li
                a(href="javascript::;")
                  h4.control-sidebar-subheading
                    | Update Resume
                    span.label.label-success.pull-right 95%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-success(style="width: 95%")
              li
                a(href="javascript::;")
                  h4.control-sidebar-subheading
                    | Laravel Integration
                    span.label.label-warning.pull-right 50%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-warning(style="width: 50%")
              li
                a(href="javascript::;")
                  h4.control-sidebar-subheading
                    | Back End Framework
                    span.label.label-primary.pull-right 68%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-primary(style="width: 68%")
            // /.control-sidebar-menu
          // /.tab-pane
          // Settings tab content
          #control-sidebar-settings-tab.tab-pane
            form(method="post")
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Report panel usage
                  input.pull-right(type="checkbox", checked="")
                p
                  | Some information about this general settings option
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type="checkbox", checked="")
                p
                  | Other sets of options are available
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Expose author name in posts
                  input.pull-right(type="checkbox", checked="")
                p
                  | Allow the user to show his name in blog posts
              // /.form-group
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type="checkbox", checked="")
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type="checkbox")
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Delete chat history
                  a.text-red.pull-right(href="javascript::;")
                    i.fa.fa-trash-o
              // /.form-group
          // /.tab-pane
      // /.control-sidebar
      //
         Add the sidebar's background. This div must be placed
                   immediately after the control sidebar
      .control-sidebar-bg
