extends ../../themes/default-test.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  // Navigation
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.page-scroll(href="#page-top") Start Bootstrap
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.hidden
            a(href="#page-top")
          li
            a.page-scroll(href="#services") Services
          li
            a.page-scroll(href="#portfolio") Portfolio
          li
            a.page-scroll(href="#about") About
          li
            a.page-scroll(href="#team") Team
          li
            a.page-scroll(href="#contact") Contact
      // /.navbar-collapse
    // /.container-fluid
  // Header
  header
    .container
      .intro-text
        .intro-lead-in Welcome To Our Studio!
        .intro-heading It"s Nice To Meet You
        a.page-scroll.btn.btn-xl(href="#services") Tell Me More
  // Services Section
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Services
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
          h4.service-heading E-Commerce
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-laptop.fa-stack-1x.fa-inverse
          h4.service-heading Responsive Design
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-lock.fa-stack-1x.fa-inverse
          h4.service-heading Web Security
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
  // Portfolio Grid Section
  section#portfolio.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Portfolio
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal1", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/roundicons.png", alt="")
          .portfolio-caption
            h4 Round Icons
            p.text-muted Graphic Design
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal2", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/startup-framework.png", alt="")
          .portfolio-caption
            h4 Startup Framework
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal3", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/treehouse.png", alt="")
          .portfolio-caption
            h4 Treehouse
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal4", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/golden.png", alt="")
          .portfolio-caption
            h4 Golden
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal5", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/escape.png", alt="")
          .portfolio-caption
            h4 Escape
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href="#portfolioModal6", data-toggle="modal")
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src="/images/portfolio/dreams.png", alt="")
          .portfolio-caption
            h4 Dreams
            p.text-muted Website Design
  // About Section
  section#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading About
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-lg-12
          ul.timeline
            li
              .timeline-image
                img.img-circle.img-responsive(src="/images/about/1.jpg", alt="")
              .timeline-panel
                .timeline-heading
                  h4 2009-2011
                  h4.subheading Our Humble Beginnings
                .timeline-body
                  p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src="/images/about/2.jpg", alt="")
              .timeline-panel
                .timeline-heading
                  h4 March 2011
                  h4.subheading An Agency is Born
                .timeline-body
                  p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            li
              .timeline-image
                img.img-circle.img-responsive(src="/images/about/3.jpg", alt="")
              .timeline-panel
                .timeline-heading
                  h4 December 2012
                  h4.subheading Transition to Full Service
                .timeline-body
                  p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src="/images/about/4.jpg", alt="")
              .timeline-panel
                .timeline-heading
                  h4 July 2014
                  h4.subheading Phase Two Expansion
                .timeline-body
                  p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
            li.timeline-inverted
              .timeline-image
                h4
                  | Be Part
                  br
                  | Of Our
                  br
                  | Story!
  // Team Section
  section#team.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Our Amazing Team
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src="/images/team/1.jpg", alt="")
            h4 Kay Garland
            p.text-muted Lead Designer
            ul.list-inline.social-buttons
              li
                a(href="#")
                  i.fa.fa-twitter
              li
                a(href="#")
                  i.fa.fa-facebook
              li
                a(href="#")
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src="/images/team/2.jpg", alt="")
            h4 Larry Parker
            p.text-muted Lead Marketer
            ul.list-inline.social-buttons
              li
                a(href="#")
                  i.fa.fa-twitter
              li
                a(href="#")
                  i.fa.fa-facebook
              li
                a(href="#")
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src="/images/team/3.jpg", alt="")
            h4 Diana Pertersen
            p.text-muted Lead Developer
            ul.list-inline.social-buttons
              li
                a(href="#")
                  i.fa.fa-twitter
              li
                a(href="#")
                  i.fa.fa-facebook
              li
                a(href="#")
                  i.fa.fa-linkedin
      .row
        .col-lg-8.col-lg-offset-2.text-center
          p.large.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
  // Clients Aside
  aside.clients
    .container
      .row
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="/images/logos/envato.jpg", alt="")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="/images/logos/designmodo.jpg", alt="")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="/images/logos/themeforest.jpg", alt="")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="/images/logos/creative-market.jpg", alt="")
  // Contact Section
  section#contact
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Contact Us
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-lg-12
          form#contactForm(name="sentMessage", novalidate="")
            .row
              .col-md-6
                .form-group
                  input#name.form-control(type="text", placeholder="Your Name *", required="", data-validation-required-message="Please enter your name.")
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type="email", placeholder="Your Email *", required="", data-validation-required-message="Please enter your email address.")
                  p.help-block.text-danger
                .form-group
                  input#phone.form-control(type="tel", placeholder="Your Phone *", required="", data-validation-required-message="Please enter your phone number.")
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  textarea#message.form-control(placeholder="Your Message *", required="", data-validation-required-message="Please enter a message.")
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-xl(type="submit") Send Message
  footer
    .container
      .row
        .col-md-4
          span.copyright Copyright &#169; Your Website 2014
        .col-md-4
          ul.list-inline.social-buttons
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-facebook
            li
              a(href="#")
                i.fa.fa-linkedin
        .col-md-4
          ul.list-inline.quicklinks
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms of Use
  // Portfolio Modals
  // Use the modals below to showcase details about your portfolio projects!
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/roundicons-free.png", alt="")
              p
                | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              p
                strong Want these icons in this portfolio item sample?
                | You can download 60 of them for free, courtesy of
                a(href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc") RoundIcons.com
                | , or you can purchase the 1500 icon set
                a(href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc") here
                | .
              ul.list-inline
                li Date: July 2014
                li Client: Round Icons
                li Category: Graphic Design
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Project Heading
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/startup-framework-preview.png", alt="")
              p
                a(href="http://designmodo.com/startup/?u=787") Startup Framework
                | is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
              p
                | You can preview Startup Framework
                a(href="http://designmodo.com/startup/?u=787") here
                | .
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/treehouse-preview.png", alt="")
              p
                | Treehouse is a free PSD web template built by
                a(href="https://www.behance.net/MathavanJaya") Mathavan Jaya
                | . This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
              p
                | You can download the PSD template in this portfolio sample item at
                a(href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/") FreebiesXpress.com
                | .
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/golden-preview.png", alt="")
              p
                | Start Bootstrap"s Agency theme is based on Golden, a free PSD website template built by
                a(href="https://www.behance.net/MathavanJaya") Mathavan Jaya
                | . Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
              p
                | You can download the PSD template in this portfolio sample item at
                a(href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/") FreebiesXpress.com
                | .
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/escape-preview.png", alt="")
              p
                | Escape is a free PSD web template built by
                a(href="https://www.behance.net/MathavanJaya") Mathavan Jaya
                | . Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
              p
                | You can download the PSD template in this portfolio sample item at
                a(href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/") FreebiesXpress.com
                | .
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-content
      .close-modal(data-dismiss="modal")
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="/images/portfolio/dreams-preview.png", alt="")
              p
                | Dreams is a free PSD web template built by
                a(href="https://www.behance.net/MathavanJaya") Mathavan Jaya
                | . Dreams is a modern one page web template designed for almost any purpose. It&#8217;s a beautiful template that&#8217;s designed with the Bootstrap framework in mind.
              p
                | You can download the PSD template in this portfolio sample item at
                a(href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/") FreebiesXpress.com
                | .
              button.btn.btn-primary(type="button", data-dismiss="modal")
                i.fa.fa-times
                | Close Project
