extends ../../themes/default.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  .page-content
    .container
      .row
        .col-md-3
          ul#sidebar-nav.sidebar-nav.margin-bottom-30px
            li.list-group-item.has-submenu
              a.submenu-toggle(href="#Buttons", data-toggle="collapse", data-parent="sidebar-nav") Buttons
              ul#Buttons.list-unstyled.collapse.submenu
                li
                  a(href="ui-buttons.html") General Buttons
                li
                  a(href="ui-button-groups.html") Button Groups
            li.list-group-item
              a(href="ui-tabs-accordion.html") Tabs &#38; Accordion
            li.list-group-item.has-submenu
              a.submenu-toggle(href="#Components", data-toggle="collapse", data-parent="sidebar-nav") Components
              ul#Components.list-unstyled.collapse.submenu
                li
                  a(href="ui-alerts.html") Alerts
                li
                  a(href="ui-breadcrumbs.html") Breadcrumbs
                li
                  a(href="ui-pagination.html") Pagination
            li.list-group-item.has-submenu.active
              a.submenu-toggle(href="#Forms", data-toggle="collapse", data-parent="sidebar-nav") Forms
              ul#Forms.list-unstyled.collapse.submenu.in
                li.active
                  a(href="ui-form-elements-basic.html") Basic Form Elements
                li
                  a(href="ui-form-elements-advanced.html") Advanced Form Elements
                li
                  a(href="ui-form-layouts.html") Form Layouts
                li
                  a(href="ui-form-validation.html") Validation
            li.list-group-item
              a(href="ui-numbers-charts.html") Numbers &#38; Charts
            li.list-group-item
              a(href="ui-boxed-contents.html") Boxed Contents
            li.list-group-item
              a(href="ui-testimonials.html") Testimonials
            li.list-group-item
              a(href="ui-maps.html") Maps
            li.list-group-item
              a(href="ui-typography.html") Typography
            li.list-group-item
              a(href="ui-icons.html") Icons
        .col-md-9
          // BASIC INPUT
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Basic Input
            .panel-body
              .form-horizontal
                .form-group
                  label.col-md-2.control-label Text Field
                  .col-md-10
                    input.form-control(type="text", placeholder="text field")
                .form-group
                  label.col-md-2.control-label Password
                  .col-md-10
                    input.form-control(type="password", value="asecret")
                .form-group
                  label.col-md-2.control-label Textarea
                  .col-md-10
                    textarea.form-control(placeholder="textarea", rows="4")
                .form-group
                  label.col-md-2.control-label Select
                  .col-md-10
                    select.form-control
                      option(value="cheese") Cheese
                      option(value="tomatoes") Tomatoes
                      option(value="mozarella") Mozzarella
                      option(value="mushrooms") Mushrooms
                      option(value="pepperoni") Pepperoni
                      option(value="onions") Onions
                .form-group
                  label.col-md-2.control-label Multiple
                  .col-md-10
                    select.form-control(multiple="")
                      option(value="cheese") Cheese
                      option(value="tomatoes") Tomatoes
                      option(value="mozarella") Mozzarella
                      option(value="mushrooms") Mushrooms
                      option(value="pepperoni") Pepperoni
                      option(value="onions") Onions
                .form-group
                  label.col-md-2.control-label Checkbox
                  .col-md-10
                    .checkbox
                      label
                        input(type="checkbox", value="item1")
                        | Item 1
                    .checkbox
                      label
                        input(type="checkbox", value="item2")
                        | Item 2
                    .checkbox
                      label
                        input(type="checkbox", value="item3")
                        | Item 3
                .form-group
                  label.col-md-2.control-label Inline
                  .col-md-10
                    label.checkbox-inline
                      input(type="checkbox", value="item1")
                      | Item 1
                    label.checkbox-inline
                      input(type="checkbox", value="item2")
                      | Item 2
                    label.checkbox-inline
                      input(type="checkbox", value="item3")
                      | Item 3
                .form-group
                  label.col-md-2.control-label Radio Button
                  .col-md-10
                    .radio
                      label
                        input(type="radio", name="radio", value="radio1")
                        | Radio Item 1
                    .radio
                      label
                        input(type="radio", name="radio", value="radio2")
                        | Radio Item 2
                    .radio
                      label
                        input(type="radio", name="radio", value="radio3")
                        | Radio Item 3
                .form-group
                  label.col-md-2.control-label Inline
                  .col-md-10
                    label.radio.radio-inline
                      input(type="radio", name="radioinline", value="radio1")
                      | Radio Item 1
                    label.radio.radio-inline
                      input(type="radio", name="radioinline", value="radio2")
                      | Radio Item 2
                    label.radio.radio-inline
                      input(type="radio", name="radioinline", value="radio3")
                      | Radio Item 3
                .form-group
                  label.col-md-2.control-label(for="exampleInputFile") File input
                  .col-md-10
                    input#exampleInputFile(type="file")
                    p.help-block
                      em Example block-level help text here.
                .form-group
                  label.col-sm-2.control-label Static Control
                  .col-sm-10
                    p.form-control-static email@example.com
          // END BASIC INPUT
          // INPUT GROUPS
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Input Groups
            .panel-body
              .input-group
                span.input-group-addon @
                input.form-control(type="text", placeholder="Username")
              br
              .input-group
                input.form-control(type="text")
                span.input-group-addon .00
              br
              .input-group
                span.input-group-addon $
                input.form-control(type="text")
                span.input-group-addon .00
              br
              .input-group
                input.form-control(type="text")
                span.input-group-btn
                  button.btn.btn-primary(type="button") Go!
              br
              .input-group
                span.input-group-btn
                  button.btn.btn-warning(type="button") Go!
                input.form-control(type="text")
              br
              .input-group
                .input-group-btn
                  button.btn.btn-default(type="button", tabindex="-1") Action
                  button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", tabindex="-1")
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action
                    li
                      a(href="#") Something else here
                    li.divider
                    li
                      a(href="#") Separated link
                input.form-control(type="text")
              br
              .input-group
                input.form-control(type="text")
                .input-group-btn
                  button.btn.btn-warning(type="button", tabindex="-1") Action
                  button.btn.btn-warning.dropdown-toggle(type="button", data-toggle="dropdown", tabindex="-1")
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu.pull-right(role="menu")
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action
                    li
                      a(href="#") Something else here
                    li.divider
                    li
                      a(href="#") Separated link
          // END INPUT GROUPS
          // CONTROL HEIGHT SIZING
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Control Height Sizing
            .panel-body
              .form-horizontal
                .form-group
                  label.col-md-3.control-label(for="exampleInputFile") Large Input
                  .col-md-9
                    input.form-control.input-lg(type="text", placeholder=".input-lg")
                .form-group
                  label.col-md-3.control-label(for="exampleInputFile") Default Input
                  .col-md-9
                    input.form-control(type="text", placeholder="Default input")
                .form-group
                  label.col-md-3.control-label(for="exampleInputFile") Small Input
                  .col-md-9
                    input.form-control.input-sm(type="text", placeholder=".input-sm")
                .form-group
                  label.col-md-3.control-label Large Select
                  .col-md-9
                    select.form-control.input-lg
                      option(value="cheese") Cheese
                      option(value="tomatoes") Tomatoes
                      option(value="mozarella") Mozzarella
                      option(value="mushrooms") Mushrooms
                      option(value="pepperoni") Pepperoni
                      option(value="onions") Onions
                .form-group
                  label.col-md-3.control-label Default Select
                  .col-md-9
                    select.form-control
                      option(value="cheese") Cheese
                      option(value="tomatoes") Tomatoes
                      option(value="mozarella") Mozzarella
                      option(value="mushrooms") Mushrooms
                      option(value="pepperoni") Pepperoni
                      option(value="onions") Onions
                .form-group
                  label.col-md-3.control-label Small Select
                  .col-md-9
                    select.form-control.input-sm
                      option(value="cheese") Cheese
                      option(value="tomatoes") Tomatoes
                      option(value="mozarella") Mozzarella
                      option(value="mushrooms") Mushrooms
                      option(value="pepperoni") Pepperoni
                      option(value="onions") Onions
          // CHECKBOX AND RADIO BUTTON
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Checkbox And Radio Button
            .panel-body
              form.form-horizontal(role="form")
                .row
                  .col-md-6
                    label.switch-input
                      input(type="checkbox", name="switch-checkbox", checked="")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Web Notification
                    label.switch-input
                      input(type="checkbox", name="switch-checkbox")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Mobile Notification
                    label.switch-input
                      input(type="checkbox", name="switch-checkbox", checked="")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Email Subscription
                    label.switch-input
                      input(type="checkbox", name="switch-checkbox", checked="")
                      i(data-swon-text="YES", data-swoff-text="NO")
                      | Show Birthdate
                  .col-md-6
                    label.switch-input
                      input(type="radio", name="switch-radio")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Daily
                    label.switch-input
                      input(type="radio", name="switch-radio", checked="")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Weekly
                    label.switch-input
                      input(type="radio", name="switch-radio")
                      i(data-swon-text="ON", data-swoff-text="OFF")
                      | Monthly
              hr
              .row
                .col-md-6
                  label.fancy-checkbox
                    input(type="checkbox")
                    span Fancy Checkbox 1
                  label.fancy-checkbox
                    input(type="checkbox", checked="checked")
                    span Fancy Checkbox 2
                  label.fancy-checkbox
                    input(type="checkbox")
                    span Fancy Checkbox 3
                  label Inline Checkbox: &#160;
                  label.control-inline.fancy-checkbox
                    input(type="checkbox")
                    span Item 1
                  label.control-inline.fancy-checkbox
                    input(type="checkbox")
                    span Item 2
                .col-md-6
                  label.fancy-radio
                    input(type="radio", name="gender", checked="checked")
                    span
                      i
                      | Male
                  label.fancy-radio
                    input(type="radio", name="gender", checked="checked")
                    span
                      i
                      | Female
                  label Inline Radio: &#160;
                  label.control-inline.fancy-radio
                    input(type="radio", name="inline-radio", checked="checked")
                    span
                      i
                      | Radio 1
                  label.control-inline.fancy-radio
                    input(type="radio", name="inline-radio", checked="checked")
                    span
                      i
                      | Radio 2
                  label.control-inline.fancy-radio
                    input(type="radio", name="inline-radio", checked="checked")
                    span
                      i
                      | Radio 3
          // END CHECKBOX AND RADIO BUTTON
          // MASKED INPUT
          #masked-input-demo.panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Masked Input
            .panel-body
              form.form-horizontal.label-left(role="form")
                .form-group
                  label.col-xs-6.col-sm-3.control-label(for="phone")
                    | Phone
                    br
                    small (999) 999-9999
                  .col-xs-6.col-sm-9
                    input#phone.form-control(type="text")
                .form-group
                  label.col-xs-6.col-sm-3.control-label(for="phone-ex")
                    | Phone + Ext
                    br
                    small (999) 999-9999? x99999
                  .col-xs-6.col-sm-9
                    input#phone-ex.form-control(type="text")
                .form-group
                  label.col-xs-6.col-sm-3.control-label(for="tax-id")
                    | Tax ID
                    br
                    small 99-9999999
                  .col-xs-6.col-sm-9
                    input#tax-id.form-control(type="text")
                .form-group
                  label.col-xs-6.col-sm-3.control-label(for="ssn")
                    | SSN
                    br
                    small 999-99-9999
                  .col-xs-6.col-sm-9
                    input#ssn.form-control(type="text")
                .form-group
                  label.col-xs-6.col-sm-3.control-label(for="product-key")
                    | Product Key
                    br
                    small a*-999-a999
                  .col-xs-6.col-sm-9
                    input#product-key.form-control(type="text")
          // END MASKED INPUT
          // DATE PICKER
          #date-picker-demo.panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Date Picker
            .panel-body
              .input-group
                span.input-group-addon
                  i.fa.fa-calendar
                input#datepicker.form-control(type="text")
              br
              p
                | Date Range Picker -
                small time picker can be disabled
              .input-group
                input#daterangepicker.form-control(type="text")
                span.input-group-addon
                  i.fa.fa-calendar
          // END DATE PICKER
          // TEXT AREA WITH COUNTER
          #textarea-demo.panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Text Area With Counter
            .panel-body
              p Type some words
              textarea.textarea-counting.form-control(rows="6", cols="30", maxlength="99")
              p.help-block.text-right.js-textarea-help
                span.text-muted
          // CONCTACT FORM
          h2.section-heading Contact Form
          form.form-horizontal(role="form")
            .row
              .col-sm-6
                .form-group
                  label.control-label.sr-only(for="contact-name") Name
                  input#contact-name.form-control(type="text", placeholder="Name")
              .col-sm-6
                .form-group
                  label.control-label.sr-only(for="contact-email") Email
                  input#contact-email.form-control(type="email", placeholder="Email")
            .form-group
              label.control-label.sr-only(for="contact-subject") Subject
              .col-sm-12
                input#contact-subject.form-control(type="text", placeholder="Subject")
            .form-group
              label.control-label.sr-only(for="contact-message") Message
              .col-sm-12
                textarea#contact-message.form-control(name="contact-message", rows="5", cols="30", placeholder="Message")
            .form-group
              .col-sm-12
                button.btn.btn-primary(type="submit") Submit Message
          // END CONCTACT FORM
          p
            em
              | Working AJAX contact form demo can be found at
              a(href="page-contacts.html") Contact Us
              | page.
          br
          br
          .row
            .col-md-6
              // REGISTRATION FORM
              h2.section-heading Registration Form
              form.form-horizontal(role="form")
                .form-group
                  label.control-label.sr-only(for="username") Username
                  .col-sm-12
                    .input-group
                      input#username.form-control(type="text", placeholder="Username")
                      span.input-group-addon
                        i.fa.fa-user
                .form-group
                  label.control-label.sr-only(for="email") Email
                  .col-sm-12
                    .input-group
                      input#email.form-control(type="email", placeholder="Email")
                      span.input-group-addon
                        i.fa.fa-envelope
                .form-group
                  label.control-label.sr-only(for="password") Password
                  .col-sm-12
                    .input-group
                      input#password.form-control(type="password", placeholder="Password")
                      span.input-group-addon
                        i.fa.fa-lock
                .form-group
                  label.control-label.sr-only(for="password2") Repeat Password
                  .col-sm-12
                    .input-group
                      input#password2.form-control(type="password", placeholder="Repeat Password")
                      span.input-group-addon
                        i.fa.fa-lock
                .form-group
                  .col-sm-12
                    label.fancy-checkbox
                      input(type="checkbox")
                      span Subscribe me to the newsletter
                  .col-sm-12
                    label.fancy-checkbox
                      input(type="checkbox")
                      span
                        | I accept the
                        a(href="#") Terms &#38; Agreement
                .form-group
                  .col-sm-12
                    button.btn.btn-success(type="submit")
                      i.fa.fa-check-circle
                      | Create Account
              // END REGISTRATION FORM
            .col-md-6
              // LOGIN FORM
              h2.section-heading Login Form
              form.form-horizontal(role="form")
                .form-group
                  label.control-label.sr-only(for="inputEmail3") Email
                  .col-sm-12
                    .input-group
                      input#inputEmail3.form-control(type="email", placeholder="Email")
                      span.input-group-addon
                        i.fa.fa-envelope
                .form-group
                  label.control-label.sr-only(for="inputPassword3") Password
                  .col-sm-12
                    .input-group
                      input#inputPassword3.form-control(type="password", placeholder="Password")
                      span.input-group-addon
                        i.fa.fa-lock
                .form-group
                  .col-sm-12
                    label.fancy-checkbox
                      input(type="checkbox")
                      span Remember me
                .form-group
                  .col-sm-12
                    button.btn.btn-primary(type="submit")
                      i.fa.fa-sign-in
                      | Sign in
              br
              p
                em Don"t have an account yet?
                a(href="#")
                  strong Sign Up
                br
                em Forgot your password?
                a(href="#") Recover Password
              // END LOGIN FORM
          br
          br
          .row
            .col-md-6
              // LOGIN FORM WITH LABEL
              h2.section-heading Login Form (visible label)
              form.form-horizontal.left-aligned(role="form")
                .form-group
                  label.col-sm-2.control-label(for="inputEmail3") Email
                  .col-sm-10
                    .input-group
                      input#inputEmail3.form-control(type="email")
                      span.input-group-addon
                        i.fa.fa-envelope
                .form-group
                  label.col-sm-2.control-label(for="inputPassword3") Password
                  .col-sm-10
                    .input-group
                      input#inputPassword3.form-control(type="password")
                      span.input-group-addon
                        i.fa.fa-lock
                .form-group
                  .col-sm-12
                    label.fancy-checkbox
                      input(type="checkbox")
                      span Remember me
                .form-group
                  .col-sm-12
                    button.btn.btn-primary(type="submit")
                      i.fa.fa-sign-in
                      | Sign in
              br
              p
                em Don"t have an account yet?
                a(href="#")
                  strong Sign Up
                br
                em Forgot your password?
                a(href="#") Recover Password
              // END LOGIN FORM WITH LABEL
            .col-md-6
              // SIMPLE FORM
              h2.section-heading Simple Login Form
              form.form-horizontal(role="form")
                .form-group
                  label.control-label.sr-only(for="inputEmail4") Email
                  .col-sm-12
                    input#inputEmail4.form-control(type="email", placeholder="Email")
                .form-group
                  label.control-label.sr-only(for="inputPassword4") Password
                  .col-sm-12
                    input#inputPassword4.form-control(type="password", placeholder="Password")
                .form-group
                  label.col-sm-12.fancy-checkbox
                    input(type="checkbox")
                    span Remember me
                .form-group
                  .col-sm-12
                    button.btn.btn-block.btn-success(type="submit")
                      i.fa.fa-sign-in
                      | Sign in
                p.text-center
                  em Don"t have an account yet?
                  a(href="#")
                    strong Sign Up
                  br
                  em Forgot your password?
                  a(href="#") Recover Password
              // END SIMPLE FORM
          br
          br
          // INLINE FORM
          h2.section-heading Inline Form
          form.form-inline(role="form")
            .form-group
              label.sr-only(for="exampleInputEmail2") Email address
              input#exampleInputEmail2.form-control(type="email", placeholder="Enter email")
            .form-group
              label.sr-only(for="exampleInputPassword2") Password
              input#exampleInputPassword2.form-control(type="password", placeholder="Password")
            label.control-inline.fancy-checkbox
              input(type="checkbox")
              span Remember me
            button.btn.btn-default(type="submit")
              i.fa.fa-sign-in
              | Sign in
          // BASIC VALIDATION
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Basic Validation
            .panel-body
              form(method="post", data-parsley-validate="")
                .form-group
                  label(for="text-input") Text Input
                  input#text-input.form-control(type="text", required="")
                .form-group
                  label Text Area
                  textarea.form-control(name="textarea", rows="5", cols="30", required="")
                .form-group
                  label Checkbox
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox1", required="", data-parsley-errors-container="#error-checkbox")
                    span Option 1
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox1")
                    span Option 2
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox1")
                    span Option 3
                  p#error-checkbox
                .form-group
                  label Radio Button
                  label.fancy-radio
                    input(type="radio", name="gender", required="", data-parsley-errors-container="#error-radio")
                    span
                      i
                      | Male
                  label.fancy-radio
                    input(type="radio", name="gender")
                    span
                      i
                      | Female
                  p#error-radio
                input.btn.btn-primary(type="submit", value="Validate")
          // ADVANCED VALIDATION
          .panel.panel-default
            .panel-heading
              h2.panel-title.section-heading.no-margin Advanced Validation
            .panel-body
              form#advanced-form(data-parsley-validate="")
                .form-group
                  label(for="text-input1") Min. 8 Characters
                  input#text-input1.form-control(type="text", required="", data-parsley-minlength="8")
                .form-group
                  label(for="text-input2") Between 5-10 Characters
                  input#text-input2.form-control(type="text", required="", data-parsley-length="[5,10]")
                .form-group
                  label(for="text-input3") Min. Number ( &#62;= 5 )
                  input#text-input3.form-control(type="text", required="", data-parsley-min="5")
                .form-group
                  label(for="text-input4") Between 20-30
                  input#text-input4.form-control(type="text", required="", data-parsley-range="[20,30]")
                .form-group
                  label Select Min. 2 Options
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox2", required="", data-parsley-mincheck="2", data-parsley-errors-container="#error-checkbox2")
                    span Option 1
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox2")
                    span Option 2
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox2")
                    span Option 3
                  p#error-checkbox2
                .form-group
                  label Select Between 1-2 Options
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox3", required="", data-parsley-range="[1,2]", data-parsley-errors-container="#error-checkbox3")
                    span Option 1
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox3")
                    span Option 2
                  label.fancy-checkbox
                    input(type="checkbox", name="checkbox3")
                    span Option 3
                  p#error-checkbox3
                input.btn.btn-primary(type="submit", value="Validate")
