extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="AgentController")
    br
    center(align="center")
      h2.subtitle Agents
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#adminAgentModal") Add Agent
    br
    table.table.table-hover.table-admin
      thead
        tr
          th #
          th Created
          th Sponsor
          th Agent Name
          th Company
          th Main Phone
          th Email/Agent ID
          //- th Beacons
          //- th Properties
          th Status
          th Manage
      tbody
        tr(ng-repeat="agent in agents | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{agent.createdAt | date : 'MM/dd/yyyy'}}
          td
            p.table-p(ng-if="!agent.sponsor") None
            p.table-p(ng-if="agent.sponsor") {{agent.sponsor.lenderDisplayName}} at {{agent.sponsor.lenderOfficeName}}
          td {{agent.agentDisplayName}}
          td {{agent.agentOfficeName}}
          td {{agent.agentPhoneMain}}
          td {{agent.agentID}}
          //- td 3
          //- td 3
          td {{agent.status}}
          td
            button.btn-table.btn-primary(data-toggle="modal", data-target="#adminAgentModal", ng-click="viewAgentModal(agent)") View/Edit

    #adminAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Agent Information
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#agentDetails", role="tab", data-toggle="tab") Agent Details
              li
                a(href="#sponsorDetails", role="tab", data-toggle="tab") Sponsor Details
              //- li
              //-   a(href="#properties", role="tab", data-toggle="tab") Properties
              //- li
              //-   a(href="#beacons", role="tab", data-toggle="tab") Beacons
            .tab-content
              #agentDetails.tab-pane.in.active
                .row
                  .panel.panel-naked
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Display Name
                          td {{selectedAgent.agentDisplayName}}
                        tr
                          td Company Name
                          td {{selectedAgent.agentOfficeName}}
                        tr
                          td Address 1
                          td {{selectedAgent.agentAddress}}
                        tr
                          td Address 2
                          td {{selectedAgent.agentAddress2}}
                        tr
                          td City, State Zip
                          td {{selectedAgent.agentCity}}, {{selectedAgent.agentState}} {{selectedAgent.agentZip}}
                        tr
                          td Main Phone Number
                          td {{selectedAgent.agentPhoneMain}}
                        tr
                          td Direct Phone Number
                          td {{selectedAgent.agentPhoneDirect}}
                        tr
                          td Mobile Phone Number
                          td {{selectedAgent.agentPhoneMobile}}
                        tr
                          td Email Address
                          td {{selectedAgent.agentEmail}}
                        tr
                          td Connect
                          td
                            a.fa.fa-globe.fa-lg(ng-href="/{{selectedAgent.website}}", target="_blank", title="Website", ng-if="selectedAgent.website")
                            i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!selectedAgent.website")
                            a.fa.fa-linkedin-square.fa-lg(ng-href="/{{selectedAgent.linkedIn}}", target="_blank", title="LinkedIn", ng-if="selectedAgent.linkedIn")
                            i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!selectedAgent.linkedIn")
                            a.fa.fa-facebook-square.fa-lg(ng-href="/{{selectedAgent.faceBook}}", target="_blank", title="Facebook", ng-if="selectedAgent.faceBook")
                            i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!selectedAgent.faceBook")
                            a.fa.fa-twitter-square.fa-lg(ng-href="/{{selectedAgent.twitter}}", target="_blank", title="Twitter", ng-if="selectedAgent.twitter")
                            i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!selectedAgent.twitter")
                        tr
                          td About:
                        tr
                          p(ng-bind-html="trustAsHtml(selectedAgent.agentAboutMe)")
                .row
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{selectedAgent.objectId}}-1.jpg", alt="Agent Photo")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{selectedAgent.objectId}}-1.jpg", alt="Agent Logo")
              #sponsorDetails.tab-pane
                .row
                  .alert.alert-danger.alert-danger-rw.col-xs-12(role="alert", ng-if="!selectedAgent.sponsor")
                    | The current Real Estate Agent is not associated with a sponsor. To add this agent to a sponsor account, please do so in Parse.
                  .panel.panel-naked(ng-if="selectedAgent.sponsor")
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Display Name
                          td {{selectedAgent.sponsor.lenderDisplayName}}
                        tr
                          td Company Name
                          td {{selectedAgent.sponsor.lenderOfficeName}}
                        tr
                          td Address 1
                          td {{selectedAgent.sponsor.lenderAddress}}
                        tr
                          td Address 2
                          td {{selectedAgent.sponsor.lenderAddress2}}
                        tr
                          td City, State Zip
                          td {{selectedAgent.sponsor.lenderCity}}, {{selectedAgent.sponsor.lenderState}} {{selectedAgent.sponsor.lenderZip}}
                        tr
                          td Main Phone Number
                          td {{selectedAgent.sponsor.lenderPhoneMain}}
                        tr
                          td Direct Phone Number
                          td {{selectedAgent.sponsor.lenderPhoneDirect}}
                        tr
                          td Mobile Phone Number
                          td {{selectedAgent.sponsor.lenderPhoneMobile}}
                        tr
                          td Email Address
                          td {{selectedAgent.sponsor.lenderEmail}}
                        tr
                          td Connect
                          td
                            a.fa.fa-globe.fa-lg(ng-href="/{{selectedAgent.sponsor.lenderWebsite}}", target="_blank", title="Website")
                            a.fa.fa-linkedin-square.fa-lg(ng-href="/{{selectedAgent.sponsor.lenderLinkedIn}}", target="_blank", title="LinkedIn")
                            a.fa.fa-facebook-square.fa-lg(ng-href="/{{selectedAgent.sponsor.lenderFaceBook}}", target="_blank", title="Facebook")
                            a.fa.fa-twitter-square.fa-lg(ng-href="/{{selectedAgent.sponsor.lenderTwitter}}", target="_blank", title="Twitter")
                        tr
                          td About
                          td: p(ng-bind-html="trustAsHtml(selectedAgent.sponsor.lenderAbout)")
                .row(ng-if="selectedAgent.sponsor")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{selectedAgent.sponsor.objectId}}-1.jpg", alt="Sponsor Photo")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{selectedAgent.sponsor.objectId}}-1.jpg", alt="Sponsor Logo")
              #properties.tab-pane

              #beacons.tab-pane

          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Close