extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="BeaconController")
    br
    center(align="center")
      h2.subtitle Beacons
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#adminBeaconModal") Add Beacon
      //- button.btn.btn-primary(data-toggle="modal", data-target="#admin10BeaconModal") Add Beacon Batch
    br
    div
      table.table.table-hover.table-admin
        thead
          tr
            th #
            th Created
            th Beacon ID
            th Beacon Name
            th Sponsor
            th Agent Name
            th Company
            th Property
            th Status
            th Manage
        tbody
          tr(ng-repeat="beacon in beacons | orderBy:'createdAt':true")
            td {{ $index + 1 }}
            td {{beacon.createdAt | date : 'MM/dd/yyyy'}}
            td {{beacon.beaconID}}
            td {{beacon.beaconName}}
            td
              p.table-p(ng-if="beacon.ownerPointer.objectId === beacon.agentPointer.objectId") N/A
              p.table-p(ng-if="beacon.ownerPointer.objectId !== beacon.agentPointer.objectId") {{beacon.ownerPointer.lenderOfficeName}}
            td {{beacon.agentPointer.agentDisplayName}}
            td {{beacon.agentPointer.agentOfficeName}}
            td {{beacon.propertyPointer.address1}}, {{beacon.propertyPointer.address2}}, {{beacon.propertyPointer.city}}, {{beacon.propertyPointer.state}}, {{beacon.propertyPointer.zip}}
            td {{beacon.status}}
            td
              button.btn-table.btn-primary(data-toggle="modal", data-target="#adminBeaconModal", ng-click="$root.beacon = beacon") View/Edit

    #adminBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Beacon
          .modal-body
            form(role="form", name="newBeaconFrm", ng-submit="editBeacon($root.beacon)")
              .row
                .form-group.col-xs-6
                  label Major ID
                  input#major.form-control(name="major", ng-model="$root.beacon.major", ng-required="false")
                .form-group.col-xs-6
                  label Minor ID
                  input#minor.form-control(name="minor", ng-model="$root.beacon.minor", ng-required="false")
              .row
                .form-group.col-xs-6
                  label Beacon Name
                  input#beaconName.form-control(name="beaconName", ng-model="$root.beacon.beaconName", ng-required="false")
                .form-group.col-xs-6
                  label Beacon Color
                  input#beaconColor.form-control(name="beaconColor", ng-model="$root.beacon.beaconColor", ng-required="false")
              .row
                .form-group.col-xs-6
                  label Sponsor
                  select#ownerID.form-control(name="ownerID", placeholder="Select", ng-model="$root.beacon.ownerID", ng-required="false")
                    option(value='') Select
                    option(value='{{s.objectId}}', ng-repeat="s in $root.users | filter:ROLES.SPONSOR") {{s.companyName}}
                .form-group.col-xs-6
                  label Real Estate Agent
                  select#agentID.form-control(name="agentID", placeholder="Select", ng-model="$root.beacon.agentID", ng-required="false")
                    option(value='') Select
                    option(value='{{a.objectId}}', ng-repeat="a in $root.users | filter:ROLES.AGENT") {{a.firstName}} {{a.lastName}}
              .row
                .form-group.col-xs-6
                  label Beacon ID
                  input#beaconID.form-control(name="beaconID", type="text", ng-model="$root.beacon.beaconID", ng-required="false")
                .form-group.col-xs-6
                  label Beacon Title
                  input#beaconTitle.form-control(name="beaconTitle", type="text", ng-model="$root.beacon.beaconTitle", ng-required="false")
              center(align="center")
                .row
                  br
                  button.btn.btn-rw.btn-primary(type="submit") Save
          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel

    //- #admin10BeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
    //-   .modal-dialog.modal-lg
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type="button", data-dismiss="modal")
    //-           span(aria-hidden="true") &#215;
    //-           span.sr-only Close
    //-         center(align="center")
    //-           h4#largeModalLabel.modal-title Edit Beacon
    //-       .modal-body
    //-         ul.nav.nav-tabs.nav-justified(role="tablist")
    //-           li.active
    //-             a(href="#editBeaconDetails", role="tab", data-toggle="tab") Details
    //-           li
    //-             a(href="#editBeaconNotes", role="tab", data-toggle="tab") Notes
    //-         .tab-content
    //-           #editBeaconDetails.tab-pane.in.active
    //-             form(role="form", name="editBeacon", ng-submit="saveBeacon(currentBeacon)")
    //-               .row
    //-                 .form-group.col-xs-6
    //-                   label Sponsor
    //-                   select#ownerID.form-control(name="ownerID", placeholder="None", ng-model="beacon.ownerID", ng-required="false")
    //-                     option(value='{{s.objectId}}', ng-repeat="s in $root.users | filter:ROLES.SPONSOR") {{s.companyName}}
    //-                 .form-group.col-xs-6
    //-                   label Real Estate Agent
    //-                   select#agentID.form-control(name="agentID", placeholder="Select", ng-model="$root.beacon.agentID", ng-required="false")
    //-                     option(value='{{a.objectId}}', ng-repeat="a in $root.users | filter:ROLES.AGENT") {{a.firstName}} {{a.lastName}}
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-               .row
    //-                 .form-group.col-xs-4
    //-                   label Beacon ID
    //-                   input#beaconID.form-control(name="beaconID", type="text", ng-model="beacon.beaconID", ng-required="false")
    //-                 .col-xs-2
    //-                   button.btn.btn-rw.btn-primary.btn-batch(type="submit") Save
    //-           #editBeaconNotes.tab-pane
    //-             form(role="form", name="editBeaconNotes", ng-submit="save()")
    //-               .row
    //-                 .form-group.col-xs-12
    //-                   label(for="InputBeaconNotes") Notes
    //-                   textarea.editBeaconNotes.form-control(name="editBeaconNotes", rows="5", ng-required="false")

    //-       .modal-footer
    //-         button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel
