extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="PaymentAdminController")
    br
    center(align="center")
      h2.subtitle Payments
      //- button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#adminPaymentModal") Add Payment
    br
    div
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#viewAll", role="tab", data-toggle="tab") All
        li
          a(href="#viewPending", role="tab", data-toggle="tab", ng-click="loadPending()") Pending
        li
          a(href="#viewToday", role="tab", data-toggle="tab") Today
      .tab-content
        #viewAll.tab-pane.in.active
          table.table.table-hover.table-admin
            thead
              tr
                th #
                th Date
                th Status
                th Agent
                th Sponsor
                th Subscription
                th Address
                th Manage
            tbody
              tr(ng-repeat="payment in payments | orderBy:'createdAt':true")
                td {{ $index + 1 }}
                td {{payment.createdAt | date : 'MM/dd/yyyy'}}
                td {{payment.status}}
                td {{payment.shippingAttn}}
                td {{payment.sponsorCode}}
                td {{payment.subscription}}
                td {{payment.shippingAddress1}}, {{payment.shippingAddress2}}, {{payment.shippingCity}}, {{payment.shippingState}}, {{payment.shippingZip}}
                td: button.btn-table.btn-dropdown.btn-primary(data-toggle="modal", data-target="#adminPaymentModal", ng-click="$root.payment = payment") View/Edit
        #viewPending.tab-pane
          table.table.table-hover.table-admin
            thead
              tr
                th #
                th Date
                th Status
                th Agent
                th Sponsor
                th Subscription
                th Address
                th Manage
            tbody
              tr(ng-repeat="payment in payments | orderBy:'createdAt':true | filter:paymentFilt.status")
                td {{ $index + 1 }}
                td {{payment.createdAt | date : MM/dd/yyyy}}
                td {{payment.status}}
                td {{payment.shippingAttn}}
                td {{payment.sponsorCode}}
                td {{payment.subscription}}
                td {{payment.shippingAddress1}}, {{payment.shippingAddress2}}, {{payment.shippingCity}}, {{payment.shippingState}}, {{payment.shippingZip}}
                td: a(data-toggle="modal", data-target="#adminPaymentModal", ng-click="$root.payment = payment") View/Edit
        #viewToday.tab-pane
          table.table.table-hover.table-admin
            thead
              tr
                th #
                th Date
                th Status
                th Agent
                th Sponsor
                th Subscription
                th Address
                th Manage
            tbody
              tr(ng-repeat="payment in payments | orderBy:'createdAt':true | filter:paymentFilt.status")
                td {{ $index + 1 }}
                td {{payment.createdAt | date : MM/dd/yyyy}}
                td {{payment.status}}
                td {{payment.shippingAttn}}
                td {{payment.sponsorCode}}
                td {{payment.subscription}}
                td {{payment.shippingAddress1}}, {{payment.shippingAddress2}}, {{payment.shippingCity}}, {{payment.shippingState}}, {{payment.shippingZip}}
                td: a(data-toggle="modal", data-target="#adminPaymentModal", ng-click="$root.payment = payment") View/Edit

    #adminPaymentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Payment
          .modal-body
            form(role="form", name="editPaymentFrm", ng-submit="editPayment($root.payment)")
              .row
                .form-group.col-xs-6
                  label Ship To:
                  | {{payment.shippingAttn}}
                .form-group.col-xs-6
                  label Minor ID
                  input#minor.form-control(name="minor", ng-model="$root.beacon.minor", ng-required="false")
              .row
                .form-group.col-xs-6
                  label Beacon Name
                  input#beaconName.form-control(name="beaconName", ng-model="$root.beacon.beaconName", ng-required="false")
                .form-group.col-xs-6
                  label Beacon Color
                  input#beaconColor.form-control(name="beaconColor", ng-model="$root.beacon.beaconColor", ng-required="false")
              .row
                .form-group.col-xs-6
                  label Sponsor
                  select#ownerID.form-control(name="ownerID", placeholder="Select", ng-model="$root.beacon.ownerID", ng-required="false")
                    //- option(value='') Select
                    option(value='{{s.objectId}}', ng-repeat="s in $root.users | filter:ROLES.SPONSOR") {{s.companyName}}
                .form-group.col-xs-6
                  label Real Estate Agent
                  select#agentID.form-control(name="agentID", placeholder="Select", ng-model="$root.beacon.agentID", ng-required="false")
                    //- option(value='') Select
                    option(value='{{a.objectId}}', ng-repeat="a in $root.users | filter:ROLES.AGENT") {{a.firstName}} {{a.lastName}}
              .row
                .form-group.col-xs-6
                  label Beacon ID
                  input#beaconID.form-control(name="beaconID", type="text", ng-model="$root.beacon.beaconID", ng-required="false")
                .form-group.col-xs-6
                  label Beacon Title
                  input#beaconTitle.form-control(name="beaconTitle", type="text", ng-model="$root.beacon.beaconTitle", ng-required="false")
              center(align="center")
                .row
                  br
                  button.btn.btn-rw.btn-primary(type="submit") Save
          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel

