extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="PropertyController")
    br
    center(align="center")
      h2.subtitle Properties
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#adminPropertyModal") Add Property
    br
    div
      table.table.table-hover.table-admin
        thead
          tr
            th #
            th Created
            th Agent
            th Company
            th Address
            th Price
            //- th Beacons
            th Manage
        tbody
          tr(ng-repeat="property in properties | orderBy:'createdAt':true")
            td {{ $index + 1 }}
            td {{property.createdAt | date : 'MM/dd/yyyy'}}
            td {{property.agentPointer.agentDisplayName}}
            td {{property.agentPointer.agentOfficeName}}
            td {{property.address1}} {{property.address2}}, {{property.city}}, {{property.state}}
            td {{property.price | currency:"$":0}}
            //- td 5
            td
              button.btn-table.btn-primary(data-toggle="modal", data-target="#adminPropertyModal", ng-click="$root.property = property") View/Edit Details
              button.btn-table.btn-success(href="", ng-click="openFileUpload") Manage Photos
              button.btn-table.btn-danger(data-toggle="modal", data-target="#removePropertyModal") Delete

    #adminPropertyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Add New Property
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#mainInfo", role="tab", data-toggle="tab") Basic Info
              li
                a(href="#details", role="tab", data-toggle="tab") Additional Details
              li
                a(href="#remarks", role="tab", data-toggle="tab") Remarks
            .tab-content
              #mainInfo.tab-pane.in.active
                form(role="form", name="adminPropFrm1", ng-submit="saveProperty(property)", autocomplete="off", autofill="off")
                  .row
                    .form-group.col-xs-12
                      label Address 1
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.address1.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.address1.$valid")
                      input#address1.form-control(name="address1", type="text", ng-model="property.address1", ng-required="true", ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }", autocomplete="off")
                  .row
                    .form-group.col-xs-12
                      label Address 2
                      input#address2.form-control(name="address2", type="text", ng-model="property.address2", autocomplete="off")
                  .row
                    .form-group.col-xs-5
                      label City
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.city.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.city.$valid")
                      input#city.form-control(name="city", type="text", ng-model="property.city", ng-required="true", ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }", autocomplete="off")
                    .form-group.col-xs-4(ng-if="$root.user.region === 'USA'")
                      label State
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.state.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.state.$valid")
                      select#state.form-control(name="state", placeholder="Select", ng-model="property.state", ng-required="true", autocomplete="off")
                        option(value='') Select
                        option(value='AL') AL - Alabama
                        option(value='AK') AK - Alaska
                        option(value='AZ') AZ - Arizona
                        option(value='AR') AR - Arkansas
                        option(value='CA') CA - California
                        option(value='CO') CO - Colorado
                        option(value='CT') CT - Connecticut
                        option(value='DC') DC - District of Columbia
                        option(value='DE') DE - Deleware
                        option(value='FL') FL - Florida
                        option(value='GA') GA - Georgia
                        option(value='HI') HI - Hawaii
                        option(value='ID') ID - Idaho
                        option(value='IL') IL - Illinois
                        option(value='IN') IN - Indiana
                        option(value='IA') IA - Iowa
                        option(value='KS') KS - Kansas
                        option(value='KY') KY - Kentucky
                        option(value='LA') LA - Louisiana
                        option(value='ME') ME - Maine
                        option(value='MD') MD - Maryland
                        option(value='MA') MA - Massachusetts
                        option(value='MI') MI - Michigan
                        option(value='MN') MN - Minnesota
                        option(value='MS') MS - Mississippi
                        option(value='MO') MO - Missouri
                        option(value='MT') MT - Montana
                        option(value='NE') NE - Nebraska
                        option(value='NV') NV - Nevada
                        option(value='NH') NH - New Hampshire
                        option(value='NJ') NJ - New Jersey
                        option(value='NM') NM - New Mexico
                        option(value='NY') NY - New York
                        option(value='NC') NC - North Carolina
                        option(value='ND') ND - North Dakota
                        option(value='OH') OH - Ohio
                        option(value='OK') OK - Oklahoma
                        option(value='OR') OR - Oregon
                        option(value='PA') PA - Pennsylvania
                        option(value='RI') RI - Rhode Island
                        option(value='SC') SC - South Carolina
                        option(value='SD') SD - South Dakota
                        option(value='TN') TN - Tennessee
                        option(value='TX') TX - Texas
                        option(value='UT') UT - Utah
                        option(value='VT') VT - Vermont
                        option(value='VA') VA - Virginia
                        option(value='WA') WA - Washington
                        option(value='WV') WV - West Virginia
                        option(value='WI') WI - Wisconsin
                        option(value='WY') WY - Wyoming
                    .form-group.col-xs-3
                      label Zip/Postal Code
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.zip.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.zip.$valid")
                      input#zip.form-control(name="zip", type="text", ng-model="property.zip", ng-required="true", ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }", autocomplete="off")
                  .row
                    .form-group.col-xs-12
                      label Neighborhood
                      input#neighborhood.form-control(name="neighborhood", type="text", ng-model="property.neighborhood", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Bedrooms
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.beds.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.beds.$valid")
                      select#beds.form-control(name="beds", ng-model="property.beds", placeholder="Select", ng-required="true")
                        option(value='') Select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                        option(value='9') 9
                        option(value='10') 10
                    .form-group.col-xs-6
                      label Bathrooms
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.baths.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.baths.$valid")
                      select#baths.form-control(name="baths", type="baths", ng-model="property.baths", placeholder="Select", ng-required="true")
                        option(value='') Select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                        option(value='9') 9
                        option(value='10') 10
                  .row
                    .form-group.col-xs-6
                      label Price
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.price.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.price.$valid")
                      input#price.form-control(name="price", type="text", ng-model="property.price", ng-required="true")
                    .form-group.col-xs-6(ng-if="$root.user.region === 'USA'")
                      label Square Feet
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.sqft.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.sqft.$valid")
                      input#sqft.form-control(name="sqft", type="text", ng-model="property.sqft", ng-required="true")
                    .form-group.col-xs-6(ng-if="$root.user.region !== 'USA'")
                      label Square Meters
                        fa.green.fa.fa-check(ng-if="adminPropFrm1.sqft.$valid")
                        fa.red.fa.fa-times(ng-if="!adminPropFrm1.sqft.$valid")
                      input#sqft.form-control(name="sqft", type="text", ng-model="property.sqft", ng-required="true")
                  center(align="center")
                    .row
                      br
                      .alert.alert-danger(ng-if="!adminPropFrm1.$valid") Please fill out all required fields above.
                      //- .alert.alert-danger(ng-if="property.latitude == '0'")
                      //-   | Property address could not be placed on the map. Please check your address. {{getFullAddress(property)}}. Try entering the address in Google to verify it can be plotted on a map.
                      button.btn.btn-rw.btn-default(type="submit", ng-disabled="!adminPropFrm1.$valid", ng-class="{ 'btn-default': !adminPropFrm1.$valid, 'btn-primary': adminPropFrm1.$valid }") Save
              #details.tab-pane
                form(role="form", name="adminPropFrm2", ng-submit="saveProperty(property)")
                  .row
                    .form-group.col-xs-6
                      label Property Type
                      select#propertyType.form-control(name="propertyType", ng-model="property.propertyType", placeholder="Select", ng-required="false")
                        option(value='') Select
                        option(value='House - Detached') House - Detached
                        option(value='House - Attached') House - Attached
                        option(value='Condo') Condo
                    .form-group.col-xs-6
                      label Property Style
                      select#propertyStyle.form-control(name="propertyStyle", ng-model="property.propertyStyle", placeholder="Select")
                        option(value='') Select
                        option(value='Ranch/1 Story') Ranch/1 Story
                        option(value='2 Story') 2 Story
                        option(value='3+ Story') 3+ Story
                        option(value='Condo') Condo
                        option(value='Other') Other
                  .row
                    .form-group.col-xs-6
                      label Parking
                      input#parking.form-control(name="parkingType", type="text", ng-model="property.parking")
                    .form-group.col-xs-6
                      label HOA Fee
                      input#hoaFee.form-control(name="hoaFee", type="text", ng-model="property.hoaFee")
                  .row
                    .form-group.col-xs-6
                      label School District
                      input#schoolDistrict.form-control(name="schoolDistrict", type="text", ng-model="property.schoolDistrict", ng-required="false")
                    .form-group.col-xs-6
                      label Elementary School
                      input#elem.form-control(name="elem", type="text", ng-model="property.elem", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Middle School
                      input#jrhi.form-control(name="jrhi", type="text", ng-model="property.jrhi", ng-required="false")
                    .form-group.col-xs-6
                      label High School
                      input#srhi.form-control(name="srhi", type="text", ng-model="property.srhi", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Basement
                      input#basement.form-control(name="basement", type="text", ng-model="property.basement")
                    .form-group.col-xs-6
                      .col-xs-12
                        label Listed Date
                      .col-xs-4
                        select#listedMonth.form-control(name="listedMonth", ng-model="listedMonth", placeholder="Month")
                          option(value='') Month
                          option(value='Jan') January
                          option(value='Feb') February
                          option(value='Mar') March
                          option(value='Apr') April
                          option(value='May') May
                          option(value='Jun') June
                          option(value='Jul') July
                          option(value='Aug') August
                          option(value='Sep') September
                          option(value='Oct') October
                          option(value='Nov') November
                          option(value='Dec') December
                      .col-xs-4
                        select#listedDay.form-control(name="listedDay", ng-model="listedDay", placeholder="Day")
                          option(value='') Day
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                          option(value='6') 6
                          option(value='7') 7
                          option(value='8') 8
                          option(value='9') 9
                          option(value='10') 10
                          option(value='11') 11
                          option(value='12') 12
                          option(value='13') 13
                          option(value='14') 14
                          option(value='15') 15
                          option(value='16') 16
                          option(value='17') 17
                          option(value='18') 18
                          option(value='19') 19
                          option(value='20') 20
                          option(value='21') 21
                          option(value='22') 22
                          option(value='23') 23
                          option(value='24') 24
                          option(value='25') 25
                          option(value='26') 26
                          option(value='27') 27
                          option(value='28') 28
                          option(value='29') 29
                          option(value='30') 30
                          option(value='31') 31
                      .col-xs-4
                        select#listedYear.form-control(name="listedYear", ng-model="listedYear", placeholder="Year")
                          option(value='') Year
                          option(value='2015') 2015
                          option(value='2014') 2014
                  .row
                    .form-group.col-xs-4
                      label Taxes
                      input#taxes.form-control(name="taxes", type="text", ng-model="property.taxes", ng-required="false")
                    .form-group.col-xs-4
                      label Year Built
                      input#yearBuilt.form-control(name="yearBuilt", type="text", ng-model="property.yearBuilt", ng-required="false")
                    .form-group.col-xs-4
                      label Builder
                      input#builderModel.form-control(name="builderModel", type="text", ng-model="property.builderModel", ng-required="false")
                  center(align="center")
                    .row
                      br
                      button.btn.btn-rw.btn-primary(type="submit") Save
              #remarks.tab-pane
                form(role="form", name="propFrm3", ng-submit="saveProperty(property)")
                  .row
                    .form-group.col-xs-12
                      label Remarks
                      textarea(ckeditor="editorOptions", ng-model="property.remarks")
                  center(align="center")
                    .row
                      br
                      button.btn.btn-rw.btn-primary(type="submit") Save
              .clearfix

          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelPropertyModal") Discard Changes

    #propertySuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#propertySuccess.modal-title Property Created!
          .modal-body
              center(align="center")
                | Your property has been successfully added. You can now add photos for this property by clicking on the, "Manage Photos" button.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(data-dismiss="modal") Close

    #cancelPropertyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelPropertyLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#cancelPropertyLabel.modal-title Cancel Property Update
          .modal-body
            form(role="form", name="propCancel", ng-submit="cancelProperty()")
              center(align="center")
                | Are you sure you want to cancel creating/updating this property? You are allowed to add an unlimited number of properties to your list.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelPropertyModal") Keep
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#agentPropertyModal", data-dismiss="modal") Discard

    #removePropertyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="deletePropertyLabel", aria-hidden="true")
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#deletePropertyLabel.modal-title Delete Property
          .modal-body
            form(role="form", name="propDelete", ng-submit="removeProperty(property)")
              center(align="center")
                | Are you sure you want to delete this property? NOTE: This cannot be undone and will remove the property from any beacons currently associated with it.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(type="submit") Delete
                  button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel

    #adminPropPhotos.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Manage Photos
          .modal-body.modal-photos
            form.fileupload(method='POST', enctype='multipart/form-data')
              .row
                center(align="center")
                  a.btn.btn-rw.btn-primary(href="#")
                    | Upload Photo
                    input(type='file', name="propertyPhoto", id="property_upload")
              .row
                b Status: {{ status }}
              section.content
                .row
                  ul.no-padding.text-center
                    li.item.print.mb30.col-sm-3(ng-repeat="p in photos track by $index")
                      .border
                        .view.portfolio-hover-1
                          img.img-responsive.cloud-img(ng-src="{{p}}", alt="Property Photo")
                          .mask
                            //- .portfolio-hover-content
                            //-   a.info(data-toggle="modal", data-target="#removePhotoModal")
                            //-     .portfolio-icon-holder.modal-photos
                            //-       span.ion-ios7-trash.portfolio-icons
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#agentPropPhotos") Close