extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/admin/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="SponsorController")
    br
    center(align="center")
      h2.subtitle Sponsors
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#sponsorModal") Add Sponsor
    br
    table.table.table-hover.table-admin
      thead
        tr
          th #
          th Owner ID
          th Company
          th Contact Name
          th Contact Phone
          th Contact Email
          //- th Beacons
          //- th Status
          th Manage
      tbody
        tr(ng-repeat="owner in owners | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{owner.ownerID}}
          td {{owner.company}}
          td {{owner.lenderDisplayName}}
          td {{owner.lenderPhoneDirect}}
          td {{owner.lenderEmail}}
          //- td 50
          //- td Active
          td
            button.btn-table.btn-primary(data-toggle="modal", data-target="#sponsorModal", ng-click="$root.owner = owner") View/Edit

    #sponsorModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Add New Sponsor
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#sponsorDetails", role="tab", data-toggle="tab") Details
              li
                a(href="#sponsorInfo", role="tab", data-toggle="tab") Info
              li
                a(href="#sponsorNotes", role="tab", data-toggle="tab") Notes
            .tab-content
              #sponsorDetails.tab-pane.in.active
                form(role="form", name="newSponsor", ng-submit="save()")
                  .row
                    .form-group.col-xs-6
                      label(for="InputSponsorCode")
                        | Sponsor Code
                      input.sponsorCode.form-control(name="sponsorCode", type="text", ng-required="false")
                    .form-group.col-xs-6
                      label(for="InputSponsorStatus")
                        | Sponsor Status
                      select.sponsorStatus.form-control(name="sponsorStatus", type="text", ng-required="false")
                        option(value='') Select
                        option(value='Pending') Pending
                        option(value='Active') Active
                        option(value='Suspended') Suspended
                        option(value='Cancelled') Cancelled
                  .row
                    .form-group.col-xs-6
                      label(for="InputSponsorLogin")
                        | Sponsor Login (Email)
                      input.sponsorLogin.form-control(name="sponsorLogin", type="text", ng-required="false")
                    .form-group.col-xs-6
                      label(for="InputSponsorPassword")
                        | Sponsor Password
                      input.sponsorPassword.form-control(name="sponsorPassword", type="text", ng-required="false")
              #sponsorInfo.tab-pane
                form(role="form", name="newSponsor", ng-submit="save()")
                  .row
                    .col-xs-6
                      center(align="center")
                        a.btn.btn-rw.btn-primary(href="#", id="lender_photo_widget") Edit Photo
                      br
                      center(align="center")
                        img.img-responsive.br-2.profile-image-display(ng-src="{{$root.owner.lenderPhoto}}", alt="Agent Photo")
                    .col-xs-6
                      center(align="center")
                        a.btn.btn-rw.btn-primary(href="#", id="lender_logo_widget") Edit Logo
                      br
                      center(align="center")
                        img.img-responsive.br-2.profile-image-display(ng-src="{{$root.owner.lenderLogo}}", alt="Agent Logo")
                  br
                  .row
                    .form-group.col-xs-12
                      label(for="InputCompanyName")
                        | Company Name
                      input.companyName.form-control(name="sponsorCompanyName", type="text", ng-required="false")
                  .row
                    .form-group.col-xs-12
                      label(for="InputContactName")
                        | Contact Name
                      input.contactName.form-control(name="sponsorContactName", type="text", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label(for="InputContactPhone")
                        | Contact Phone Number
                      input.contactPhone.form-control(type="tel", name="sponsorPhone", ng-required="false")
                    .form-group.col-xs-6
                      label(for="InputContactEmail")
                        | Contact Email Address
                      input.primaryEmail.form-control(name="sponsorEmail", type="text", ng-required="false")
                  .row
                    .form-group.col-xs-12
                      label(for="InputSponsorAddress1")
                        | Address 1
                      input.address.form-control(name="sponsorAddress1", type="text", ng-required="false")
                  .row
                    .form-group.col-xs-12
                      label(for="InputSponsorAddress2")
                        | Address 2
                      input.address2.form-control(name="sponsorAddress2", type="text")
                  .row
                    .form-group.col-xs-5
                      label(for="InputSponsorCity")
                        | City
                      input.city.form-control(name="sponsorCity", type="text", ng-required="false")
                    .form-group.col-xs-4
                      label(for="InputSponsorState")
                        | State
                      select.state.form-control(name="sponsorState", placeholder="Select", ng-required="false")
                        option(value='') Select
                        option(value='AL') AL - Alabama
                        option(value='AK') AK - Alaska
                        option(value='AZ') AZ - Arizona
                        option(value='AR') AR - Arkansas
                        option(value='CA') CA - California
                        option(value='CO') CO - Colorado
                        option(value='CT') CT - Connecticut
                        option(value='DC') DC - District of Columbia
                        option(value='DE') DE - Deleware
                        option(value='FL') FL - Florida
                        option(value='GA') GA - Georgia
                        option(value='HI') HI - Hawaii
                        option(value='ID') ID - Idaho
                        option(value='IL') IL - Illinois
                        option(value='IN') IN - Indiana
                        option(value='IA') IA - Iowa
                        option(value='KS') KS - Kansas
                        option(value='KY') KY - Kentucky
                        option(value='LA') LA - Louisiana
                        option(value='ME') ME - Maine
                        option(value='MD') MD - Maryland
                        option(value='MA') MA - Massachusetts
                        option(value='MI') MI - Michigan
                        option(value='MN') MN - Minnesota
                        option(value='MS') MS - Mississippi
                        option(value='MO') MO - Missouri
                        option(value='MT') MT - Montana
                        option(value='NE') NE - Nebraska
                        option(value='NV') NV - Nevada
                        option(value='NH') NH - New Hampshire
                        option(value='NJ') NJ - New Jersey
                        option(value='NM') NM - New Mexico
                        option(value='NY') NY - New York
                        option(value='NC') NC - North Carolina
                        option(value='ND') ND - North Dakota
                        option(value='OH') OH - Ohio
                        option(value='OK') OK - Oklahoma
                        option(value='OR') OR - Oregon
                        option(value='PA') PA - Pennsylvania
                        option(value='RI') RI - Rhode Island
                        option(value='SC') SC - South Carolina
                        option(value='SD') SD - South Dakota
                        option(value='TN') TN - Tennessee
                        option(value='TX') TX - Texas
                        option(value='UT') UT - Utah
                        option(value='VT') VT - Vermont
                        option(value='VA') VA - Virginia
                        option(value='WA') WA - Washington
                        option(value='WV') WV - West Virginia
                        option(value='WI') WI - Wisconsin
                        option(value='WY') WY - Wyoming
                    .form-group.col-xs-3
                        label(for="InputSponsorZip")
                          | Zip Code
                        input.zip.form-control(name="sponsorZip", type="text", ng-required="false")
              #sponsorNotes.tab-pane
                form(role="form", name="newSponsor", ng-submit="save()")
                  .row
                    .form-group.col-xs-12
                      label(for="SponsorNotes") Notes
                      textarea.sponsorNotes.form-control(name="sponsorNotes", rows="10", ng-required="false")
              .clearfix

          .modal-footer
            button.btn.btn-rw.btn-primary(type="button") Add Sponsor
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel