extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/sponsor/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="AgentController")
    br
    center(align="center")
      h2.subtitle My Agents
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#sponsorNewAgentModal") Add Agent
    br
    center(align="center", ng-if="agents && agents.length < 1")
      .alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert")
        button.close(type="button", data-dismiss="alert")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        | You have no agents yet. To add an agent, click the 'Add Agent' button above.
    table.table.table-hover.table-agent
      thead
        tr
          th #
          th Created
          th Agent Name
          th Company
          th Primary Phone
          th Primary Email
          //- th Beacons
          //- th Properties
          th Status
          th Manage
      tbody
        tr(ng-repeat="agent in agents | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{agent.createdAt | date : 'MM/dd/yyyy'}}
          td {{agent.agentDisplayName}}
          td {{agent.agentOfficeName}}
          td {{agent.agentPhoneMain}}
          td {{agent.agentEmail}}
          //- td 3
          //- td 3
          td {{agent.status}}
          td
            button.btn-table.btn-primary(data-toggle="modal", data-target="#sponsorAgentModal", ng-click="viewAgentModal(agent)") View Details

    #sponsorAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title View/Edit Agent
          .modal-body
            .row
              .panel.panel-naked
                table.table.table-condensed.table-naked
                  tbody
                    tr
                      td Display Name
                      td {{selectedAgent.agentDisplayName}}
                    tr
                      td Company Name
                      td {{selectedAgent.agentOfficeName}}
                    tr
                      td Address 1
                      td {{selectedAgent.agentAddress}}
                    tr
                      td Address 2
                      td {{selectedAgent.agentAddress2}}
                    tr
                      td City, State Zip
                      td {{selectedAgent.agentCity}}, {{selectedAgent.agentState}} {{selectedAgent.agentZip}}
                    tr
                      td Main Phone Number
                      td {{selectedAgent.agentPhoneMain}}
                    tr
                      td Direct Phone Number
                      td {{selectedAgent.agentPhoneDirect}}
                    tr
                      td Mobile Phone Number
                      td {{selectedAgent.agentPhoneMobile}}
                    tr
                      td Email Address
                      td {{selectedAgent.agentEmail}}
                    tr
                      td Connect
                      td
                        a.fa.fa-globe.fa-lg(ng-href="/{{selectedAgent.website}}", target="_blank", title="{{selectedAgent.website}}", ng-if="selectedAgent.website")
                        i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!selectedAgent.website")
                        a.fa.fa-linkedin-square.fa-lg(ng-href="/{{selectedAgent.linkedIn}}", target="_blank", title="{{selectedAgent.linkedIn}}", ng-if="selectedAgent.linkedIn")
                        i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!selectedAgent.linkedIn")
                        a.fa.fa-facebook-square.fa-lg(ng-href="/{{selectedAgent.faceBook}}", target="_blank", title="{{selectedAgent.faceBook}}", ng-if="selectedAgent.faceBook")
                        i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!selectedAgent.faceBook")
                        a.fa.fa-twitter-square.fa-lg(ng-href="/{{selectedAgent.twitter}}", target="_blank", title="{{selectedAgent.twitter}}", ng-if="selectedAgent.twitter")
                        i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!selectedAgent.twitter")
                    tr
                      td About
                      td: p(ng-bind-html="trustAsHtml(selectedAgent.agentAboutMe)")
            .row
              .col-xs-6.mb30-xs.text-center
                .col-xs-12
                  .content-box-profile.content-box-bordered.no-margin
                    img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{selectedAgent.objectId}}-1.jpg", alt="Agent Photo")
              .col-xs-6.mb30-xs.text-center
                .col-xs-12
                  .content-box-profile.content-box-bordered.no-margin
                    img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{selectedAgent.objectId}}-1.jpg", alt="Agent Logo")
          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel

    #sponsorNewAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Sign Up New Agent
          .modal-body
            | NOTE: This is ONLY for Real Estate Agents who have not signed up on the site yet. Once submitted, the agent must log in, reset their password and accept the terms in order to activate their account.
            form(role="form", name="agentSignupFrm", ng-submit="signupAgent()")
              br
              .row
                .form-group.col-xs-12(ng-class="{ 'has-error': !agentSignupFrm.username.$valid, 'has-success': agentSignupFrm.username.$valid }")
                  label Email Address
                    fa.green.fa.fa-check(ng-if="agentSignupFrm.username.$valid")
                    fa.red.fa.fa-times(ng-if="!agentSignupFrm.username.$valid")
                  input#InputEmail1.form-control(type="email", name="username", ng-model="signupAgent.username", ng-required="true")
                .form-group.col-xs-12(ng-class="{ 'has-error': !agentSignupFrm.password.$valid, 'has-success': agentSignupFrm.password.$valid }")
                  label Password (4 Character Minimum)
                    fa.green.fa.fa-check(ng-if="agentSignupFrm.password.$valid")
                    fa.red.fa.fa-times(ng-if="!agentSignupFrm.password.$valid")
                  input#Password1.form-control(type="password", name="password", ng-model="signupAgent.password", ng-minlength="4", ng-required="true")
                .form-group.col-xs-12(ng-class="{ 'has-error': user.passwordConfirm !== user.password, 'has-success': user.passwordConfirm === user.password }")
                  label Confirm Password
                    fa.green.fa.fa-check(ng-if="agentSignupFrm.passwordConfirm.$valid")
                    fa.red.fa.fa-times(ng-if="!agentSignupFrm.passwordConfirm.$valid")
                  input#passwordConfirm.form-control(type="password", name="passwordConfirm", ng-model="signupAgent.passwordConfirm", ng-minlength="4", ng-required="true")
                .form-group.col-xs-12
                  label.checkbox-inline
                    input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="signupAgent.termsAgreed")
                    | I agree to the
                    a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
                    | .
                .form-group.col-xs-12
                  center(align="center")
                    .row
                      .alert.alert-danger(ng-if="!signupAgent.termsAgreed") Please agree to the terms and conditions.
                      .alert.alert-danger(ng-if="!agentSignupFrm.$valid") Please fill out all required fields in the form to sign up.
                      .alert.alert-danger(ng-if="error") {{error}}
                      button.btn.btn-rw.btn-default(type="submit", ng-disabled="!agentSignupFrm.$valid || !signupAgent.termsAgreed", ng-class="{ 'btn-default': !agentSignupFrm.$valid || !signupAgent.termsAgreed, 'btn-primary': agentSignupFrm.$valid && signupAgent.termsAgreed }") Sign Up
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelNewAgentModal") Discard

    #sponsorNewAgentSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Agent Created!
          .modal-body
              center(align="center")
                | Your Agent has been successfully added. Please notify them of their login and password to activate their account.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(ng-click="modalPageReload()") Close

    #cancelNewAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Cancel Agent Signup
          .modal-body
            form(role="form", name="propCancel", ng-submit="cancelProperty()")
              center(align="center")
                | Are you sure you want to cancel creating this Agent? You are allowed to have an unlimited number of Agents in your list.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelNewAgentModal") Keep
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#sponsorNewAgentModal", data-dismiss="modal") Discard