extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/sponsor/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="BeaconController")
    br
    center(align="center")
      h2.subtitle My Beacons
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#newSponsorBeaconModal") Order Beacons
    br
    center(align="center", ng-if="beacons && beacons.length < 1")
      .alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert")
        button.close(type="button", data-dismiss="alert")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        | You have no beacons yet. To add a beacon, click the 'Order Beacons' button above.
        b NOTE:
        | Beacons you have ordered may take a few business days to appear in the list below.
    table.table.table-hover.table-agent
      thead
        tr
          th #
          th ID
          th Name
          th Created
          th Status
          th Agent
          th Property
          th Manage
      tbody
        tr(ng-repeat="beacon in beacons | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{beacon.beaconID}}
          td {{beacon.beaconName}}
          td {{beacon.createdAt | date : 'MM/dd/yyyy'}}
          td {{beacon.status}}
          td {{beacon.agentPointer.agentDisplayName}}
          td {{beacon.propertyPointer.address1}} {{beacon.propertyPointer.address2}} {{beacon.propertyPointer.city}} {{beacon.propertyPointer.state}} {{beacon.propertyPointer.zip}}
          td
            button.btn-table.btn-primary(data-toggle="modal", data-target="#sponsorBeaconDetailsModal", ng-click="$root.beacon = beacon") View Details
            button.btn-table.btn-success(data-toggle="modal", data-target="#sponsorBeaconModal", ng-click="$root.beacon = beacon") Edit Details/Assign Agent

    #sponsorBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Beacon
          .modal-body
            form(role="form", name="editSponsorBeacon", ng-submit="editBeacon($root.beacon)")
              .row
                .form-group.col-xs-6
                  label Beacon Name
                  i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A name only visible to you (consumers do not see this in the app), in order to easier manage and track your beacons.")
                  input#beaconName.form-control(name="beaconName", type="text", ng-model="$root.beacon.beaconName", ng-required="true")
                .form-group.col-xs-6
                  label Real Estate Agent
                  select#agentPointer.form-control(name="agentPointer", placeholder="Select", ng-model="$root.beacon.agentPointer.objectId", ng-required="false")
                    option(value='') Select
                    option(value='{{agent.objectId}}', ng-repeat="agent in agents") {{agent.agentDisplayName}}
              center(align="center")
                .row
                  br
                  button.btn.btn-rw.btn-primary(type="submit") Save
          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Cancel

    #newSponsorBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Order Beacons
          .modal-body
            br
            p Please fill out the form below to order a new beacon. Please allow up to 14 business days for us to process and ship the new beacon. If you are ordering more than 5 beacons, please contact us for discount pricing.
            form#payment-form(role="form", name="billingFrm", ng-submit="buyBeacon($root.payment)")
              span.payment-errors
              .row
                .radio.payment.col-xs-12
                  label Subscription (Per Beacon)
                    fa.green.fa.fa-check(ng-if="$root.payment.subscription")
                    fa.red.fa.fa-times(ng-if="!$root.payment.subscription")
                  input#beaconMonthly(type="radio", name="subscription", ng-model="$root.payment.subscription", value="monthly", checked="")
                  span $49/Month
                  input#beaconAnnual(type="radio", name="subscription", ng-model="$root.payment.subscription", value="annual")
                  span $549/Year
                  .alert.alert-danger(ng-if="!$root.payment.subscription") Please choose a subscription option above. If you have a sponsor code, you will be able to enter it below.
              .row
                .form-group.col-xs-2
                  label Quantity
                    fa.green.fa.fa-check(ng-if="billingFrm.quantity.$valid")
                    fa.red.fa.fa-times(ng-if="!billingFrm.quantity.$valid")
                  select#quantity.form-control(name="quantity", placeholder="Select", ng-model="$root.payment.quantity", ng-required="true")
                    option(value='') Select
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
              .row
                .form-group.col-xs-3
                  label.billing Cardholder Name
                    fa.green.fa.fa-check(ng-if="$root.payment.name")
                    fa.red.fa.fa-times(ng-if="!$root.payment.name")
                  input#name(type="text", size="20", data-stripe="name", ng-model="$root.payment.name")
                .form-group.col-xs-3
                  label.billing Card Number
                    fa.green.fa.fa-check(ng-if="$root.payment.number")
                    fa.red.fa.fa-times(ng-if="!$root.payment.number")
                  input#number(type="text", size="20", data-stripe="number", ng-model="$root.payment.number")
                .form-group.col-xs-3
                  label.billing Expiration Date
                    fa.green.fa.fa-check(ng-if="$root.payment.expMonth && $root.payment.expYear")
                    fa.red.fa.fa-times(ng-if="!$root.payment.expMonth || !$root.payment.expYear")
                  input#exp-month(type="text", size="2", data-stripe="exp-month", placeholder="MM", ng-model="$root.payment.expMonth")
                  |  /
                  input#exp-year(type="text", size="4", data-stripe="exp-year", placeholder="YYYY", ng-model="$root.payment.expYear")
                .form-group.col-xs-3
                  label.billing CVC
                    fa.green.fa.fa-check(ng-if="$root.payment.cvc")
                    fa.red.fa.fa-times(ng-if="!$root.payment.cvc")
                  input#cvc(type="text", size="4", data-stripe="cvc", ng-model="$root.payment.cvc")
              .row
                .form-group.col-xs-12
                  label.billing Billing Address
                    fa.green.fa.fa-check(ng-if="$root.payment.address && $root.payment.city && $root.payment.state && $root.payment.zip")
                    fa.red.fa.fa-times(ng-if="!$root.payment.address || !$root.payment.city || !$root.payment.state || !$root.payment.zip")
                  input#address(type="text", size="20", data-stripe="address1", placeholder="Address", ng-model="$root.payment.address")
                  input#unit(type="text", size="12", data-stripe="address2", placeholder="Unit or Suite #", ng-model="$root.payment.address2")
                  input#billingCity(type="text", size="20", data-stripe="city", placeholder="City", ng-model="$root.payment.city")
                  input#billingState(type="text", size="10", data-stripe="state", placeholder="State", ng-model="$root.payment.state")
                  input#billingZip(type="number", size="10", data-stripe="zip", placeholder="Zip", ng-model="$root.payment.zip")
              .row
                .radio.payment.col-xs-12(ng-init="$root.payment.shippingMatch='Yes'")
                  label Ship Beacon to Billing Address?
                  input#shippingMatchY(type="radio", name="shippingMatch", ng-model="$root.payment.shippingMatch", value="Yes", checked="")
                  span Yes
                  input#shippingMatchN(type="radio", name="shippingMatch", ng-model="$root.payment.shippingMatch", value="No")
                  span No
              .row
                .form-group.col-xs-3(ng-if="$root.payment.shippingMatch === 'No'")
                  label.billing Ship To:
                  input#name(type="text", size="20", data-stripe="name", placeholder="Recipient", ng-model="$root.payment.shippingAttn")
              .row
                .form-group.col-xs-12(ng-if="$root.payment.shippingMatch === 'No'")
                  label.billing Shipping Address
                  input#address(type="text", size="20", data-stripe="address1", placeholder="Address", ng-model="$root.payment.shippingAddress1")
                  input#unit(type="text", size="12", data-stripe="address2", placeholder="Unit or Suite #", ng-model="$root.payment.shippingAddress2")
                  input#billingCity(type="text", size="20", data-stripe="city", placeholder="City", ng-model="$root.payment.shippingCity")
                  input#billingState(type="text", size="10", data-stripe="state", placeholder="State", ng-model="$root.payment.shippingState")
                  input#billingZip(type="number", size="10", data-stripe="zip", placeholder="Zip", ng-model="$root.payment.shippingZip")
              .row
                .form-group.col-xs-3
                  label.billing Contact Email
                    fa.green.fa.fa-check(ng-if="$root.payment.email")
                    fa.red.fa.fa-times(ng-if="!$root.payment.email")
                  input#billingEmail(type="text", size="20", data-stripe="email", ng-model="$root.payment.email")
                .form-group.col-xs-3
                  label.billing Contact Phone #
                    fa.green.fa.fa-check(ng-if="$root.payment.phone")
                    fa.red.fa.fa-times(ng-if="!$root.payment.phone")
                  input#billingPhone(type="text", size="20", data-stripe="phone", ng-model="$root.payment.phone")
              .row
                .form-group.col-xs-12
                  label.checkbox-inline
                    input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="$root.payment.termsAgreed")
                    | I agree to the
                    a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
                    | .
              .row
                .form-group.col-xs-12
                  .alert.alert-danger(ng-if="!$root.payment.termsAgreed") Please agree to the terms and conditions.
                  button.btn.btn-rw.btn-default(type="submit", ng-disabled="!$root.payment.termsAgreed", ng-class="{ 'btn-default': !$root.payment.termsAgreed, 'btn-primary': $root.payment.termsAgreed }") Submit Payment
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelSponsorBeaconModal") Cancel

    #cancelSponsorBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Cancel Beacon Purchase
          .modal-body
            form(role="form", name="newBeaconCancel" ng-submit="newBeaconCancel()")
              center(align="center")
                | Are you sure you want to cancel this purchase?
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelSponsorBeaconModal") No
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#newSponsorBeaconModal", data-dismiss="modal") Yes

    #beaconSponsorSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Purchase Successful!
          .modal-body
              center(align="center")
                | Thank you for your purchase! We will be contacting you at the email address provided with an update on the order status, as well as an email receipt. To view the details and status of your order, visit the, 'Orders' page above. If you have any questions, please contact us.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(ng-click="modalPageReload()") Close

    #sponsorBeaconDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Beacon Details
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#agentInfo", role="tab", data-toggle="tab") Agent Info
              li
                a(href="#propertyDetails", role="tab", data-toggle="tab") Property Details
              li
                a(href="#propertyPhotos", role="tab", data-toggle="tab") Property Photos
            .tab-content
              #agentInfo.tab-pane.in.active
                .row
                  .panel.panel-naked
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Display Name
                          td {{beacon.agentPointer.agentDisplayName}}
                        tr
                          td Company Name
                          td {{beacon.agentPointer.agentOfficeName}}
                        tr
                          td Address 1
                          td {{beacon.agentPointer.agentAddress}}
                        tr
                          td Address 2
                          td {{beacon.agentPointer.agentAddress2}}
                        tr
                          td City, State Zip
                          td {{beacon.agentPointer.agentCity}}, {{beacon.agentPointer.agentState}} {{beacon.agentPointer.agentZip}}
                        tr
                          td Main Phone Number
                          td {{beacon.agentPointer.agentPhoneMain}}
                        tr
                          td Direct Phone Number
                          td {{beacon.agentPointer.agentPhoneDirect}}
                        tr
                          td Mobile Phone Number
                          td {{beacon.agentPointer.agentPhoneMobile}}
                        tr
                          td Email Address
                          td {{beacon.agentPointer.agentEmail}}
                        tr
                          td Connect
                          td
                            a.fa.fa-globe.fa-lg(ng-href="/{{beacon.agentPointer.website}}", target="_blank", title="{{beacon.agentPointer.website}}", ng-if="beacon.agentPointer.website")
                            i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!beacon.agentPointer.website")
                            a.fa.fa-linkedin-square.fa-lg(ng-href="/{{beacon.agentPointer.linkedIn}}", target="_blank", title="{{beacon.agentPointer.linkedIn}}", ng-if="beacon.agentPointer.linkedIn")
                            i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!beacon.agentPointer.linkedIn")
                            a.fa.fa-facebook-square.fa-lg(ng-href="/{{beacon.agentPointer.faceBook}}", target="_blank", title="{{beacon.agentPointer.faceBook}}", ng-if="beacon.agentPointer.faceBook")
                            i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!beacon.agentPointer.faceBook")
                            a.fa.fa-twitter-square.fa-lg(ng-href="/{{beacon.agentPointer.twitter}}", target="_blank", title="{{beacon.agentPointer.twitter}}", ng-if="beacon.agentPointer.twitter")
                            i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!beacon.agentPointer.twitter")
                        tr
                          td About
                          td: p(ng-bind-html="trustAsHtml(beacon.agentPointer.agentAboutMe)")
                .row
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{beacon.agentPointer.objectId}}-1.jpg", alt="Agent Photo")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{beacon.agentPointer.objectId}}-1.jpg", alt="Agent Logo")
              #propertyDetails.tab-pane
                .row
                  .panel.panel-naked
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Address 1
                          td {{beacon.propertyPointer.address1}}
                        tr
                          td Address 2
                          td {{beacon.propertyPointer.address2}}
                        tr
                          td City, State Zip
                          td {{beacon.propertyPointer.city}}, {{beacon.propertyPointer.state}} {{beacon.propertyPointer.zip}}
                        tr
                          td Neighborhood
                          td {{beacon.propertyPointer.neighborhood}}
                        tr
                          td Price
                          td {{beacon.propertyPointer.price | currency:"$":0}}
                        tr
                          td Square Feet
                          td {{beacon.propertyPointer.sqft | number:0}}
                        tr
                          td Bedrooms
                          td {{beacon.propertyPointer.beds}}
                        tr
                          td Bathrooms
                          td {{beacon.propertyPointer.baths}}
                        tr
                          td Property Type
                          td {{beacon.propertyPointer.propertyType}}
                        tr
                          td Property Style
                          td {{beacon.propertyPointer.propertyStyle}}
                        tr
                          td Parking
                          td {{beacon.propertyPointer.parking}}
                        tr
                          td HOA Fee
                          td {{beacon.propertyPointer.hoaFee}}
                        tr
                          td School District
                          td {{beacon.propertyPointer.schoolDistrict}}
                        tr
                          td Elementary School
                          td {{beacon.propertyPointer.elem}}
                        tr
                          td Middle School
                          td {{beacon.propertyPointer.jrhi}}
                        tr
                          td High School
                          td {{beacon.propertyPointer.srhi}}
                        tr
                          td Basement
                          td {{beacon.propertyPointer.basement}}
                        tr
                          td Taxes
                          td {{beacon.propertyPointer.taxes}}
                        tr
                          td Listed Date (M/D/Y)
                          td {{beacon.propertyPointer.listDate}}
                        tr
                          td Year Built
                          td {{beacon.propertyPointer.yearBuilt}}
                        tr
                          td Builder
                          td {{beacon.propertyPointer.builderModel}}
                        tr
                          td Remarks
                          td: p(ng-bind-html="trustAsHtml(beacon.propertyPointer.remarks)")
              #propertyPhotos.tab-pane
                section.content
                  .row
                    ul.no-padding.text-center
                      li.item.print.mb30.col-sm-3(ng-repeat="p in photos track by $index")
                        .border
                          .view.portfolio-hover-1
                            img.img-responsive.cloud-img(ng-src="{{p}}", alt="Property Photo")
                            .mask
            .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-dismiss="modal") Close