extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/sponsor/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="ProfileController")
    br
    center(align="center")
      h2.subtitle My Profile
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#editSponsorModal") Edit Profile
    br
    section
      .col-xs-5
        form.fileupload(method='POST', enctype='multipart/form-data')
          .row
            .col-xs-6.mb30-xs.text-center
              .col-xs-12
                .content-box-profile.content-box-bordered.no-margin
                  img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{$root.owner.objectId}}-1.jpg", alt="Sponsor Photo")
              .col-xs-12
                .clearfix
                button.btn.btn-rw.btn-primary.btn-subtitle.btn-image(data-toggle="modal", data-target="#sponsorPhotoModal") Edit Photo
            .col-xs-6.mb30-xs.text-center
              .col-xs-12
                .content-box-profile.content-box-bordered.no-margin
                  img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{$root.owner.objectId}}-1.jpg", alt="Sponsor Logo")
              .col-xs-12
                .clearfix
                button.btn.btn-rw.btn-primary.btn-subtitle.btn-image(data-toggle="modal", data-target="#sponsorLogoModal") Edit Logo
      .col-xs-7
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#sponsorViewDetails", role="tab", data-toggle="tab") Details
          li
            a(href="#sponsorViewAbout", role="tab", data-toggle="tab") About
          //- li
          //-   a(href="#sponsorViewActivity", role="tab", data-toggle="tab") Activity
          li
            a(href="#sponsorSettings", role="tab", data-toggle="tab") Settings
        .tab-content
          #sponsorViewDetails.tab-pane.in.active
            .panel.panel-naked
              table.table.table-condensed.table-naked
                tbody
                  tr
                    td Company Name
                    td {{$root.owner.lenderOfficeName}}
                  tr
                    td Display Name
                    td {{$root.owner.lenderDisplayName}}
                  tr
                    td Contact Name
                    td {{$root.owner.contact}}
                  tr
                    td Primary Phone Number
                    td {{$root.owner.lenderPhoneMain}}
                  tr
                    td Email Address
                    td {{$root.owner.lenderEmail}}
                  tr
                    td Address 1
                    td {{$root.owner.lenderAddress}}
                  tr
                    td Address 2
                    td {{$root.owner.lenderAddress2}}
                  tr
                    td City, State Zip
                    td {{$root.owner.lenderCity}}, {{$root.owner.lenderState}} {{$root.owner.lenderZip}}
                  tr
                    td Connect
                    td
                      a.fa.fa-globe.fa-lg(ng-href="/{{$root.owner.lenderWebsite}}", target="_blank", title="{{$root.owner.lenderWebsite}}", ng-if="$root.owner.lenderWebsite")
                      i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.owner.lenderWebsite")
                      a.fa.fa-linkedin-square.fa-lg(ng-href="/{{$root.owner.lenderLinkedIn}}", target="_blank", title="{{$root.owner.lenderLinkedIn}}", ng-if="$root.owner.lenderLinkedIn")
                      i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.owner.lenderLinkedIn")
                      a.fa.fa-facebook-square.fa-lg(ng-href="/{{$root.owner.lenderFaceBook}}", target="_blank", title="{{$root.owner.lenderFaceBook}}", ng-if="$root.owner.lenderFaceBook")
                      i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.owner.lenderFaceBook")
                      a.fa.fa-twitter-square.fa-lg(ng-href="/{{$root.owner.lenderTwitter}}", target="_blank", title="{{$root.owner.lenderTwitter}}", ng-if="$root.owner.lenderTwitter")
                      i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.owner.lenderTwitter")
          #sponsorViewAbout.tab-pane
            p(ng-bind-html="trustAsHtml($root.owner.lenderAbout)")
            .alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.owner.lenderAbout") Please click the, 'Edit Profile' button above to add a company summary.
          #sponsorViewActivity.tab-pane
            ul.activity-list
              li
                | Agents
                span.badge.badge-primary.badge-round 5
              li
                | Total Beacons
                span.badge.badge-primary.badge-round 3
              li
                | Beacons in Use
                span.badge.badge-primary.badge-round 1
              li
                | Properties
                span.badge.badge-primary.badge-round 2
          #sponsorSettings.tab-pane
            form(role="form", ng-submit="editSponsor()")
              .row
                .radio
                  label Beacon Email Alerts
                  i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If set to 'On', you will receive an email notifying you when an agent is approved, a beacon is successfully assigned to an agent or if an agent reassigns a beacon to a new property.")
                  input#emailFlagY(type="radio", name="emailFlag", ng-model="$root.owner.emailFlag", value="Y", checked="")
                  span On
                  input#emailFlagN(type="radio", name="emailFlag", ng-model="$root.owner.emailFlag", value="N")
                  span Off
              .row
                center(align="center")
                  br
                  button.btn.btn-rw.btn-primary(type="submit") Save Settings

    #editSponsorModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Profile
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#sponsorEditDetails", role="tab", data-toggle="tab") Details
              li
                a(href="#sponsorEditAbout", role="tab", data-toggle="tab") About Us
            .tab-content
              #sponsorEditDetails.tab-pane.in.active
                form(role="form", name="sponsorFrm", ng-submit="editSponsor()")
                  .row
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.lenderOfficeName.$valid, 'has-success': sponsorFrm.lenderOfficeName.$valid }")
                      label Company Name
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderOfficeName.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderOfficeName.$valid")
                      input.lenderOfficeName.form-control(name="lenderOfficeName", type="text", ng-model="$root.owner.lenderOfficeName", ng-required="true", ng-minlength="2")
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.lenderDisplayName.$valid, 'has-success': sponsorFrm.lenderDisplayName.$valid }")
                      label Display Name
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderDisplayName.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderDisplayName.$valid")
                      input.lenderDisplayName.form-control(name="lenderDisplayName", type="text", ng-model="$root.owner.lenderDisplayName", ng-required="true", ng-minlength="2")
                  .row
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.contact.$valid, 'has-success': sponsorFrm.contact.$valid }")
                      label Contact Name
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="This is the individual to ask for in case a RealEstateBeacons representative needs to reach out about your account.")
                        fa.green.fa.fa-check(ng-if="sponsorFrm.contact.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.contact.$valid")
                      input.contact.form-control(name="contact", type="text", ng-model="$root.owner.contact", ng-required="true", ng-minlength="2")
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.lenderPhoneDirect.$valid, 'has-success': sponsorFrm.lenderPhoneDirect.$valid }")
                      label Contact Number
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="This is the best number to reach the primary contact.")
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderPhoneDirect.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderPhoneDirect.$valid")
                      input.lenderPhoneDirect.form-control(name="lenderPhoneDirect", type="text", ng-model="$root.owner.lenderPhoneDirect", ng-required="true", ng-minlength="2")
                  .row
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.lenderPhoneMain.$valid, 'has-success': sponsorFrm.lenderPhoneMain.$valid }")
                      label Primary Phone Number
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="This is the primary number shown to prospective buyers in the app. It can be the same as the contact number above.")
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderPhoneMain.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderPhoneMain.$valid")
                      input.lenderPhoneMain.form-control(type="text", name="lenderPhoneMain", ng-model="$root.owner.lenderPhoneMain", ng-required="true")
                    .form-group.col-xs-6(ng-class="{ 'has-error': !sponsorFrm.lenderEmail.$valid, 'has-success': sponsorFrm.lenderEmail.$valid }")
                      label Primary Email Address
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderEmail.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderEmail.$valid")
                      input.lenderEmail.form-control(name="lenderEmail", type="text", ng-model="$root.owner.lenderEmail", ng-required="true")
                  .row
                    .form-group.col-xs-12(ng-class="{ 'has-error': !sponsorFrm.lenderAddress.$valid, 'has-success': sponsorFrm.lenderAddress.$valid }")
                      label Address 1
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderAddress.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderAddress.$valid")
                      input.lenderAddress.form-control(name="lenderAddress", type="text", ng-model="$root.owner.lenderAddress", ng-required="true")
                  .row
                    .form-group.col-xs-12
                      label Address 2
                      input.companyAddress2.form-control(name="companyAddress2", type="text", placeholder="Unit or Suite #", ng-model="$root.owner.lenderAddress2")
                  .row
                    .form-group.col-xs-5(ng-class="{ 'has-error': !sponsorFrm.lenderCity.$valid, 'has-success': sponsorFrm.lenderCity.$valid }")
                      label City
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderCity.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderCity.$valid")
                      input.lenderCity.form-control(name="lenderCity", type="text", ng-model="$root.owner.lenderCity", ng-required="true")
                    .form-group.col-xs-4(ng-class="{ 'has-error': !sponsorFrm.lenderState.$valid, 'has-success': sponsorFrm.lenderState.$valid }")
                      label State
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderState.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderState.$valid")
                      select.lenderState.form-control(name="lenderState", placeholder="Select", ng-model="$root.owner.lenderState", ng-required="true")
                        option(value='') Select
                        option(value='AL') AL - Alabama
                        option(value='AK') AK - Alaska
                        option(value='AZ') AZ - Arizona
                        option(value='AR') AR - Arkansas
                        option(value='CA') CA - California
                        option(value='CO') CO - Colorado
                        option(value='CT') CT - Connecticut
                        option(value='DC') DC - District of Columbia
                        option(value='DE') DE - Deleware
                        option(value='FL') FL - Florida
                        option(value='GA') GA - Georgia
                        option(value='HI') HI - Hawaii
                        option(value='ID') ID - Idaho
                        option(value='IL') IL - Illinois
                        option(value='IN') IN - Indiana
                        option(value='IA') IA - Iowa
                        option(value='KS') KS - Kansas
                        option(value='KY') KY - Kentucky
                        option(value='LA') LA - Louisiana
                        option(value='ME') ME - Maine
                        option(value='MD') MD - Maryland
                        option(value='MA') MA - Massachusetts
                        option(value='MI') MI - Michigan
                        option(value='MN') MN - Minnesota
                        option(value='MS') MS - Mississippi
                        option(value='MO') MO - Missouri
                        option(value='MT') MT - Montana
                        option(value='NE') NE - Nebraska
                        option(value='NV') NV - Nevada
                        option(value='NH') NH - New Hampshire
                        option(value='NJ') NJ - New Jersey
                        option(value='NM') NM - New Mexico
                        option(value='NY') NY - New York
                        option(value='NC') NC - North Carolina
                        option(value='ND') ND - North Dakota
                        option(value='OH') OH - Ohio
                        option(value='OK') OK - Oklahoma
                        option(value='OR') OR - Oregon
                        option(value='PA') PA - Pennsylvania
                        option(value='RI') RI - Rhode Island
                        option(value='SC') SC - South Carolina
                        option(value='SD') SD - South Dakota
                        option(value='TN') TN - Tennessee
                        option(value='TX') TX - Texas
                        option(value='UT') UT - Utah
                        option(value='VT') VT - Vermont
                        option(value='VA') VA - Virginia
                        option(value='WA') WA - Washington
                        option(value='WV') WV - West Virginia
                        option(value='WI') WI - Wisconsin
                        option(value='WY') WY - Wyoming
                    .form-group.col-xs-3(ng-class="{ 'has-error': !sponsorFrm.lenderZip.$valid, 'has-success': sponsorFrm.lenderZip.$valid }")
                      label Zip Code
                        fa.green.fa.fa-check(ng-if="sponsorFrm.lenderZip.$valid")
                        fa.red.fa.fa-times(ng-if="!sponsorFrm.lenderZip.$valid")
                      input.lenderZip.form-control(name="lenderZip", type="text", ng-model="$root.owner.lenderZip", ng-required="true")
                  .row
                    .form-group.col-xs-6
                      label Website URL
                      input.form-control(name="website", type="text", placeholder="http://www.your-website.com", ng-model="$root.owner.lenderWebsite", ng-required="false")
                    .form-group.col-xs-6
                      label LinkedIn URL
                      input.form-control(name="linkedIn", type="text", placeholder="https://www.linkedin.com/in/your-LinkedIn-profile", ng-model="$root.owner.lenderLinkedIn", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Facebook URL
                      input.form-control(name="faceBook", type="text", placeholder="https://www.facebook.com/your-Facebook-profile", ng-model="$root.owner.lenderFaceBook", ng-required="false")
                    .form-group.col-xs-6
                      label Twitter URL
                      input.form-control(name="twitter", type="text", placeholder="https://www.twitter.com/your-Twitter-handle", ng-model="$root.owner.lenderTwitter", ng-required="false")
                  center(align="center")
                    .row
                      br
                      .alert.alert-danger(ng-if="!sponsorFrm.$valid") Please fill out all required fields above.
                      button.btn.btn-rw.btn-default(type="submit", ng-disabled="!sponsorFrm.$valid", ng-class="{ 'btn-default': !sponsorFrm.$valid, 'btn-primary': sponsorFrm.$valid }") Save Profile
              #sponsorEditAbout.tab-pane
                form(role="form", ng-submit="editSponsor()")
                  .row
                    .form-group.col-xs-12
                      label Company Summary
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A brief summary about the company that prospective clients will see alongside your contact information.")
                      text-angular(ng-model="$root.owner.lenderAbout", ta-toolbar="toolbarUI")
                  center(align="center")
                    .row
                      br
                      button.btn.btn-rw.btn-primary(type="submit") Save Profile
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelSponsorModal") Cancel

    #sponsorPhotoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Edit Photo
          .modal-body
            form.fileupload(method='POST', enctype='multipart/form-data')
              .row
                .col-xs-12
                  center(align="center")
                    label Edit Photo
                    input(type='file', name="sponsorPhoto", id="sponsor_photo_upload")
                    br
                    .alert.alert-info(ng-if="status") {{status}}
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#sponsorPhotoModal") Close

    #sponsorLogoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Edit Logo
          .modal-body
            form.fileupload(method='POST', enctype='multipart/form-data')
              .row
                .col-xs-12
                  center(align="center")
                    label Edit Logo
                    input(type='file', name="sponsorLogo", id="sponsor_logo_upload")
                    br
                    .alert.alert-info(ng-if="status") {{status}}
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#sponsorLogoModal") Close

    #cancelSponsorModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Cancel Profile Update
          .modal-body
            form(role="form", name="agentCancel" ng-submit="cancelAgent()")
              center(align="center")
                | Are you sure you want to cancel creating/updating your profile? NOTE: This cannot be undone.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelSponsorModal") Keep
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#editSponsorModal", data-dismiss="modal") Discard
