extends ../../themes/default.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  center(align="center")
    .modal-dialog.modal-lg(ng-if="user")
      .modal-content(ng-controller='AuthController')
        .modal-header
          center(align="center")
            h4#signupLabel.modal-title Real Estate Agent Sign Up
        .modal-body.non-modal
          .alert.alert-danger.alert-danger-rw(role="alert")
            b Oops!
            | It looks like you are already logged in! Please click, 'Dashboard' at the top to visit your account dashboard. If you would like to create a new account, please click the 'Sign Out' button below.
          center(align="center")
            button.btn.btn-rw.btn-danger(type="button", data-toggle="modal", data-target="#signoutModal3") Sign Out
    .modal-dialog.modal-lg(ng-if="!user")
      .modal-content(ng-controller='AuthController')
        .modal-header
          center(align="center")
            h4#signupLabel.modal-title Real Estate Agent Sign Up
        .modal-body.non-modal
          | NOTE: This is for Real Estate Agents only. If you are a home buyer or seller, please
          a(href="/index.html#Download") download
          |  the app on your iPhone or iPad for free (coming soon for Android).
          br
          | If you are looking to sponsor a group of agents, please
          a(href="/index.html#Contact") contact us
          |  for more information.
          br
          form(role="form", name="frm", ng-submit="sellerSignup()")
            br
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.firstName.$valid, 'has-success': frm.firstName.$valid }")
                label First Name
                  fa.green.fa.fa-check(ng-if="frm.firstName.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.firstName.$valid")
                input#firstName.form-control(type="text", name="firstName", ng-model="signupUser.firstName", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.lastName.$valid, 'has-success': frm.lastName.$valid }")
                label Last Name
                  fa.green.fa.fa-check(ng-if="frm.lastName.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.lastName.$valid")
                input#lastName.form-control(type="text", name="lastName", ng-model="signupUser.lastName", ng-required="true")
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.username.$valid, 'has-success': frm.username.$valid }")
                label Email Address
                  fa.green.fa.fa-check(ng-if="frm.username.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.username.$valid")
                input#InputEmail1.form-control(type="email", name="username", ng-model="signupUser.username", style="text-transform: lowercase;", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.companyName.$valid, 'has-success': frm.companyName.$valid }")
                label Company Name
                  fa.green.fa.fa-check(ng-if="frm.companyName.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.companyName.$valid")
                input#companyName.form-control(type="text", name="companyName", ng-model="signupUser.companyName", ng-required="true")
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.password.$valid, 'has-success': frm.password.$valid }")
                label Password (4 Character Minimum)
                  fa.green.fa.fa-check(ng-if="frm.password.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.password.$valid")
                input#Password1.form-control(type="password", name="password", ng-model="signupUser.password", ng-minlength="4", style="text-transform: lowercase;", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': user.passwordConfirm !== user.password, 'has-success': user.passwordConfirm === user.password }")
                label Confirm Password
                  fa.green.fa.fa-check(ng-if="frm.passwordConfirm.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.passwordConfirm.$valid")
                input#passwordConfirm.form-control(type="password", name="passwordConfirm", ng-model="signupUser.passwordConfirm", ng-minlength="4", style="text-transform: lowercase;", ng-required="true")
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.region.$valid, 'has-success': frm.region.$valid }")
                label Region
                  fa.green.fa.fa-check(ng-if="frm.region.$valid")
                  fa.red.fa.fa-times(ng-if="!frm.region.$valid")
                select.form-control(name="region", placeholder="Select", ng-model="signupUser.region", ng-required="true")
                  option(value='') Select
                  option(value='USA') United States
                  option(value='Other') Other
              .form-group.col-xs-6(ng-class="{ 'has-error': !frm.referredBy.$valid, 'has-success': frm.referredBy.$valid }")
                label How Did You Hear About Us?
                  i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Please tell us how you heard about us or if you were referred by anyone.")
                input#referredBy.form-control(type="text", name="referredBy", ng-model="signupUser.referredBy")
                //- label Sponsor Code
                //- i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If you are working with an individual or company that will be sponsoring any beacons for you, please enter their sponsor code below. If you do not know their sponsor code, this can be added at a later time.")
                //- input#sponsorCode.form-control(type="text", name="sponsorCode", ng-model="signupUser.sponsorCode", ng-required="false")
            .row
              .form-group.col-xs-12
                label.checkbox-inline
                  input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="signupUser.termsAgreed")
                  | I agree to the
                  a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
                  | .
            center(align="center")
              .row
                .alert.alert-danger(ng-if="!signupUser.termsAgreed") Please agree to the terms and conditions.
                .alert.alert-danger(ng-if="!frm.$valid") Please fill out all required fields in the form to sign up.
                .alert.alert-danger(ng-if="error") {{error}}
                button.btn.btn-rw.btn-default(type="submit", ng-disabled="!frm.$valid || !signupUser.termsAgreed", ng-class="{ 'btn-default': !frm.$valid || !signupUser.termsAgreed, 'btn-primary': frm.$valid && signupUser.termsAgreed }") Sign Up
