extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="BeaconController")
    center(align="center")
      h2.subtitle My Beacons
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#orderBeaconModal", data-step="1", data-intro="To buy a beacon, click, 'Order Beacons' and you will be asked to enter a quantity and the billing and shipping information.", data-position="bottom") Order Beacons
      button.btn.btn-rw.btn-danger.btn-subtitle(ng-click="showTour()") Tour Page
    br
    center(align="center", ng-if="beacons && beacons.length < 1")
      .alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert")
        button.close(type="button", data-dismiss="alert")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        | You have no beacons yet. To add a beacon, click the 'Order Beacons' button above.
        b NOTE:
        | Beacons you have ordered may take a few business days to appear in the list below.
    table.table.table-hover.table-agent(ng-if="beacons && beacons.length >= 1", data-step="2", data-intro="A list of all your available beacons will be shown in the table below.", data-position="top")
      thead
        tr
          th #
          th ID
          th Created
          th Sponsor
          th Beacon Title
          th Property
          th Manage
      tbody
        tr(ng-repeat="beacon in beacons | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{beacon.beaconID}}
          td {{beacon.createdAt | date : 'MM/dd/yyyy'}}
          td {{beacon.ownerID}}
          td {{beacon.beaconTitle}}
          td {{beacon.propertyPointer.address1}} {{beacon.propertyPointer.city}}
          td
            button.btn-table.btn-dropdown.btn-primary(data-toggle="modal", data-target="#beaconDetailsModal", ng-click="$root.beacon = beacon", data-step="3", data-intro="To ensure a beacon can be detected by a nearby mobile device, you need to assign one of your properties to the beacon by clicking, 'Assign Property'.", data-position="left") Assign Property
            .dropdown.dropdown-table
              button#dropdownMenu1.btn-table.dropdown-toggle(type="button", data-toggle="dropdown", data-step="4", data-intro="Give prospective home buyers the most unique experience by adding photos and content to up to 10 different slides.", data-position="top")
                | View/Edit Slides
                span.caret
              ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu1")
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(0, beacon)") Slide 1
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(1, beacon)") Slide 2
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(2, beacon)") Slide 3
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(3, beacon)") Slide 4
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(4, beacon)") Slide 5
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(5, beacon)") Slide 6
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(6, beacon)") Slide 7
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(7, beacon)") Slide 8
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(8, beacon)") Slide 9
                li: a(data-toggle="modal", data-target="#editSlidesModal", ng-click="$root.openSlide(9, beacon)") Slide 10

    #orderBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Order Beacons
          .modal-body(ng-if="agent.status !== 'A'")
            p.price-text Real Estate Beacons for Agents. In order to purchase beacons, you must be subscribed. Regular subscription price is $39 per month for UNLIMITED listings.

            .cta-primary.mt15.mb15
              .row
                .col-lg-12.col-md-12
                  h4.pricing-modal Special Introductory Offer!
                  p.text-white
                    | $29 per month - unlimited plan includes ALL your Listings. No long term contract required! (Sorry - no partial monthly refunds).
                  p.text-white
                    | OR, pay $348 for one year up front and get 13th month FREE!
                //- .col-lg-2.col-md-3.mt15-md
                //-   a.btn.btn-rw.btn-scroll.btn-danger.btn-pricing(href="#Contact") Contact

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                    b Additional Pricing Details
                    i.fa.fa-plus.pull-right
              #collapseOne.panel-collapse.collapse
                .panel-body
                  p.price-text NOTE: Beacons, Marketing Posters and Sign Riders sold separately for a one-time setup fee.
                  p.price-text NOTE: Our app shows up to 10 slides or rooms per Beacon - provides you huge saving by reducing the number of beacons you need to buy.
                  p.price-text BEACONS: Order as many as you need. $35 each.
                  p.price-text PERSONAL BRANDED MARKETING SIGN: 24x18 foam core free-standing marketing sign (See demo link) for $34 each. Used to help generate leads and inform visitors about the app.
                  p.price-text PERSONAL BRANDED SIGN RIDER: Inform prospective buyers as they pass by that they can tour the home and view the custom listing profile by downloading the app with the $30 sign rider.
                  p.price-text Beacons and Marketing signs are part of the setup fee which is not refundable.
                  p.price-text Please contact us directly at info@RealEstateBeacons.com for broker and volume discounts or to learn about our sponsorship affiliates program.
                .clearfix
              .clearfix
            .clearfix
            center(align="center")
              ul.cd-pricing
                li.subscription-modal
                  header.cd-pricing-header
                    h2 Monthly
                    .cd-price
                      span.pricing-modal.wrong $39
                      span.pricing-modal.right $29
                      //- span.pricing-term monthly
                  .cd-pricing-features.pricing-modal
                    ul.pricing-modal
                      li.fa.green.fa-check
                        em.pricing-modal 30 Day Free Trial
                      li.fa.green.fa-check
                        em.pricing-modal Unlimited Properties
                      li.fa.green.fa-check
                        em.pricing-modal No Long-Term Contract
                  form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                    input(type="hidden", name="cmd", value="_s-xclick")
                    input(type="hidden", name="hosted_button_id", value="FAULMQ27DL2QN")
                    input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                    img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
                li.subscription-modal
                  header.cd-pricing-header
                    h2 Annual
                    .cd-price
                      span.pricing-modal.wrong $468
                      span.pricing-modal.right $348
                      //- span.pricing-term annual
                  .cd-pricing-features.pricing-modal
                    ul.pricing-modal
                      li.fa.green.fa-check
                        em.pricing-modal 13th Month FREE
                      li.fa.green.fa-check
                        em.pricing-modal Unlimited Properties
                      li.fa.green.fa-check
                        em.pricing-modal $149 in Total Savings
                  form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                    input(type="hidden", name="cmd", value="_s-xclick")
                    input(type="hidden", name="hosted_button_id", value="P8LAE7XTCZ7UW")
                    input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                    img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
              .clearfix
            .clearfix

          .modal-body(ng-if="agent.status === 'A'")
            p.price-text Any option you choose is a ONE-TIME fee only. It does NOT incur an additional monthly cost.
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                    b Additional Pricing Details
                    i.fa.fa-plus.pull-right
              #collapseOne.panel-collapse.collapse
                .panel-body
                  p.price-text NOTE: Beacons, Marketing Posters and Sign Riders sold separately for a one-time setup fee.
                  p.price-text NOTE: Our app shows up to 10 slides or rooms per Beacon - provides you huge saving by reducing the number of beacons you need to buy.
                  p.price-text BEACONS: Order as many as you need. $35 each.
                  p.price-text PERSONAL BRANDED MARKETING SIGN: 24x18 foam core free-standing marketing sign (See demo link) for $34 each. Used to help generate leads and inform visitors about the app.
                  p.price-text PERSONAL BRANDED SIGN RIDER: Inform prospective buyers as they pass by that they can tour the home and view the custom listing profile by downloading the app with the $30 sign rider.
                  p.price-text Beacons and Marketing signs are part of the setup fee which is not refundable.
                  p.price-text Please contact us directly at info@RealEstateBeacons.com for broker and volume discounts or to learn about our sponsorship affiliates program.
                .clearfix
              .clearfix
            .clearfix
            ul.cd-pricing.pricing-modal
              li.pricing-modal
                header.cd-pricing-header
                  h2 Basic
                  .cd-price
                    span.pricing-modal.right $35
                    span.pricing-term Each
                .cd-pricing-features.pricing-modal
                  ul.pricing-modal
                    li.fa.green.fa-check
                      em.pricing-modal Beacon
                    li.fa.fa.red.fa-times
                      em.pricing-modal Indoor 18"x24" Sign
                    li.fa.fa.red.fa-times
                      em.pricing-modal Outdoor Sign Rider
                form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                  input(type="hidden", name="cmd", value="_s-xclick")
                  input(type="hidden", name="hosted_button_id", value="LCC4FGXFXNA3A")
                  input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                  img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
              li.pricing-modal
                header.cd-pricing-header
                  h2 Premium
                  .cd-price
                    span.pricing-term Starting at
                    span.pricing-modal.right $53
                .cd-pricing-features.pricing-modal
                  ul.pricing-modal
                    li.fa.green.fa-check
                      em.pricing-modal Beacon
                    li.fa.green.fa-check
                      em.pricing-modal Indoor 18"x24" Sign
                    li.fa.fa.red.fa-times
                      em.pricing-modal Outdoor Sign Rider
                form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                  input(type="hidden", name="cmd", value="_s-xclick")
                  input(type="hidden", name="hosted_button_id", value="5G43K3JWJR2N4")
                  input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                  img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
              li.pricing-modal
                header.cd-pricing-header
                  h2 Ultimate
                  .cd-price
                    span.pricing-term Starting at
                    span.pricing-modal.right $61
                .cd-pricing-features.pricing-modal
                  ul.pricing-modal
                    li.fa.green.fa-check
                      em.pricing-modal Beacon
                    li.fa.green.fa-check
                      em.pricing-modal Indoor 18"x24" Sign
                    li.fa.green.fa-check
                      em.pricing-modal Outdoor Sign Rider
                form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                  input(type="hidden", name="cmd", value="_s-xclick")
                  input(type="hidden", name="hosted_button_id", value="6A7PHVB9DE9VN")
                  input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                  img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
              .clearfix
            .clearfix



            //- p Please fill out the form below to order a new beacon. Please allow up to 14 business days for us to process and ship the new beacon.
            //- p Each beacon has a one-time $35 setup fee, which includes activating, assigning and shipping the beacon to you. Each marketing sign costs $34. You will be able to view the total amount billed based on your configuration below before submitting payment.
            //- form#payment-form(role="form", name="billingFrm", ng-submit="payNow()")
            //-   span.payment-errors
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       .form-group.billing.col-xs-2
            //-         label.billing-first Beacon Quantity
            //-           i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Interested in ordering more than 3 beacons? Contact a RealEstateBeacons representative to learn about discount bulk pricing.")
            //-         .form-group.billing.col-xs-9(ng-class="{ 'has-error': !billingFrm.beaconQuantity.$valid, 'has-success': billingFrm.beaconQuantity.$valid }")
            //-           select#beaconQuantity.billing-first.form-control(name="beaconQuantity", data-stripe="beaconQuantity", ng-model="$root.payment.beaconQuantity", ng-required="true")
            //-             option(value='') Select
            //-             option(value='0') None
            //-             option(value='1') 1
            //-             option(value='2') 2
            //-             option(value='3') 3
            //-       .form-group.billing.col-xs-2
            //-         label.billing-first Sign Quantity
            //-           i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A great way to increase prospective buyer activity on your listing profile! Learn more by clicking the Marketing button at the top of the site.")
            //-         .form-group.billing.col-xs-9(ng-class="{ 'has-error': !billingFrm.signQuantity.$valid, 'has-success': billingFrm.signQuantity.$valid }")
            //-           select#signQuantity.billing-first.form-control(name="signQuantity", data-stripe="signQuantity", ng-model="$root.payment.signQuantity", ng-required="true")
            //-             option(value='') Select
            //-             option(value='0') None
            //-             option(value='1') 1
            //-             option(value='2') 2
            //-             option(value='3') 3
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       label.billing Payment Details
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.name.$valid, 'has-success': billingFrm.name.$valid }")
            //-         input#name.form-control.billing(type="text", name="name", data-stripe="name", placeholder="Cardholder Name", ng-model="$root.payment.name", ng-required="true", ng-minlength="2")
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.number.$valid, 'has-success': billingFrm.number.$valid }")
            //-         input#number.form-control.billing(type="text", name="number", data-stripe="address2", placeholder="Card Number", ng-model="$root.payment.number", ng-required="true")
            //-       .form-group.billing.col-xs-2(ng-class="{ 'has-error': !billingFrm.expMonth.$valid, 'has-success': billingFrm.expMonth.$valid }")
            //-         select#exp-month.billing.form-control(name="expMonth", data-stripe="exp-month", placeholder="Month", ng-model="$root.payment.expMonth", ng-required="true")
            //-           option(value='') Exp Month
            //-           option(value='01') 01 - Jan
            //-           option(value='02') 02 - Feb
            //-           option(value='03') 03 - Mar
            //-           option(value='04') 04 - Apr
            //-           option(value='05') 05 - May
            //-           option(value='06') 06 - Jun
            //-           option(value='07') 07 - Jul
            //-           option(value='08') 08 - Aug
            //-           option(value='09') 09 - Sep
            //-           option(value='10') 10 - Oct
            //-           option(value='11') 11 - Nov
            //-           option(value='12') 12 - Dec
            //-       .form-group.billing.col-xs-2(ng-class="{ 'has-error': !billingFrm.expYear.$valid, 'has-success': billingFrm.expYear.$valid }")
            //-         select#exp-year.billing.form-control(name="expYear", data-stripe="exp-year", placeholder="Year", ng-model="$root.payment.expYear", ng-required="true")
            //-           option(value='') Exp Year
            //-           option(value='2015') 2015
            //-           option(value='2016') 2016
            //-           option(value='2017') 2017
            //-           option(value='2018') 2018
            //-           option(value='2019') 2019
            //-           option(value='2020') 2020
            //-           option(value='2021') 2021
            //-           option(value='2022') 2022
            //-           option(value='2023') 2023
            //-           option(value='2024') 2024
            //-           option(value='2025') 2025
            //-       .form-group.billing.col-xs-1(ng-class="{ 'has-error': !billingFrm.cvc.$valid, 'has-success': billingFrm.cvc.$valid }")
            //-         input#cvc.form-control.billing(type="text", name="cvc", data-stripe="cvc", placeholder="CVC", ng-model="$root.payment.cvc", ng-required="true")
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       label.billing Shipping Details
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.shippingAttn.$valid, 'has-success': billingFrm.shippingAttn.$valid }")
            //-         input#shipping-name.form-control.billing(type="text", name="shippingAttn", data-stripe="shipping-name", placeholder="Recipient Name", ng-model="$root.payment.shippingAttn", ng-required="true")
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.shippingAddress1.$valid, 'has-success': billingFrm.shippingAddress1.$valid }")
            //-         input#address1.form-control.billing(type="text", name="shippingAddress1", data-stripe="address1", placeholder="Address", ng-model="$root.payment.shippingAddress1", ng-required="true")
            //-       .form-group.billing.col-xs-2(ng-class="{ 'has-error': !billingFrm.shippingAddress2.$valid, 'has-success': billingFrm.shippingAddress2.$valid }")
            //-         input#address2.form-control.billing(type="text", name="shippingAddress2", data-stripe="address2", placeholder="Unit or Suite #", ng-model="$root.payment.shippingAddress2")
            //-       .form-group.billing.col-xs-2(ng-class="{ 'has-error': !billingFrm.shippingCity.$valid, 'has-success': billingFrm.shippingCity.$valid }")
            //-         input#shippingCity.form-control.billing(type="text", name="shippingCity", data-stripe="city", placeholder="City", ng-model="$root.payment.shippingCity", ng-required="true")
            //-       .form-group.billing.col-xs-2(ng-class="{ 'has-error': !billingFrm.shippingState.$valid, 'has-success': billingFrm.shippingState.$valid }")
            //-         select#shippingState.billing.form-control(name="shippingState", data-stripe="state", placeholder="State", ng-model="$root.payment.shippingState", ng-required="true")
            //-           option(value='') State
            //-           option(value='AL') AL - Alabama
            //-           option(value='AK') AK - Alaska
            //-           option(value='AZ') AZ - Arizona
            //-           option(value='AR') AR - Arkansas
            //-           option(value='CA') CA - California
            //-           option(value='CO') CO - Colorado
            //-           option(value='CT') CT - Connecticut
            //-           option(value='DC') DC - District of Columbia
            //-           option(value='DE') DE - Deleware
            //-           option(value='FL') FL - Florida
            //-           option(value='GA') GA - Georgia
            //-           option(value='HI') HI - Hawaii
            //-           option(value='ID') ID - Idaho
            //-           option(value='IL') IL - Illinois
            //-           option(value='IN') IN - Indiana
            //-           option(value='IA') IA - Iowa
            //-           option(value='KS') KS - Kansas
            //-           option(value='KY') KY - Kentucky
            //-           option(value='LA') LA - Louisiana
            //-           option(value='ME') ME - Maine
            //-           option(value='MD') MD - Maryland
            //-           option(value='MA') MA - Massachusetts
            //-           option(value='MI') MI - Michigan
            //-           option(value='MN') MN - Minnesota
            //-           option(value='MS') MS - Mississippi
            //-           option(value='MO') MO - Missouri
            //-           option(value='MT') MT - Montana
            //-           option(value='NE') NE - Nebraska
            //-           option(value='NV') NV - Nevada
            //-           option(value='NH') NH - New Hampshire
            //-           option(value='NJ') NJ - New Jersey
            //-           option(value='NM') NM - New Mexico
            //-           option(value='NY') NY - New York
            //-           option(value='NC') NC - North Carolina
            //-           option(value='ND') ND - North Dakota
            //-           option(value='OH') OH - Ohio
            //-           option(value='OK') OK - Oklahoma
            //-           option(value='OR') OR - Oregon
            //-           option(value='PA') PA - Pennsylvania
            //-           option(value='RI') RI - Rhode Island
            //-           option(value='SC') SC - South Carolina
            //-           option(value='SD') SD - South Dakota
            //-           option(value='TN') TN - Tennessee
            //-           option(value='TX') TX - Texas
            //-           option(value='UT') UT - Utah
            //-           option(value='VT') VT - Vermont
            //-           option(value='VA') VA - Virginia
            //-           option(value='WA') WA - Washington
            //-           option(value='WV') WV - West Virginia
            //-           option(value='WI') WI - Wisconsin
            //-           option(value='WY') WY - Wyoming
            //-       .form-group.billing.col-xs-1(ng-class="{ 'has-error': !billingFrm.shippingZip.$valid, 'has-success': billingFrm.shippingZip.$valid }")
            //-         input#shippingZip.form-control.billing(type="text", name="shippingZip", data-stripe="zip", placeholder="Zip", ng-model="$root.payment.shippingZip", ng-required="true")
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       label.billing Contact Details
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.email.$valid, 'has-success': billingFrm.email.$valid }")
            //-         input#email.form-control.billing(type="text", name="email", data-stripe="email", placeholder="Email Address", ng-model="$root.payment.email", ng-required="true")
            //-       .form-group.billing.col-xs-3(ng-class="{ 'has-error': !billingFrm.phone.$valid, 'has-success': billingFrm.phone.$valid }")
            //-         input#phone.form-control.billing(type="text", name="phone", data-stripe="phone", placeholder="Phone Number", ng-model="$root.payment.phone", ng-required="true")
            //-   .row
            //-     .form-group.billing.col-xs-12
            //-       .form-group.billing.col-xs-3
            //-         label.billing-first Promotional Code
            //-           i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If you have a promotional code, please enter it here. NOTE: The amount below may not automatically reflect the promotional price, but the discount will be applied when your card is charged.")
            //-         .form-group.billing.col-xs-10(ng-class="{ 'has-error': !billingFrm.promoCode.$valid, 'has-success': billingFrm.promoCode.$valid }")
            //-           input#promoCode.billing-first.form-control(type="text", name="promoCode", data-stripe="promoCode", ng-model="$root.payment.promoCode")
            //-       .form-group.billing.col-xs-3
            //-         label.billing-first Partner Name or ID
            //-           i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If you work with a Mortgage or Title Company, enter their name or ID to include their information in the Mortgage section of the app.")
            //-         .form-group.billing.col-xs-10(ng-class="{ 'has-error': !billingFrm.sponsorCode.$valid, 'has-success': billingFrm.sponsorCode.$valid }")
            //-           input#sponsorCode.form-control.billing-first(type="text", name="sponsorCode" data-stripe="sponsorCode", ng-model="$root.payment.sponsorCode")
            //-   .row
            //-     .form-group.col-xs-12
            //-       .alert.alert-form.alert-danger(ng-if="!billingFrm.$valid") Please fill out all required fields above.
            //-   .row
            //-     .form-group.col-xs-12
            //-       label.checkbox-inline
            //-         input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="$root.payment.termsAgreed")
            //-         | I agree to the
            //-         a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
            //-         | .
            //-   .row
            //-     .form-group.col-xs-12
            //-       .alert.alert-form.alert-danger(ng-if="!$root.payment.termsAgreed") Please agree to the terms and conditions.
            //-   .row
            //-     .form-group.col-xs-12
            //-       .col-xs-4
            //-         .panel.panel-primary.text-center.no-margin.mt20-xs
            //-           .panel-heading.panel-payment
            //-             h3.price-header.text-white Setup Fee
            //-           .panel-body.panel-payment.panel-price
            //-             .alert.alert-payment.alert-danger(ng-if="!$root.payment.beaconQuantity || !$root.payment.signQuantity") Please select at least one beacon and/or sign above to calculate the setup fee.
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '0' && $root.payment.signQuantity === '1'") $34
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '0' && $root.payment.signQuantity === '2'") $68
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '0' && $root.payment.signQuantity === '3'") $102
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '1' && $root.payment.signQuantity === '0'") $35
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '1' && $root.payment.signQuantity === '1'") $69
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '1' && $root.payment.signQuantity === '2'") $103
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '1' && $root.payment.signQuantity === '3'") $137
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '2' && $root.payment.signQuantity === '0'") $70
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '2' && $root.payment.signQuantity === '1'") $104
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '2' && $root.payment.signQuantity === '2'") $138
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '2' && $root.payment.signQuantity === '3'") $172
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '3' && $root.payment.signQuantity === '0'") $105
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '3' && $root.payment.signQuantity === '1'") $139
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '3' && $root.payment.signQuantity === '2'") $173
            //-             h2.price2(ng-if="$root.payment.beaconQuantity === '3' && $root.payment.signQuantity === '3'") $207
            //-       .col-xs-4
            //-         .panel.panel-primary.text-center.no-margin.mt20-xs
            //-           .panel-heading.panel-payment
            //-             h3.price-header.text-white Monthly Fee
            //-           .panel-body.panel-payment.panel-price(ng-if="beacons && beacons.length < 1")
            //-             h2.price2 $39
            //-           .panel-body.panel-payment.panel-price(ng-if="beacons && beacons.length >= 1")
            //-             //- h2.price2 $0
            //-             //- i.fa.fa-payment.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Since you are already subscribed, there is no additional monthly fee.")
            //-             .alert.alert-payment.alert-success Since you are already subscribed, there is no additional monthly fee.
            //-   .row
            //-     .form-group.col-xs-12
            //-       button.btn.btn-rw.btn-default(type="submit", ng-disabled="!$root.payment.termsAgreed || !billingFrm.$valid", ng-class="{ 'btn-default': !$root.payment.termsAgreed || !billingFrm.$valid, 'btn-primary': $root.payment.termsAgreed && billingFrm.$valid }") Submit Payment

          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelNewBeaconModal") Cancel

    #cancelNewBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Cancel Beacon Purchase
          .modal-body
            form(role="form", name="newBeaconCancel" ng-submit="newBeaconCancel()")
              center(align="center")
                | Are you sure you want to cancel this purchase?
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelNewBeaconModal") No
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#orderBeaconModal", data-dismiss="modal") Yes

    #beaconSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Purchase Successful!
          .modal-body
              center(align="center")
                | Thank you for your purchase! We will be contacting you at the email address provided with an update on the order status, as well as an email receipt. To view the details and status of your order, visit the, 'Orders' page above. If you have any questions, please contact us.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(data-dismiss="modal") Close

    #beaconDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Beacon Details
          .modal-body
            form(role="form", name="beaconDetails", ng-submit="editBeacon($root.beacon)")
              .row
                .form-group.col-xs-6
                  label Select A Property For This Beacon
                    fa.green.fa.fa-check(ng-if="beaconDetails.property.$valid")
                    fa.red.fa.fa-times(ng-if="!beaconDetails.property.$valid")
                  select.property.form-control(name="property", placeholder="Select", ng-model="$root.beacon.propertyPointer.objectId", ng-required="true")
                    option(value='') Select
                    option(value='{{prop.objectId}}', ng-repeat="prop in properties") {{prop.address1}}
                .form-group.col-xs-6
                  label Beacon Title
                    fa.green.fa.fa-check(ng-if="beaconDetails.beaconTitle.$valid")
                    fa.red.fa.fa-times(ng-if="!beaconDetails.beaconTitle.$valid")
                    i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="The title displayed to buyers at the top of each beacon slide")
                  input.beaconTitle.form-control(name="beaconTitle", type="text", ng-model="$root.beacon.beaconTitle", ng-required="true")
              center(align="center")
                .row
                  br
                  .alert.alert-danger(ng-if="error") {{error}}
                  .alert.alert-danger(ng-if="!beaconDetails.$valid") Please fill out all required fields above.
                  button.btn.btn-rw.btn-default(type="submit", ng-disabled="!beaconDetails.$valid", ng-class="{ 'btn-default': !beaconDetails.$valid, 'btn-primary': beaconDetails.$valid }") Save
            .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-target="#agentBeaconModal", data-dismiss="modal") Close

    #editSlidesModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Beacon Slide
          .modal-body
            form.fileupload(method='POST', enctype='multipart/form-data')
              center(align="center")
                h4 Slide # {{$root.currentIndex + 1}}
              .row
                center(align="center")
                  a.btn.btn-rw.btn-beacon.btn-primary(href="#", ng-disabled="$root.beacon.photos")
                    | Upload Image
                    input(type='file', name="beaconPhoto", id="beacon_upload")
                  //- a.btn.btn-rw.btn-beacon.btn-danger(href="#", ng-disabled="!$root.beacon.photos", ng-click="openFileUpload(beacon)") Delete Image
                  .row
                    .content-box-beacon
                      img.img-responsive.br-2.team-member-profile(ng-src="http://virtualmls.com/REBeacons/beacons-{{$root.beacon.objectId}}-{{$root.currentIndex + 1}}.jpg", alt="Slide Photo")
                    | {{$root.beacon.photos | json}}
              .row
                .beacon-remarks.col-xs-12
                  label Description
                  textarea(ckeditor="editorOptions", ng-model="$root.currentHtml")
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(type="submit", ng-click='$root.saveBeaconHtml($root.currentHtml)') Save
              .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-target="#editSlidesModal", data-dismiss="modal") Close
