extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  center(align="center")
    //- .modal-dialog.modal-lg(ng-if="!agent || admin || owner")
    //-   .modal-content(ng-controller='AuthController')
    //-     .modal-header
    //-       center(align="center")
    //-         h4#signupLabel.modal-title Real Estate Agent Sign Up
    //-     .modal-body.non-modal
    //-       .alert.alert-danger Oops! It looks like you are already logged in! Please click, 'Dashboard' at the top to visit your account dashboard. If you would like to create a new account, please click the 'Sign Out' button below.
    //-       center(align="center")
    //-         button.btn.btn-rw.btn-danger(type="button", data-toggle="modal", data-target="#signoutModal3") Sign Out
    .modal-dialog.modal-lg
      .modal-content(ng-controller='AuthController')
        .modal-header
          center(align="center")
            h4#signupLabel.modal-title Real Estate Agent Sign Up
        .modal-body.non-modal
          | Thank you for joining RealEstateBeacons! To verify your interest in signing up, please complete the form below. You will be able to enter additional information for your profile after this step.
          br
          form(role="form", name="confirmFrm", ng-submit="agentConfirm()")
            br
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !confirmFrm.firstName.$valid, 'has-success': confirmFrm.firstName.$valid }")
                label First Name
                  fa.green.fa.fa-check(ng-if="confirmFrm.firstName.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.firstName.$valid")
                input#firstName.form-control(type="text", name="firstName", ng-model="agentConfirm.firstName", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': !confirmFrm.lastName.$valid, 'has-success': confirmFrm.lastName.$valid }")
                label Last Name
                  fa.green.fa.fa-check(ng-if="confirmFrm.lastName.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.lastName.$valid")
                input#lastName.form-control(type="text", name="lastName", ng-model="agentConfirm.lastName", ng-required="true")
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !confirmFrm.password.$valid, 'has-success': confirmFrm.password.$valid }")
                label Password (4 Character Minimum)
                  fa.green.fa.fa-check(ng-if="confirmFrm.password.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.password.$valid")
                input#Password1.form-control(type="password", name="password", ng-model="agentConfirm.password", ng-minlength="4", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': user.passwordConfirm !== user.password, 'has-success': user.passwordConfirm === user.password }")
                label Confirm Password
                  fa.green.fa.fa-check(ng-if="confirmFrm.passwordConfirm.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.passwordConfirm.$valid")
                input#passwordConfirm.form-control(type="password", name="passwordConfirm", ng-model="agentConfirm.passwordConfirm", ng-minlength="4", ng-required="true")
            .row
              .form-group.col-xs-6(ng-class="{ 'has-error': !confirmFrm.companyName.$valid, 'has-success': confirmFrm.companyName.$valid }")
                label Company Name
                  fa.green.fa.fa-check(ng-if="confirmFrm.companyName.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.companyName.$valid")
                input#companyName.form-control(type="text", name="companyName", ng-model="agentConfirm.companyName", ng-required="true")
              .form-group.col-xs-6(ng-class="{ 'has-error': !confirmFrm.region.$valid, 'has-success': confirmFrm.region.$valid }")
                label Region
                  fa.green.fa.fa-check(ng-if="confirmFrm.region.$valid")
                  fa.red.fa.fa-times(ng-if="!confirmFrm.region.$valid")
                select.form-control(name="region", placeholder="Select", ng-model="agentConfirm.region", ng-required="true")
                  option(value='') Select
                  option(value='USA') United States
                  option(value='Other') Other
            .row
              .form-group.col-xs-12
                label.checkbox-inline
                  input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="agentConfirm.termsAgreed")
                  | I agree to the
                  a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
                  | .
            center(align="center")
              .row
                .alert.alert-danger(ng-if="!agentConfirm.termsAgreed") Please agree to the terms and conditions.
                .alert.alert-danger(ng-if="!confirmFrm.$valid") Please fill out all required fields in the form to sign up.
                .alert.alert-danger(ng-if="error") {{error}}
                button.btn.btn-rw.btn-default(type="submit", ng-disabled="!confirmFrm.$valid || !agentConfirm.termsAgreed", ng-class="{ 'btn-default': !confirmFrm.$valid || !agentConfirm.termsAgreed, 'btn-primary': confirmFrm.$valid && agentConfirm.termsAgreed }") Sign Up
