extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  div
    center(align="center")
      h2.subtitle My Dashboard
    br
    div(ng-controller="DashboardController", style="width: 800px;")
      .wrapper
      header.main-header
        // Main content
        section.content
          .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title Responsive Hover Table
                  .box-tools
                    .input-group.input-group-sm(style='width: 150px;')
                      input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.fa.fa-search
                // /.box-header
                .box-body.table-responsive.no-padding
                  table.table.table-hover
                    tr
                      th Date
                      th Beacon
                      th Action
                      th Property
                      th Details
                    tr
                      td 183
                      td John Doe
                      td 11-7-2014
                      td
                        span.label.label-success Approved
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    tr
                      td 219
                      td Alexander Pierce
                      td 11-7-2014
                      td
                        span.label.label-warning Pending
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    tr
                      td 657
                      td Bob Doe
                      td 11-7-2014
                      td
                        span.label.label-primary Approved
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    tr
                      td 175
                      td Mike Doe
                      td 11-7-2014
                      td
                        span.label.label-danger Denied
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
