extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="PaymentController")
    center(align="center")
      h2.subtitle Order History
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#orderBeaconModal") Order Beacons
    br
    center(align="center", ng-if="payments && payments.length < 1")
      .alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert")
        button.close(type="button", data-dismiss="alert")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        | You have no orders. If you would like to order beacons, please do so by visiting the, 'Beacons' page above.
    table.table.table-hover.table-agent
      thead
        tr
          th #
          th Created
          th Quantity
          th Subscription
          th Payment Status
          th Action
            i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If a Sponsor has ordered a beacon and listed you as the partner Agent for that beacon, you can approve or decline their request here.")
          th Sponsor
          th Manage
      tbody
        tr(ng-repeat="payment in payments | orderBy:'createdAt':true")
          td {{ $index + 1 }}
          td {{payment.createdAt | date : 'MM/dd/yyyy'}}
          td {{payment.quantity}}
          td {{payment.subscription}}
          td
            p.table-p(ng-if="payment.status === 'A'") Approved
            p.table-p(ng-if="payment.status === 'P'") Pending
            p.table-p(ng-if="payment.status === 'D'") Declined
          td
            p.table-p(ng-if="payment.agentApproved === 'Yes'") Approved
            button.btn-table.btn-success(data-toggle="modal", data-target="#approveOrderModal", ng-click="$root.payment = payment", ng-if="payment.agentApproved !== 'Yes'") Approve
            button.btn-table.btn-danger(data-toggle="modal", data-target="#declineOrderModal", ng-click="$root.payment = payment", ng-if="payment.agentApproved !== 'Yes'") Decline
          td
            p.table-p(ng-if="payment.ownerPointer") {{payment.ownerPointer.lenderDisplayName}} at {{payment.ownerPointer.lenderOfficeName}}
            p.table-p(ng-if="!payment.ownerPointer") N/A
          td
            button.btn-table.btn-primary(data-toggle="modal", data-target="#agentOrderDetailsModal", ng-click="$root.payment = payment") View Details
            //- button.btn-table.btn-success(data-toggle="modal", data-target="#sponsorBeaconModal", ng-click="$root.payment = payment") Edit Details/Assign Agent

    #approveOrderModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Confirm Approval
          .modal-body
            form(role="form", ng-submit="approveOrder(payment)")
              center(align="center")
                | Are you sure you want to approve this order request?
                b NOTE:
                | Once approved, the card on file will be billed for the beacon(s) in the order.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(type="submit") Yes
                  button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

    #approveSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Approve Successful
          .modal-body
              center(align="center")
                | This order request was successfully approved. The card on file will be charged for this order and the update will be reflected in your orders list.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(ng-click="modalPageReload()") Close

    #declineOrderModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Confirm Decline
          .modal-body
            form(role="form", ng-submit="declineOrder(payment)")
              center(align="center")
                | Are you sure you want to decline this order request?
                b NOTE:
                | If declined, this order request will be removed from your list of orders.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-danger(type="submit") Decline
                  button.btn.btn-rw.btn-success(data-dismiss="modal") Cancel

    #declineSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Decline Successful
          .modal-body
              center(align="center")
                | This order request was successfully declined. The card on file will NOT be charged for this order and will be removed from your orders list.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(ng-click="modalPageReload()") Close

    #agentOrderDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Beacon Order Information
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#orderInfo", role="tab", data-toggle="tab") Order Details
              li
                a(href="#sponsorOrderInfo", role="tab", data-toggle="tab") Sponsor Details
            .tab-content
              #orderInfo.tab-pane.in.active
                .row
                  .panel.panel-naked.col-xs-12
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Order Placed
                          td {{payment.createdAt | date : 'MM/dd/yyyy'}}
                        tr
                          td Quantity
                          td {{payment.quantity}}
                        tr
                          td Subscription
                          td {{payment.subscription}}
                        tr
                          td Payment Status
                          td
                            p.table-p(ng-if="payment.status === 'P'") Pending
                            p.table-p(ng-if="payment.status === 'D'") Declined
                            p.table-p(ng-if="payment.status === 'A'") Approved
                        tr
                          td Referred By
                          td {{payment.referredBy}}
                        tr
                          td Action
                          td
                            p.table-p(ng-if="payment.agentApproved === 'Yes'") Approved
                            p.table-p(ng-if="payment.agentApproved !== 'Yes'") Awaiting Approval
                        tr
                          td Ship To
                          td {{payment.shippingAttn}}
                        tr
                          td Address
                          td {{payment.shippingAddress1}} {{payment.shippingAddress2}}
                        tr
                          td City, State Zip
                          td {{payment.shippingCity}}, {{payment.shippingState}} {{payment.shippingZip}}
              #sponsorOrderInfo.tab-pane
                .row
                  .alert.alert-info.alert-info-rw.col-xs-12(role="alert", ng-if="!payment.ownerPointer")
                    | No Sponsor is associated with this order. If a Sponsor places an order and requests to partner with you, you will be able to view the Sponsor's details here.
                  .panel.panel-naked(ng-if="payment.ownerPointer")
                    table.table.table-condensed.table-naked
                      tbody
                        tr
                          td Sponsor Name
                          td {{payment.ownerPointer.lenderDisplayName}}
                        tr
                          td Company Name
                          td {{payment.ownerPointer.lenderOfficeName}}
                        tr
                          td Address 1
                          td {{payment.ownerPointer.lenderAddress}}
                        tr
                          td Address 2
                          td {{payment.ownerPointer.lenderAddress2}}
                        tr
                          td City, State Zip
                          td {{payment.ownerPointer.lenderCity}}, {{payment.ownerPointer.lenderState}} {{payment.ownerPointer.lenderZip}}
                        tr
                          td Main Phone Number
                          td {{payment.ownerPointer.lenderPhoneMain}}
                        tr
                          td Direct Phone Number
                          td {{payment.ownerPointer.lenderPhoneDirect}}
                        tr
                          td Mobile Phone Number
                          td {{payment.ownerPointer.lenderPhoneMobile}}
                        tr
                          td Email Address
                          td {{payment.ownerPointer.lenderEmail}}
                        tr
                          td Connect
                          td
                            a.fa.fa-globe.fa-lg(ng-href="/{{payment.ownerPointer.lenderWebsite}}", target="_blank", title="Website")
                            a.fa.fa-linkedin-square.fa-lg(ng-href="/{{payment.ownerPointer.lenderLinkedIn}}", target="_blank", title="LinkedIn")
                            a.fa.fa-facebook-square.fa-lg(ng-href="/{{payment.ownerPointer.lenderFaceBook}}", target="_blank", title="Facebook")
                            a.fa.fa-twitter-square.fa-lg(ng-href="/{{payment.ownerPointer.lenderTwitter}}", target="_blank", title="Twitter")
                        tr
                          td About
                          td: p(ng-bind-html="trustAsHtml(payment.ownerPointer.lenderAbout)")
                .row(ng-if="payment.ownerPointer")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{payment.ownerPointer.objectId}}-1.jpg", alt="Sponsor Photo")
                  .col-xs-6.mb30-xs.text-center
                    .col-xs-12
                      .content-box-profile.content-box-bordered.no-margin
                        img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{payment.ownerPointer.objectId}}-1.jpg", alt="Sponsor Logo")
            .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-dismiss="modal") Close

    #orderBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Order Beacons
          .modal-body
            br
            p Please fill out the form below to order a new beacon. Please allow up to 14 business days for us to process and ship the new beacon.
            form#payment-form(role="form", name="billingFrm", ng-submit="buyBeacon($root.payment)")
              span.payment-errors
              .row
                .radio.payment.col-xs-12
                  label Subscription (Per Beacon)
                    fa.green.fa.fa-check(ng-if="$root.payment.subscription")
                    fa.red.fa.fa-times(ng-if="!$root.payment.subscription")
                  input#beaconMonthly(type="radio", name="subscription", ng-model="$root.payment.subscription", value="monthly", checked="")
                  span $49/Month
                  input#beaconAnnual(type="radio", name="subscription", ng-model="$root.payment.subscription", value="annual")
                  span $549/Year
                  .alert.alert-danger(ng-if="!$root.payment.subscription") Please choose a subscription option above. If you have a sponsor code, you will be able to enter it below.
              .row
                .form-group.col-xs-2
                  label Quantity
                    fa.green.fa.fa-check(ng-if="billingFrm.quantity.$valid")
                    fa.red.fa.fa-times(ng-if="!billingFrm.quantity.$valid")
                  select#quantity.form-control(name="quantity", placeholder="Select", ng-model="$root.payment.quantity", ng-required="true")
                    option(value='') Select
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
              .row
                .form-group.col-xs-3
                  label.billing Cardholder Name
                    fa.green.fa.fa-check(ng-if="$root.payment.name")
                    fa.red.fa.fa-times(ng-if="!$root.payment.name")
                  input#name(type="text", size="20", data-stripe="name", ng-model="$root.payment.name")
                .form-group.col-xs-3
                  label.billing Card Number
                    fa.green.fa.fa-check(ng-if="$root.payment.number")
                    fa.red.fa.fa-times(ng-if="!$root.payment.number")
                  input#number(type="text", size="20", data-stripe="number", ng-model="$root.payment.number")
                .form-group.col-xs-3
                  label.billing Expiration Date
                    fa.green.fa.fa-check(ng-if="$root.payment.expMonth && $root.payment.expYear")
                    fa.red.fa.fa-times(ng-if="!$root.payment.expMonth || !$root.payment.expYear")
                  input#exp-month(type="text", size="2", data-stripe="exp-month", placeholder="MM", ng-model="$root.payment.expMonth")
                  |  /
                  input#exp-year(type="text", size="4", data-stripe="exp-year", placeholder="YYYY", ng-model="$root.payment.expYear")
                .form-group.col-xs-3
                  label.billing CVC
                    fa.green.fa.fa-check(ng-if="$root.payment.cvc")
                    fa.red.fa.fa-times(ng-if="!$root.payment.cvc")
                  input#cvc(type="text", size="4", data-stripe="cvc", ng-model="$root.payment.cvc")
              .row
                .form-group.col-xs-12
                  label.billing Billing Address
                    fa.green.fa.fa-check(ng-if="$root.payment.address && $root.payment.city && $root.payment.state && $root.payment.zip")
                    fa.red.fa.fa-times(ng-if="!$root.payment.address || !$root.payment.city || !$root.payment.state || !$root.payment.zip")
                  input#address(type="text", size="20", data-stripe="address1", placeholder="Address", ng-model="$root.payment.address")
                  input#unit(type="text", size="12", data-stripe="address2", placeholder="Unit or Suite #", ng-model="$root.payment.address2")
                  input#billingCity(type="text", size="20", data-stripe="city", placeholder="City", ng-model="$root.payment.city")
                  input#billingState(type="text", size="10", data-stripe="state", placeholder="State", ng-model="$root.payment.state")
                  input#billingZip(type="number", size="10", data-stripe="zip", placeholder="Zip", ng-model="$root.payment.zip")
              .row
                .radio.payment.col-xs-12(ng-init="$root.payment.shippingMatch='Yes'")
                  label Ship Beacon to Billing Address?
                  input#shippingMatchY(type="radio", name="shippingMatch", ng-model="$root.payment.shippingMatch", value="Yes", checked="")
                  span Yes
                  input#shippingMatchN(type="radio", name="shippingMatch", ng-model="$root.payment.shippingMatch", value="No")
                  span No
              .row
                .form-group.col-xs-3(ng-if="$root.payment.shippingMatch === 'No'")
                  label.billing Ship To:
                  input#name(type="text", size="20", data-stripe="name", placeholder="Recipient", ng-model="$root.payment.shippingAttn")
              .row
                .form-group.col-xs-12(ng-if="$root.payment.shippingMatch === 'No'")
                  label.billing Shipping Address
                  input#address(type="text", size="20", data-stripe="address1", placeholder="Address", ng-model="$root.payment.shippingAddress1")
                  input#unit(type="text", size="12", data-stripe="address2", placeholder="Unit or Suite #", ng-model="$root.payment.shippingAddress2")
                  input#billingCity(type="text", size="20", data-stripe="city", placeholder="City", ng-model="$root.payment.shippingCity")
                  input#billingState(type="text", size="10", data-stripe="state", placeholder="State", ng-model="$root.payment.shippingState")
                  input#billingZip(type="number", size="10", data-stripe="zip", placeholder="Zip", ng-model="$root.payment.shippingZip")
              .row
                .form-group.col-xs-3
                  label.billing Contact Email
                    fa.green.fa.fa-check(ng-if="$root.payment.email")
                    fa.red.fa.fa-times(ng-if="!$root.payment.email")
                  input#billingEmail(type="text", size="20", data-stripe="email", ng-model="$root.payment.email")
                .form-group.col-xs-3
                  label.billing Contact Phone #
                    fa.green.fa.fa-check(ng-if="$root.payment.phone")
                    fa.red.fa.fa-times(ng-if="!$root.payment.phone")
                  input#billingPhone(type="text", size="20", data-stripe="phone", ng-model="$root.payment.phone")
              .row
                .form-group.col-xs-3
                  label.billing Sponsor Code
                    i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If you are working with a sponsor, enter the code you were given to apply the sponsor discount. NOTE: The amount at the top of the form will be unchanged, but the discount will be applied when your card is charged.")
                  input#sponsorCode(type="text", size="20", data-stripe="sponsorCode", ng-model="$root.payment.sponsorCode")
                .form-group.col-xs-6
                  label.billing How Did You Hear About Us?
                    i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Please tell us how you heard about us or if you were referred by anyone..")
                  input#referredBy(type="text", size="20", data-stripe="referredBy", ng-model="$root.payment.referredBy")
              .row
                .form-group.col-xs-12
                  label.checkbox-inline
                    input#AgreeTerms(type="checkbox", name="termsAgreed", value="Agree", ng-model="$root.payment.termsAgreed")
                    | I agree to the
                    a.iframe.fancylink.legal(href="/terms.html" target="_blank") Terms and Conditions
                    | .
              .row
                .form-group.col-xs-12
                  .alert.alert-danger(ng-if="!$root.payment.termsAgreed") Please agree to the terms and conditions.
                  button.btn.btn-rw.btn-default(type="submit", ng-disabled="!$root.payment.termsAgreed", ng-class="{ 'btn-default': !$root.payment.termsAgreed, 'btn-primary': $root.payment.termsAgreed }") Submit Payment

          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelNewBeaconModal") Cancel

    #cancelNewBeaconModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Cancel Beacon Purchase
          .modal-body
            form(role="form", name="newBeaconCancel" ng-submit="newBeaconCancel()")
              center(align="center")
                | Are you sure you want to cancel this purchase?
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelNewBeaconModal") No
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#orderBeaconModal", data-dismiss="modal") Yes

    #beaconSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Purchase Successful!
          .modal-body
              center(align="center")
                | Thank you for your purchase! We will be contacting you at the email address provided with an update on the order status, as well as an email receipt. If you have any questions, please contact us.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-primary(data-dismiss="modal") Close