extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="ProfileController")
    center(align="center")
      h2.subtitle My Profile
      button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#agentProfileModal", data-step="1", data-intro="You can add and edit the contact information that appears in the mobile app by clicking, 'Edit Profile'.", data-position="bottom") Edit Profile
      button.btn.btn-rw.btn-danger.btn-subtitle(ng-click="showTour()") Tour Page
    br
    section
      .col-xs-5
        form.fileupload(method='POST', enctype='multipart/form-data')
          .row(data-step="3", data-intro="Make sure you upload a personal photo and company logo, and that they are both visible here.", data-position="right")
            .col-xs-6.mb30-xs.text-center
              .col-xs-12
                .content-box-profile.content-box-bordered.no-margin
                  img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/avatars-{{$root.agent.objectId}}-1.jpg", alt="Agent Photo")
              .col-xs-12
                .clearfix
                button.btn.btn-rw.btn-primary.btn-subtitle.btn-image(data-toggle="modal", data-target="#agentPhotoModal") Edit Photo
            .col-xs-6.mb30-xs.text-center
              .col-xs-12
                .content-box-profile.content-box-bordered.no-margin
                  img.img-responsive.br-2.team-member-profile.img-refresh(ng-src="http://virtualmls.com/REBeacons/logos-{{$root.agent.objectId}}-1.jpg", alt="Agent Logo")
              .col-xs-12
                .clearfix
                button.btn.btn-rw.btn-primary.btn-subtitle.btn-image(data-toggle="modal", data-target="#agentLogoModal") Edit Logo
      .col-xs-7(data-step="2", data-intro="Conveniently view the information that appears in the app and edit your notification settings under the profile tabs.", data-position="left")
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#agentViewDetails", role="tab", data-toggle="tab") Details
          li
            a(href="#agentViewAbout", role="tab", data-toggle="tab") About
          //- li
          //-   a(href="#agentViewActivity", role="tab", data-toggle="tab") Activity
          li
            a(href="#agentSettings", role="tab", data-toggle="tab") Settings
        .tab-content
          #agentViewDetails.tab-pane.in.active
            .panel.panel-naked
              table.table.table-condensed.table-naked
                tbody
                  tr
                    td Display Name
                    td {{$root.agent.agentDisplayName}}
                  tr
                    td Company Name
                    td {{$root.agent.agentOfficeName}}
                  tr
                    td Address 1
                    td {{$root.agent.agentAddress}}
                  tr
                    td Address 2
                    td {{$root.agent.agentAddress2}}
                  tr
                    td City, State Zip
                    td {{$root.agent.agentCity}}, {{$root.agent.agentState}} {{$root.agent.agentZip}}
                  tr
                    td Main Phone Number
                    td {{$root.agent.agentPhoneMain}}
                  tr
                    td Direct Phone Number
                    td {{$root.agent.agentPhoneDirect}}
                  tr
                    td Mobile Phone Number
                    td {{$root.agent.agentPhoneMobile}}
                  tr
                    td Email Address
                    td {{$root.agent.agentEmail}}
                  tr
                    td Connect
                    td
                      a.fa.fa-globe.fa-lg(ng-href="{{$root.agent.website}}", target="_blank", title="{{$root.agent.website}}", ng-if="$root.agent.website")
                      i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.agent.website")
                      a.fa.fa-linkedin-square.fa-lg(ng-href="{{$root.agent.linkedIn}}", target="_blank", title="{{$root.agent.linkedIn}}", ng-if="$root.agent.linkedIn")
                      i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.agent.linkedIn")
                      a.fa.fa-facebook-square.fa-lg(ng-href="{{$root.agent.faceBook}}", target="_blank", title="{{$root.agent.faceBook}}", ng-if="$root.agent.faceBook")
                      i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.agent.faceBook")
                      a.fa.fa-twitter-square.fa-lg(ng-href="{{$root.agent.twitter}}", target="_blank", title="{{$root.agent.twitter}}", ng-if="$root.agent.twitter")
                      i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.agent.twitter")
          #agentViewAbout.tab-pane
            p(ng-bind-html="trustAsHtml($root.agent.agentAboutMe)")
            .alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.agent.agentAboutMe") Please click the, 'Edit Profile' button above to add a professional summary.
          #agentViewActivity.tab-pane
            ul.activity-list
              li
                | Properties
                span.badge.badge-primary.badge-round 2
              li
                | Total Beacons
                span.badge.badge-primary.badge-round 3
              li
                | Beacons in Use
                span.badge.badge-primary.badge-round 1
          #agentSettings.tab-pane
            form(role="form", ng-submit="editAgent()")
              .row
                .radio
                  label Beacon Email Alerts
                  i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If set to 'On', you will receive an email notifying you when someone has viewed or saved one of your beacons. NOTE: If you turn this off, you will still receive an email when a prospective buyer sends you a message or submits feedback about the property to you.")
                  input#emailFlagY(type="radio", name="emailFlag", ng-model="$root.agent.emailFlag", value="Y", checked="")
                  span On
                  input#emailFlagN(type="radio", name="emailFlag", ng-model="$root.agent.emailFlag", value="N")
                  span Off
              .row
                center(align="center")
                  br
                  button.btn.btn-rw.btn-primary(type="submit") Save Settings

    #agentProfileModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Edit Profile
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#agentEditDetails", role="tab", data-toggle="tab") Details
              li
                a(href="#agentEditAbout", role="tab", data-toggle="tab") About Me
            .tab-content
              #agentEditDetails.tab-pane.in.active
                form(role="form", name="agentFrm", ng-submit="editAgent()")
                  .row
                    .form-group.col-xs-6
                      label Display Name
                        fa.green.fa.fa-check(ng-if="agentFrm.agentDisplayName.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentDisplayName.$valid")
                      input#agentDisplayName.form-control(name="agentDisplayName", placeholder="i.e. Annie Agent", type="text", ng-model="$root.agent.agentDisplayName", ng-required="true", ng-minlength="2")
                    .form-group.col-xs-6
                      label Company Name
                        fa.green.fa.fa-check(ng-if="agentFrm.agentOfficeName.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentOfficeName.$valid")
                      input.form-control(name="agentOfficeName", type="text", ng-model="$root.agent.agentOfficeName", ng-required="true", ng-minlength="2")
                  .row
                    .form-group.col-xs-6
                      label Address 1
                        fa.green.fa.fa-check(ng-if="agentFrm.agentAddress.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentAddress.$valid")
                      input.form-control(name="agentAddress", type="text", ng-model="$root.agent.agentAddress", ng-required="true")
                    .form-group.col-xs-6
                      label Address 2
                      input.form-control(name="agentAddress2", type="text", placeholder="Unit or Suite #", ng-model="$root.agent.agentAddress2")
                  .row
                    .form-group.col-xs-6
                      label City
                        fa.green.fa.fa-check(ng-if="agentFrm.agentCity.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentCity.$valid")
                      input.form-control(name="agentCity", type="text", ng-model="$root.agent.agentCity", ng-required="true")
                    .form-group.col-xs-4
                      label State
                        fa.green.fa.fa-check(ng-if="agentFrm.agentState.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentState.$valid")
                      select.form-control(name="agentState", placeholder="Select", ng-model="$root.agent.agentState", ng-required="true")
                        option(value='') Select
                        option(value='AL') AL - Alabama
                        option(value='AK') AK - Alaska
                        option(value='AZ') AZ - Arizona
                        option(value='AR') AR - Arkansas
                        option(value='CA') CA - California
                        option(value='CO') CO - Colorado
                        option(value='CT') CT - Connecticut
                        option(value='DC') DC - District of Columbia
                        option(value='DE') DE - Deleware
                        option(value='FL') FL - Florida
                        option(value='GA') GA - Georgia
                        option(value='HI') HI - Hawaii
                        option(value='ID') ID - Idaho
                        option(value='IL') IL - Illinois
                        option(value='IN') IN - Indiana
                        option(value='IA') IA - Iowa
                        option(value='KS') KS - Kansas
                        option(value='KY') KY - Kentucky
                        option(value='LA') LA - Louisiana
                        option(value='ME') ME - Maine
                        option(value='MD') MD - Maryland
                        option(value='MA') MA - Massachusetts
                        option(value='MI') MI - Michigan
                        option(value='MN') MN - Minnesota
                        option(value='MS') MS - Mississippi
                        option(value='MO') MO - Missouri
                        option(value='MT') MT - Montana
                        option(value='NE') NE - Nebraska
                        option(value='NV') NV - Nevada
                        option(value='NH') NH - New Hampshire
                        option(value='NJ') NJ - New Jersey
                        option(value='NM') NM - New Mexico
                        option(value='NY') NY - New York
                        option(value='NC') NC - North Carolina
                        option(value='ND') ND - North Dakota
                        option(value='OH') OH - Ohio
                        option(value='OK') OK - Oklahoma
                        option(value='OR') OR - Oregon
                        option(value='PA') PA - Pennsylvania
                        option(value='RI') RI - Rhode Island
                        option(value='SC') SC - South Carolina
                        option(value='SD') SD - South Dakota
                        option(value='TN') TN - Tennessee
                        option(value='TX') TX - Texas
                        option(value='UT') UT - Utah
                        option(value='VT') VT - Vermont
                        option(value='VA') VA - Virginia
                        option(value='WA') WA - Washington
                        option(value='WV') WV - West Virginia
                        option(value='WI') WI - Wisconsin
                        option(value='WY') WY - Wyoming
                    .form-group.col-xs-2
                      label Zip Code
                        fa.green.fa.fa-check(ng-if="agentFrm.agentZip.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentZip.$valid")
                      input.form-control(name="agentZip", type="text", ng-model="$root.agent.agentZip", ng-required="true")
                  .row
                    .form-group.col-xs-6
                      label Main Phone Number
                        fa.green.fa.fa-check(ng-if="agentFrm.agentPhoneMain.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentPhoneMain.$valid")
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="This is the primary number shown to prospective buyers in the app. It can be the same as either the direct or mobile numbers.")
                      input.form-control(name="agentPhoneMain", type="text", ng-model="$root.agent.agentPhoneMain", ng-required="true")
                    .form-group.col-xs-6
                      label Direct Phone Number
                      input.form-control(name="agentPhoneDirect", type="text", ng-model="$root.agent.agentPhoneDirect", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Mobile Phone Number
                      input.form-control(name="agentPhoneMobile", type="text", ng-model="$root.agent.agentPhoneMobile", ng-required="false")
                    .form-group.col-xs-6
                      label Contact Email Address
                        fa.green.fa.fa-check(ng-if="agentFrm.agentEmail.$valid")
                        fa.red.fa.fa-times(ng-if="!agentFrm.agentEmail.$valid")
                      input.form-control(name="agentEmail", type="text", ng-model="$root.agent.agentEmail", ng-required="true")
                  .row
                    .form-group.col-xs-6
                      label Website URL
                      input.form-control(name="website", type="text", placeholder="http://www.your-website.com", ng-model="$root.agent.website", ng-required="false")
                    .form-group.col-xs-6
                      label LinkedIn URL
                      input.form-control(name="linkedIn", type="text", placeholder="https://www.linkedin.com/in/your-LinkedIn-profile", ng-model="$root.agent.linkedIn", ng-required="false")
                  .row
                    .form-group.col-xs-6
                      label Facebook URL
                      input.form-control(name="faceBook", type="text", placeholder="https://www.facebook.com/your-Facebook-profile", ng-model="$root.agent.faceBook", ng-required="false")
                    .form-group.col-xs-6
                      label Twitter URL
                      input.form-control(name="twitter", type="text", placeholder="https://www.twitter.com/your-Twitter-handle", ng-model="$root.agent.twitter", ng-required="false")
                  center(align="center")
                    .row
                      br
                      .alert.alert-danger(ng-if="!agentFrm.$valid") Please fill out all required fields above.
                      button.btn.btn-rw.btn-default(type="submit", ng-disabled="!agentFrm.$valid", ng-class="{ 'btn-default': !agentFrm.$valid, 'btn-primary': agentFrm.$valid }") Save Profile
              #agentEditAbout.tab-pane
                form(role="form", ng-submit="editAgent()")
                  .row
                    .form-group.col-xs-12
                      label Professional Summary
                      i.fa.fa-rw.fa-question-circle(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A brief summary about you that prospective buyers will see alongside your contact information.")
                      textarea(ckeditor="editorOptions", ng-model="$root.agent.agentAboutMe")
                  center(align="center")
                    .row
                      br
                      button.btn.btn-rw.btn-primary(type="submit") Save Profile
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelAgentModal") Discard

    #agentPhotoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Edit Photo
          .modal-body
            form.fileupload(method='POST', enctype='multipart/form-data')
              .row
                .col-xs-12
                  center(align="center")
                    label Edit Photo
                    input(type='file', name="agentPhoto", id="agent_photo_upload")
                    br
                    .alert.alert-info(ng-if="status") {{status}}
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#agentPhotoModal") Close

    #agentLogoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mediumModalLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#mediumModalLabel.modal-title Edit Logo
          .modal-body
            form.fileupload(method='POST', enctype='multipart/form-data')
              .row
                .col-xs-12
                  center(align="center")
                    label Edit Logo
                    input(type='file', name="agentLogo", id="agent_logo_upload")
                    br
                    .alert.alert-info(ng-if="status") {{status}}
          .modal-footer
            button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#agentLogoModal") Close

    #cancelAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelAgentLabel", aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#cancelAgentLabel.modal-title Cancel Profile Update
          .modal-body
            form(role="form", name="agentCancel" ng-submit="cancelAgent()")
              center(align="center")
                | Are you sure you want to cancel creating/updating your profile? NOTE: This cannot be undone.
              br
              .row
                center(align="center")
                  button.btn.btn-rw.btn-success(data-toggle="modal", data-target="#cancelAgentModal") Keep
                  button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#agentProfileModal", data-dismiss="modal") Discard
