extends ../../themes/default.jade

block scripts
  script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
  center(align="center")
    .col-md-10(ng-controller="AuthController")
      h2.section-heading Real Estate Agent Signup
      form.form-horizontal(role="form")
        .form-group
          label.control-label.sr-only(for="firstName") First Name
          .col-sm-10
            .input-group
              input#firstName.form-control(type="text", placeholder="First Name")
        .form-group
          label.control-label.sr-only(for="lastName") Last Name
          .col-sm-10
            .input-group
              input#lastName.form-control(type="text", placeholder="Last Name")
        .form-group
          label.control-label.sr-only(for="email") Email
          .col-sm-10
            .input-group
              input#email.form-control(type="email", placeholder="Email")
        .form-group
          label.control-label.sr-only(for="agentID") Agent ID
          .col-sm-10
            .input-group
              input#agentID.form-control(type="agentID", placeholder="Agent ID")
        .form-group
          label.control-label.sr-only(for="password") Password
          .col-sm-10
            .input-group
              input#password.form-control(type="password", placeholder="Password")
        .form-group
          label.control-label.sr-only(for="passwordConfirm") Confirm Password
          .col-sm-10
            .input-group
              input#passwordConfirm.form-control(type="password", placeholder="Confirm Password")
        .form-group
          .col-sm-12
            label.fancy-checkbox
              input(type="checkbox")
              span Subscribe me to the newsletter
          .col-sm-12
            label.fancy-checkbox
              input(type="checkbox")
              span
                | I accept the
                a(href="#") Terms &#38; Agreement
        .form-group
          .col-sm-12
            button.btn.btn-success(type="submit")
              i.fa.fa-check-circle
              | Create Account
