extends ../../themes/default.jade

block scripts
  script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
  section.content(ng-controller='AuthController')
    .row.mb30.mt30
      .col-xs-12
        .heading.mb15
          h3 Subscription Options
      .col-xs-12.mb15
        h4 In order to purchase beacons, you must be subscribed. Please choose a subscription option below.

        p.price-text Real Estate Beacons for Agents. Regular price is $39 per month for UNLIMITED listings.

        .cta-primary.mt15.mb15
          .row
            .col-lg-10.col-md-9
              h4.text-uppercase.no-margin.text-white
                span.heavy Special Introductory Offer!
              p.text-white
                | $29 per month - unlimited plan includes ALL your Listings. No long term contract required! (Sorry - no partial monthly refunds).
              p.text-white
                | OR, pay $348 for one year up front and get 13th month FREE!
            //- .col-lg-2.col-md-3.mt15-md
            //-   a.btn.btn-rw.btn-scroll.btn-danger.btn-pricing(href="#Contact") Contact

        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                b Additional Pricing Details
                i.fa.fa-plus.pull-right
          #collapseOne.panel-collapse.collapse
            .panel-body
              p.price-text NOTE: Beacons, Marketing Posters and Sign Riders sold separately for a one-time setup fee.
              p.price-text NOTE: Our app shows up to 10 slides or rooms per Beacon - provides you huge saving by reducing the number of beacons you need to buy.
              p.price-text BEACONS: Order as many as you need. $35 each.
              p.price-text PERSONAL BRANDED MARKETING SIGN: 24x18 foam core free-standing marketing sign (See demo link) for $34 each. Used to help generate leads and inform visitors about the app.
              p.price-text PERSONAL BRANDED SIGN RIDER: Inform prospective buyers as they pass by that they can tour the home and view the custom listing profile by downloading the app with the $30 sign rider.
              p.price-text Beacons and Marketing signs are part of the setup fee which is not refundable.
              p.price-text Please contact us directly at info@RealEstateBeacons.com for broker and volume discounts or to learn about our sponsorship affiliates program.
            .clearfix
          .clearfix
        .clearfix

        center(align="center")
          ul.cd-pricing
            li.subscription-modal
              header.cd-pricing-header
                h2 Monthly
                .cd-price
                  span.pricing-modal.wrong $39
                  span.pricing-modal.right $29
                  //- span.pricing-term monthly
              .cd-pricing-features.pricing-modal
                ul
                  li.fa.green.fa-check
                    em.pricing-modal 30 Day Free Trial
                  li.fa.green.fa-check
                    em.pricing-modal Unlimited Properties
                  li.fa.green.fa-check
                    em.pricing-modal No Long-Term Contract
              form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                input(type="hidden", name="cmd", value="_s-xclick")
                input(type="hidden", name="hosted_button_id", value="FAULMQ27DL2QN")
                input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
            li.subscription-modal
              header.cd-pricing-header
                h2 Annual
                .cd-price
                  span.pricing-modal.wrong $468
                  span.pricing-modal.right $348
                  //- span.pricing-term annual
              .cd-pricing-features.pricing-modal
                ul
                  li.fa.green.fa-check
                    em.pricing-modal 13th Month FREE
                  li.fa.green.fa-check
                    em.pricing-modal Unlimited Properties
                  li.fa.green.fa-check
                    em.pricing-modal $149 in Total Savings
              form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                input(type="hidden", name="cmd", value="_s-xclick")
                input(type="hidden", name="hosted_button_id", value="P8LAE7XTCZ7UW")
                input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
          .clearfix
        .clearfix

        br
        .col-xs-2.col-xs-offset-7
          a(href="/agent/profile.html") Skip for now

    #marketingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Marketing Sign
          .modal-body
            center(align="center")
              img.img-responsive(src='images/rebeacons-poster.png', alt='RealEstateBeacons Sign')
              .clearfix
          .modal-footer
            button.btn.btn-rw.btn-danger(data-dismiss="modal") Close