<html ng-app="app">
  <head>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/jquery.fileupload.css">
    <link rel="stylesheet" href="../../css/jquery.fileupload-ui.css">

    <title>Example File Upload</title>
  </head>
  <body ng-controller="MainController">
    <form id="fileupload" method="POST" enctype="multipart/form-data">
      <!-- Redirect browsers with JavaScript disabled to the origin page -->
      <noscript><h1>Failed to Run Required JavaScript</h1></noscript>
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="row fileupload-buttonbar">
        <div class="col-xs-12 field-group">
          <input type="text" placeholder="MLS #/ListingID" id="mlsID" name="name" ng-model="listingID" value="" /> -
          <input type="number" placeholder="number" id="mlsIndex" name="number" ng-model="listingIndex" value="1" />
        </div>
        <div class="col-xs-6 text-center">
          <button class="btn btn-success" ng-click="updateFileName(listingID, listingIndex)">Set Upload form to: {{listingID}}-{{listingIndex}} </button>
        </div>
        <div class="col-xs-6 text-center">
          <!-- The fileinput-button span is used to style the file input field as button -->
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>
              Save File To:<br />
              <code>https://virtualmls.com/rebeacons/{{property.listingID}}-{{property.listingIndex}}.jpg</code>
            </span>
            <input class="fileupload" type="file" name="files">
          </span>
        </div>
      </div>


      <ul class="files"></ul>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="../../js/vendor/jquery.ui.widget.js"></script>
    <!--
    //The Templates plugin is included to render the upload/download listings
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    // The Load Image plugin is included for the preview images and image resizing functionality
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    // The Canvas to Blob plugin is included for image resizing functionality
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    // blueimp Gallery script
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    -->
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="../../js/vendor/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="../../js/vendor/jquery.fileupload.js"></script>
    <!-- The File Upload user interface plugin -->
    <!-- <script src="../../js/vendor/jquery.fileupload-ui.js"></script> -->
    <!-- The main application script -->
    <script src="./index.js"></script>

  </body>
</html>
