doctype html(lang='en')
html(ng-app='app')
  head
    meta(name='RealEstateBeacons', content='RealEstateBeacons')
    style.
      .ng-cloak, [ng-cloak] {
        visibility: hidden;
      }
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")

    block title_default
      title RealEstateBeacons

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
    script.
      var CKEDITOR_BASEPATH = '/ckeditor/'
    script(src="/js/vendor.js")

    link(href="/styles/include.min.css", rel="stylesheet", type="text/css")

    block head
      // Overridable with `block head` in pages

  body(ng-cloak, ng-controller="MainController")
    #royal_preloader
    block header
      include header.jade
    .clearfix
    block body
    .clearfix
    include footer.jade
    .clearfix

    block foot

    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    block scripts

