doctype html(lang='en')
html(ng-app='app')
  head
    meta(name='description', content='')
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")

    block title_default
      title Real Estate Beacons

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
    script.
      var CKEDITOR_BASEPATH = '/ckeditor/'
    script(src="/js/vendor.js")
    script(type="text/javascript").
      Royal_Preloader.config({ mode: 'number', showProgress: false, background: '#ffffff' });

    link(href="/styles/include.min.css", rel="stylesheet", type="text/css")

    style(type='text/css').
      [ng-cloak], .ng-cloak {display: none;}

    block head
      // Overridable with `block head` in pages

  body(ng-controller="MainController")
    //- #royal_preloader
    //- .container
      //- include header-alt.jade
      //- .clearfix
    block body
    .clearfix
    include footer.jade
    .clearfix

    block foot

    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    //- script(src="/js/vendor/main.min.js")
    block scripts

