doctype html(lang='en')
html(ng-app='app')
  head
    block head
      title Real Estate Beacons
      meta(name='description', content='')
      style.
        .ng-cloak, [ng-cloak] {
          visibility: hidden;
        }
      link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon", href="/apple-touch-icon.png")
      title
        | Beacons for Real Estate, Mortgage Lending and Trade Shows
      // jQuery Files
      script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      link(href="/styles/include.min.css", rel="stylesheet", type="text/css")
      //- link(href="/css/introjs.css", rel="stylesheet", type="text/css")
      //- link(href="/css/introjs-nassim.css", rel="stylesheet", type="text/css")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular.css", rel="stylesheet", type="text/css")

      script(type="text/javascript", src="https://js.stripe.com/v2/")

      script(type="text/javascript").
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_2wXCeXDqc3LuaMbq2QkXW9WK');

    style(type='text/css').
      [ng-cloak], .ng-cloak {
        display: none;
      }

  body(ng-cloak, ng-controller="MainController")
    //- #royal_preloader
    include header-alt.jade
    .clearfix
    block body
    .clearfix
    include footer-alt.jade
    .clearfix

    block foot
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular-rangy.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular-sanitize.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular.min.js')

    script(src="/js/apps/agent/index.min.js")
    //- script(src="/js/apps/index.min.js")
    script(src="/js/vendor/main.js")
    //- script(src="/js/apps/universal/index.js")
    script(src="/js/vendor/bootstrap.js")
    script(src="/js/vendor/hover-dropdown.js")
    script(src="/js/vendor/jquery-easing.js")
    script(src="/js/vendor/intro.js")
    script(src="/js/vendor/jquery-mixitup.js")
    script(src="/js/vendor/scrollReveal.js")
    script(src="/js/vendor/owl-carousel.js")
    script(src="/js/vendor/jquery-magnific-popup.js")
    script(src="/js/vendor/jquery-snippet.js")
    script(src="/js/vendor/jquery-fitvids.js")
    script(src="/js/vendor/style-switcher.js")
    script(src="/js/vendor/activate-snippet.js")
    script(src="/js/vendor/skrollr.min.js")
    script(src="/js/vendor/jquery.ui.widget.js")
    script(src="/js/vendor/jquery.iframe-transport.js")
    script(src="/js/vendor/jquery.fileupload.js")

    // CKEditor scripts
    script(src="/ckeditor/ckeditor.js")
    script(src="/ckeditor/styles.js")
    script(src="/ckeditor/config.js")
    script(src="/ckeditor/build-config.js")

    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    //- script(type="text/javascript", src="/js/main.min.js")
    block scripts

