footer.footer
  .container
    .row
      .col-sm-3
        .heading-footer
          h4 About
        | 
        p RealEstateBeacons inside the home transmit detailed property information to your mobile device as you pass by.
        | 
        a.btn.btn-primary.btn-rw.mt10(href="https://store7586710.ecwid.com/#!/Hardware/c/15245599", target="_blank")
          | Buy Now
      .col-sm-3.mg25-xs
        .heading-footer
          h4 Social Networks
        | 
        a.btn.btn-social-icon.btn-twitter.btn-lg(href="https://twitter.com/rebeacons" target ="_blank")
          i.fa.fa-twitter
        | 
        a.btn.btn-social-icon.btn-facebook.btn-lg(href="https://www.facebook.com/realestatebeacons" target ="_blank")
          i.fa.fa-facebook
        | 
        a.btn.btn-social-icon.btn-youtube.btn-lg(href="https://www.youtube.com/user/HillsideSoftwareInc" target ="_blank")
          i.fa.fa-youtube
      .col-sm-3.mg25-xs
        .heading-footer
          h4 Contact us
        | 
        p
          span.ion-email.footer-info-icons
          small.address
            a(href="mailto:info@realestatebeacons.com") info@realestatebeacons.com
        | 
        p
          span.ion-ios7-telephone.footer-info-icons
          small.address (303) 221-4444
    .row
      hr.dark-hr
      | 
      .col-sm-11.col-xs-10
        p.copyright
          | © 2016 RealEstateBeacons. All rights reserved.
      | 
      .col-sm-1.col-xs-2.text-right
        a.scroll-top(href="#")
          .footer-scrolltop-holder
            span.ion-ios7-arrow-up.footer-scrolltop
