footer.footer-minimal.text-center
  .container
    ul.list-unstyled.list-inline.margin-bottom-30px
      li
        a(href="#") Home
      li
        a(href="#") Terms
      li
        a(href="#") Privacy
      li
        a(href="#") Policy
      li
        a(href="#") Help
      li
        a(href="#") Contact
    ul.list-inline.social-icons.light-icons.margin-bottom-30px
      li
        a.facebook-bg(href="#")
          i.fa.fa-facebook
      li
        a.twitter-bg(href="#")
          i.fa.fa-twitter
      li
        a.googleplus-bg(href="#")
          i.fa.fa-google-plus
      li
        a.rss-bg(href="#")
          i.fa.fa-rss
    .copyright
      | &#169;2015 The Develovers. All Rights Reserved.
