br
footer.footer
  .col-xs-3.mg25-xs
    .heading-footer
      h4 Social Networks
    a.btn.btn-social-icon.btn-facebook.btn-md
      i.fa.fa-facebook
    a.btn.btn-social-icon.btn-twitter.btn-md
      i.fa.fa-twitter
  .col-xs-2.mg25-xs
    .heading-footer
      h4 Contact Us
    p
      span.ion-email.footer-info-icons
      small.address
        a(href="mailto:info@hillsoft.com") info@hillsoft.com
    p
      span.ion-ios7-telephone.footer-info-icons
      small.address 303-221-4444
  .col-xs-3
    .heading-footer
      h4 Company Info
    p
      small.address
        | Hillside Software
        a.space(href="http://www.hillsidesoftware.com" target="_blank") Main Website
        | .
    p
      small.address
        | Real Estate Beacons
        a.space(href="/terms.html") Terms and Conditions
        | .
    p
      small.address
        | &#169; 2015 Hillside Software, Inc.

  .clearfix
