.wrapper
  nav.navbar.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-nav")
          span.sr-only Toggle Navigation
          i.fa.fa-bars
        a.navbar-brand.navbar-logo(href="index.html")
          img(src="/images/logo/repute-logo-nav.png", alt="Repute - Responsive Multipurpose Bootstrap Theme")
      #main-nav.navbar-collapse.collapse.navbar-mega-menu
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | HOME
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="index.html") Home v1
              li
                a(href="index-v1_dark-header.html") Home v1 Dark Header
              li
                a(href="index-v1_light-footer.html") Home v1 Light Footer
              li
                a(href="index-v2.html") Home v2
              li
                a(href="index-v2_dark-header.html") Home v2 Dark Header
              li
                a(href="index-v3.html") Home v3
              li
                a(href="index-v4_fullscreen.html")
                  | Home v4 Fullscreen
                  span.label.label-danger.label-main-nav NEW
              li
                a(href="index-v5_fullscreen_slider.html")
                  | Home v5 Fullscreen Slider
                  span.label.label-danger.label-main-nav NEW
              li
                a(href="one-page/index.html") One Page
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | FEATURES
              span.label.label-danger.label-main-nav NEW
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="feature-navigation-menu.html") Navigation Menus
              li
                a(href="feature-hero-unit.html") Hero Units
              li
                a(href="feature-page-header.html") Page Header
              li
                a(href="feature-footer.html") Footers
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | PAGES
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="page-services.html") Service Page
              li
                a(href="page-pricing-tables.html") Pricing Tables
              li.dropdown
                a(href="#")
                  | Columns
                  i.fa.fa-angle-right
                ul.dropdown-menu(role="menu")
                  li
                    a(href="page-left-sidebar.html") Left Sidebar
                  li
                    a(href="page-right-sidebar.html") Right Sidebar
                  li
                    a(href="page-double-sidebar.html") Double Sidebar
              li
                a(href="page-search-results.html") Search Result
              li
                a(href="page-support.html") Support
              li
                a(href="page-faq.html") FAQ
              li
                a(href="page-about-us.html") About Us
              li
                a(href="page-contacts.html") Contact
              li
                a(href="page-privacy.html") Privacy Policy
              li
                a(href="page-terms.html") Terms
              li
                a(href="page-error.html") Error Page
              li.dropdown
                a(href="#")
                  | Sub Menu Lvl 1
                  i.fa.fa-angle-right
                ul.dropdown-menu(role="menu")
                  li.dropdown
                    a(href="#")
                      | Sub Menu Lvl 2
                      i.fa.fa-angle-right
                    ul.dropdown-menu(role="menu")
                      li
                        a(href="#sublvl3") Sub Menu Lvl 3
                      li
                        a(href="#sublvl3") Sub Menu Lvl 3
                  li
                    a(href="#sublvl2") Sub Menu Lvl 2
                  li
                    a(href="#sublvl2") Sub Menu Lvl 2
          li.dropdown.mega-menu
            a(href="#", data-toggle="dropdown")
              | UI ELEMENTS
              i.fa.fa-angle-down
            ul.dropdown-menu.mega-menu-container
              li
                .mega-menu-content
                  .row
                    .col-md-3
                      h5.menu-heading Buttons &#38; Icons
                      ul.list-unstyled.list-menu
                        li
                          a(href="ui-buttons.html")
                            i.fa.fa-square
                            | General Buttons
                        li
                          a(href="ui-button-groups.html")
                            i.fa.fa-clone
                            | Button Groups
                        li
                          a(href="ui-icons.html")
                            i.fa.fa-asterisk
                            | Icons
                    .col-md-3
                      h5.menu-heading Forms
                      ul.list-unstyled.list-menu
                        li
                          a(href="ui-form-elements-basic.html")
                            i.fa.fa-check-square
                            | Basic Form Elements
                        li
                          a(href="ui-form-elements-advanced.html")
                            i.fa.fa-plus-square
                            | Advanced Form Elements
                        li
                          a(href="ui-form-layouts.html")
                            i.fa.fa-columns
                            | Form Layouts
                        li
                          a(href="ui-form-validation.html")
                            i.fa.fa-check-circle
                            | Validation
                    .col-md-3
                      h5.menu-heading Content Elements
                      ul.list-unstyled.list-menu
                        li
                          a(href="ui-tabs-accordion.html")
                            i.fa.fa-list-alt
                            | Tabs &#38; Accordion
                        li
                          a(href="ui-boxed-contents.html")
                            i.fa.fa-suitcase
                            | Boxed Contents
                        li
                          a(href="ui-numbers-charts.html")
                            i.fa.fa-pie-chart
                            | Numbers &#38; Charts
                        li
                          a(href="ui-typography.html")
                            i.fa.fa-font
                            | Typography
                    .col-md-3
                      h5.menu-heading Components
                      ul.list-unstyled.list-menu
                        li
                          a(href="ui-testimonials.html")
                            i.fa.fa-thumbs-up
                            | Testimonials
                        li
                          a(href="ui-maps.html")
                            i.fa.fa-map
                            | Maps
                        li
                          a(href="ui-breadcrumbs.html")
                            i.fa.fa-angle-right
                            | Breadcrumbs
                        li
                          a(href="ui-alerts.html")
                            i.fa.fa-warning
                            | Alerts
                        li
                          a(href="ui-pagination.html")
                            i.fa.fa-ellipsis-h
                            | Pagination
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | PORTFOLIO
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="portfolio-4-columns.html") Portfolio 4 Columns
              li
                a(href="portfolio-3-columns.html") Portfolio 3 Columns
              li
                a(href="portfolio-2-columns.html") Portfolio 2 Columns
              li
                a(href="portfolio-single.html") Portfolio Item
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | SHOP
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="shop/index.html") Front Page
              li
                a(href="shop/single-product-page.html") Single Product Page
              li
                a(href="shop/product-filter-grid.html") Search Result with Filter
              li
                a(href="shop/checkout.html") Checkout with Validation
              li
                a(href="shop/shop-login.html") Login
              li
                a(href="shop/shop-register.html") Register
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | BLOG
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(href="blog-medium-thumbnail.html") Blog Medium Thumbnail
              li
                a(href="blog-full-thumbnail.html") Blog Full Thumbnail
              li
                a(href="blog-single.html") Blog Single
              li
                a(href="blog-single-full.html") Blog Single Full
          .clearfix
        .clearfix
      .clearfix
    .clearfix
  .clearfix
.clearfix
