.navbar-fixed-top
  .navbar
    .container-header
      .navbar-header
        a.raleway-logo.navbar-brand(href="/index.html")
          img.raleway-logo(src="/images/REBeacons-Icon.png", alt="RE Beacons")
        h5.title RealEstateBeacons
        section.cd-intro
          h1.cd-headline.rotate-1
            span.cd-words-wrapper
              b.header-slogan.is-visible Download and Show Yourself Around
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navHeaderCollapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      nav.navbar-collapse.collapse.navHeaderCollapse(role="navigation")
        ul.nav.navbar-nav.navbar-right(ng-if="!user")
          li.visible-xs
            a(href="/login.html") Login
          li.visible-xs
            a(href="/signup.html") Sign Up
          li.dropdown
            a.dropdown-toggle(href="index.html", data-toggle="dropdown", data-hover="dropdown", data-delay="300", data-close-others="true")
              | Features
              span.fa.fa-angle-down.dropdown-arrow
            ul.dropdown-menu
              li
                a(href="/home-buyers.html") Home Buyers
              li
                a(href="/real-estate-agents.html") Real Estate Agents
              li
                a(href="/home-builders.html") Builders/Developers
              li
                a(href="/property-managers.html") Property Managers
          li.dropdown
            a.dropdown-toggle(href="index.html", data-toggle="dropdown", data-hover="dropdown", data-delay="300", data-close-others="true")
              | Learn More
              span.fa.fa-angle-down.dropdown-arrow
            ul.dropdown-menu
              //- li
              //-   a(href="/sponsor/orders.html") View Demo
              li
                a(href="/beacon-101.html") What Is A Beacon?
              li
                a(href="/beacon-examples.html") Where Are Beacons Used?
              li
                a(href="/screenshots.html") Screenshots
              li
                a(href="/faq.html") Beacon FAQ
              li
                a(href='https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8', target='_blank') Download App
          li
            a(href="#BeaconFAQ") Pricing
          li.dropdown
            a.dropdown-toggle(href="index.html", data-toggle="dropdown", data-hover="dropdown", data-delay="300", data-close-others="true")
              | Company
              span.fa.fa-angle-down.dropdown-arrow
            ul.dropdown-menu
              li
                a(href="/about.html") About Hillside Software
              //- li
              //-   a(href="#Contact") Testimonials/Buzz
              li
                a(href="/contact.html") Contact Us
              li
                a(href="/sponsor/orders.html") Blog
              li
                a(href="/terms.html", target="_blank") Terms and Conditions
          li(ng-if="!user")
            a(href="/login.html") Log In
          li(ng-if="!user")
            a(href="/signup.html") Sign Up
        ul.nav.navbar-nav.navbar-right.nav-alt(ng-if="agent")
          //- li
          //-   a(href="/agent/dashboard.html") Dashboard
          li
            a(href="/agent/properties.html") Properties
          li
            a(href="/agent/beacons.html") Beacons
          //- li
          //-   a(href="/agent/orders.html")
          //-     | Orders
          //-     span.badge.badge-round.badge-nav(ng-if="$root.unapproved && $root.unapproved.length >= 1") {{ $root.unapproved.length }}
          li
            a(href="/agent/profile.html") Profile
          li
            a(data-toggle="modal", data-target="#marketingModal") Marketing
          //- li
          //-   a(data-toggle="modal", data-target="#contactModal") Contact
          li
            a(data-toggle="modal", data-target="#signoutModal") Sign Out

        ul.nav.navbar-nav.navbar-right.nav-alt(ng-if="owner")
          li
            a(href="/sponsor/beacons.html") Beacons
          li
            a(href="/sponsor/orders.html")
              | Orders
              span.badge.badge-round.badge-nav(ng-if="$root.unapproved && $root.unapproved.length >= 1") {{ $root.unapproved.length }}
          li
            a(href="/sponsor/agents.html") Agents
          li
            a(data-toggle="modal", data-target="#marketingModal") Marketing
          li
            a(href="/sponsor/profile.html") Profile
        ul.nav.navbar-nav.navbar-right.nav-alt(ng-if="admin")
          li
            a(href="/admin/payments.html") Payments
          li
            a(href="/admin/beacons.html") Beacons
          li
            a(href="/admin/sponsors.html") Sponsors
          li
            a(href="/admin/agents.html") Agents
          li
            a(href="/admin/properties.html") Properties

#signoutModal.modal.fade(ng-controller="AuthController", tabindex="-1", role="dialog", aria-labelledby="signoutLabel", aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        center(align="center")
          h4#signoutLabel.modal-title Sign Out
      .modal-body
        form(role="form", name="frm", ng-submit="$root.logout()")
          center(align="center")
            span Are you sure you want to sign out?
          br
          .row
            center(align="center")
              button.btn.btn-rw.btn-primary(type="submit") Yes
              button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") No

#contactModal.modal.fade(ng-controller="AuthController", tabindex="-1", role="dialog", aria-labelledby="contactLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        center(align="center")
          h4#contactLabel.modal-title Contact Us
      .modal-body
        .row
          .col-sm-8
            .heading.mb20
              h4
                span.ion-android-mail.mr15
                | Send Us A Message
            p.mb20
              | Questions or comments? Please fill out the form below and a RealEstateBeacons representative will contact you within 24 business hours.
            form(role="form", ng-submit="submitForm()", novalidate="")
              .form-group.col-xs-12
                label Name
                input#Name.form-control(type="text", ng-model="formData.name", ng-class="{'error' : errorName}")
              .form-group.col-xs-6
                label Email Address
                input#Email.form-control(type="email", ng-model="formData.email", ng-class="{'error' : errorEmail}")
              .form-group.col-xs-6
                label Phone Number
                input#Phone.form-control(type="number", ng-model="formData.phone", ng-class="{'error' : errorPhone}")
              .form-group.col-xs-12
                label Preferred Contact Method
                  .col-xs-6
                    input#checkEmail(type="checkbox", ng-model="formData.checkEmail", ng-class="{'error' : errorCheckEmail}")
                    | Email
                    input#checkPhone(type="checkbox", ng-model="formData.checkPhone", ng-class="{'error' : errorCheckPhone}")
                    | Phone
              .form-group.col-xs-12
                label User Type
                select.form-control(placeholder="Select", ng-model="formData.userType", ng-class="{'error' : errorUserType}")
                  option(value='') Select
                  option(value='Agent') Agent
                  option(value='Sponsor') Sponsor
                  option(value='Buyer') Home Buyer
                  option(value='Seller') Home Seller
                  option(value='Other') Other
              .form-group.col-xs-12
                label Subject
                select.form-control(placeholder="Select", ng-model="formData.subject", ng-class="{'error' : errorSubject}")
                  option(value='') Select
                  option(value='Sales') Sales
                  option(value='Tech Support') Technical Support
                  option(value='General') General Question/Other
              .form-group.col-xs-12
                label Message
                textarea#InputMessage.form-control(name="message", ng-class="{'error' : errorTextarea}", ng-model="formData.message", rows="10")
              .form-group.col-xs-12
                button.btn.btn-rw.btn-primary(type="submit", value="Send!", name="submit") Submit
                  div(ng-class="{'submissionMessage' : submission}", ng-bind="submissionMessage")

          .col-sm-4.fadeInRight-animated.mt30-xs
            .content-box.content-box-primary.chat-box.mb30
              a(href="#") Live Chat
              //- h2.text-white.mb10 Live Chat
              span.fa.fa-comments.text-white.border-white.bordered-icon-static-sm.mb10
            .panel.panel-primary.no-margin
              .panel-heading
                h3.panel-title
                  | Information
              .panel-body
                address.no-margin
                  strong Hillside Software, Inc.
                  br
                  | Denver, CO
                  br
                  abbr(title="Phone") P:
                  | (303) 221-4444
                  br
                  | Mail:
                  a(href="#") info@hillsoft.com

      .modal-footer
        button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#contactModal") Close

#downloadModal.modal.fade(ng-controller="AuthController", tabindex="-1", role="dialog", aria-labelledby="downloadLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        center(align="center")
          h4#downloadLabel.modal-title Download the App
      .modal-body
        section.background-main.pt60.pb60.mb30(style="background-image:url('/images/backgrounds/bg1.png');")
          .col-xs-12
            .row
              .col-sm-4.fadeInLeft-animated
                img.img-responsive(src='/images/showcase5.png', alt='Showcase Image')
              .col-sm-8.text-white.fadeInRight-animated.mt30-xs
                h3.text-white Clean Code + Design
                p
                  | Vestibulum id justo dapibus, porttitor lectus ut, viverra est. Donec sed aliquam leo, nec egestas est. Maecenas vel tellus a mi tristique malesuada. Praesent eleifend dignissim nibh eget ultricies. In a faucibus dui. Mauris tristique porta libero ac consectetur. Sed ultrices pharetra risus tincidunt blandit.
                p
                  | Praesent risus augue, dignissim vulputate nibh eget, sollicitudin vestibulum neque. Aenean ultrices nunc ac ligula imperdiet, eget accumsan tortor ullamcorper. Etiam dignissim porta nisi ac tempus. Etiam fringilla odio ac arcu vehicula, quis condimentum tellus scelerisque.
                a.btn.btn-rw.btn-clear.mt10(href='https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8' target='_blank')
                  | Download

      .modal-footer
        button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#downloadModal") Close

#marketingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &#215;
          span.sr-only Close
        center(align="center")
          h4#largeModalLabel.modal-title Marketing Sign
      .modal-body
        center(align="center")
          img.img-responsive(src='/images/rebeacons-poster.png', alt='RealEstateBeacons Sign')
          .clearfix
      .modal-footer
        button.btn.btn-rw.btn-danger(data-dismiss="modal") Close