#bg-boxed
  .boxed
    header
      #login.modal.fade(tabindex="-1", role="dialog", aria-labelledby="loginLabel", aria-hidden="true")
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type="button", data-dismiss="modal")
                span(aria-hidden="true") ×
                span.sr-only Close
              | 
              h4#loginLabel.modal-title Login
            | 
            .modal-body
              form(role="form")
                .form-group
                  label(for="exampleInputEmail1") Email address
                  | 
                  input#exampleInputEmail1.form-control(type="email", placeholder="Enter email")
                | 						            
                .form-group
                  label(for="exampleInputPassword1") Password
                  | 
                  input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                | 
                .checkbox
                  label
                    input(type="checkbox")
                    |  Do you flex?
            | 
            .modal-footer
              button.btn.btn-rw.btn-primary(type="button") Login
      .navbar
        .container.container-header
          .navbar-header
            a.navbar-brand(href="index.html")
              img.raleway-logo(src="images/REBeacons-Header.png", alt="Raleway Responsive Parallax Bootstrap 3 Template")
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navHeaderCollapse")
              span.sr-only Toggle navigation
              | 
              span.icon-bar
              | 
              span.icon-bar
              | 
              span.icon-bar
          nav.navbar-collapse.collapse.navHeaderCollapse(role="navigation")
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="index.html", data-toggle="dropdown", data-hover="dropdown", data-delay="300", data-close-others="true")
                  | Features
                  span.fa.fa-angle-down.dropdown-arrow
                | 
                ul.dropdown-menu
                  li
                    a(href="real-estate-agents.html") Real Estate Professionals
                  | 
                  li
                    a(href="home-buyers-and-sellers.html") Home Buyers &amp; Sellers
                  | 
                  li
                    a(href="home-builders.html") Home Builders
                  | 
                  li
                    a(href="property-managers.html") Property Managers
                  | 
              | 
              li.dropdown
                a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                  | Learn More
                  span.fa.fa-angle-down.dropdown-arrow
                | 						        	
                ul.dropdown-menu
                  li
                    a(href="examples.html") Examples
                  | 
                  li
                    a(href="faq.html") FAQ
                  | 
                  li
                    a(href="https://itunes.apple.com/us/app/realestatebeacons/id1019915711?mt=8", target="_blank") Download App
                  | 
              | 
              li
                a(href="https://store7586710.ecwid.com/#!/Hardware/c/15245599", target="_blank", data-delay="300", data-close-others="true")
                  | Pricing
              li.dropdown
                a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                  | Login/Sign Up
                  span.fa.fa-angle-down.dropdown-arrow
                | 						        	
                ul.dropdown-menu
                  li
                    a(href="login.html") Login
                  | 
                  li
                    a(href="signup.html") Sign Up
              