extends ../themes/default.jade

block body
  #bg-boxed
    .boxed
      // Begin Header
      header
        // Begin Top Bar
        .top-bar
          .container.container-header
            .row.top-bar-row
              // Address and Phone
              .col-sm-7.hidden-xs.contact-info
                span.ion-android-system-home.home-icon
                | Bright Passage, Fond du Lac, 63138 USA
                span.ion-ios7-telephone.phone-icon
                | 1702983921
              // Social Buttons
              .col-sm-5.text-right.topmenu-holder
                ul.topbar-list.list-inline
                  li
                    a(data-toggle="modal", data-target="#login") Login
                  li
                    a(href="pages-forms-register-login.html") Register
                  li
                    a.btn.btn-social-icon.btn-rw.btn-primary.btn-xs
                      i.fa.fa-twitter
                    a.btn.btn-social-icon.btn-rw.btn-primary.btn-xs
                      i.fa.fa-instagram
                    a.btn.btn-social-icon.btn-rw.btn-primary.btn-xs
                      i.fa.fa-facebook
            // /row
          // /container header
        // /top bar
        // End Top Bar
        // Login
        #login.modal.fade(tabindex="-1", role="dialog", aria-labelledby="loginLabel", aria-hidden="true")
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                button.close(type="button", data-dismiss="modal")
                  span(aria-hidden="true") &#215;
                  span.sr-only Close
                h4#loginLabel.modal-title Login
              .modal-body
                form(role="form")
                  .form-group
                    label(for="exampleInputEmail1") Email address
                    input#exampleInputEmail1.form-control(type="email", placeholder="Enter email")
                  .form-group
                    label(for="exampleInputPassword1") Password
                    input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                  .checkbox
                    label
                      input(type="checkbox")
                      | Do you flex?
                // /form
              .modal-footer
                button.btn.btn-rw.btn-primary(type="button") Login
            // /modal content
          // /modal dialog
        // /modal holder
        // End Login
        // Begin Navigation
        .navbar
          .container.container-header
            .navbar-header
              // Brand
              a.navbar-brand(href="index.html")
                .css-logo
                img.raleway-logo(src="images/logo.png", alt="Raleway Responsive Parallax Bootstrap 3 Template")
              // Mobile Navigation
              button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navHeaderCollapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            // /navbar header
            // Main Navigation
            nav.navbar-collapse.collapse.navHeaderCollapse(role="navigation")
              ul.nav.navbar-nav.navbar-right
                li.dropdown.active
                  a.dropdown-toggle(href="index.html", data-toggle="dropdown", data-hover="dropdown", data-delay="300", data-close-others="true")
                    | Home
                    span.fa.fa-angle-down.dropdown-arrow
                  ul.dropdown-menu
                    li
                      a(href="index.html") Option 1: Home
                    li
                      a(href="index-home.html") Option 2: aHome
                    li
                      a(href="index-home-b.html") Option 3: bHome
                    li
                      a(href="index-carousel-subnav.html") Option 4: Carousel Subnav
                    li
                      a(href="dark-navigation-example.html") Dark Navigation
                    li.dropdown-submenu
                      a.trigger Footer Options
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-footer-options.html") Dark
                        li
                          a(tabindex="-1", href="features-footer-options-2.html") Light
                li.dropdown
                  a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                    | Pages
                    span.fa.fa-angle-down.dropdown-arrow
                  ul.dropdown-menu
                    li.dropdown-submenu
                      a.trigger About us &#38; Team
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-about-us-1.html") About us 1
                        li
                          a(tabindex="-1", href="pages-about-us-2.html") About us 2
                        li
                          a(tabindex="-1", href="pages-about-us-team.html") About us &#38; Team
                        li
                          a(tabindex="-1", href="pages-team-1.html") The Team 1
                        li
                          a(tabindex="-1", href="pages-team-2.html") The Team 2
                    li.dropdown-submenu
                      a.trigger Services
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-services-1.html") Option 1
                        li
                          a(tabindex="-1", href="pages-services-2.html") Option 2
                    li.dropdown-submenu
                      a.trigger About Me
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-user-profile-1.html") User Profile 1
                        li
                          a(tabindex="-1", href="pages-user-profile-2.html") User Profile 2
                    li
                      a(href="pages-pricing.html") Pricing
                    li
                      a(href="pages-timeline.html") Timeline
                    li
                      a(href="pages-freebies.html") Freebies
                    li.dropdown-submenu
                      a.trigger Forms
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-forms-register-login.html") Register &#38; Login
                        li
                          a(tabindex="-1", href="pages-contact-1.html") Contact 1
                        li
                          a(tabindex="-1", href="pages-contact-2.html") Contact 2
                    li.dropdown-submenu
                      a.trigger 404
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-404-default.html") Default
                        li
                          a(tabindex="-1", href="pages-404-default-image.html") Image
                        li
                          a(tabindex="-1", href="pages-404-fullscreen.html") Fullscreen
                    li.dropdown-submenu
                      a.trigger Basic Pages
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="pages-sidebar-right.html") Sidebar Right
                        li
                          a(tabindex="-1", href="pages-sidebar-left.html") Sidebar Left
                        li
                          a(tabindex="-1", href="pages-menu-right.html") Menu Right
                        li
                          a(tabindex="-1", href="pages-menu-left.html") Menu Left
                    li
                      a(href="pages-faq.html") FAQ
                li.dropdown
                  a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                    | Features
                    span.fa.fa-angle-down.dropdown-arrow
                  ul.dropdown-menu
                    li
                      a(href="features-parallax.html") Parallax
                    li
                      a(href="features-animations.html") Animations
                    li.dropdown-submenu
                      a.trigger Icons
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-icons-fontawesome.html") FontAwesome
                        li
                          a(tabindex="-1", href="features-icons-ionicons.html") Ionicons
                        li
                          a(tabindex="-1", href="features-icons-glyphicons.html") Glyphicons
                        li
                          a(tabindex="-1", href="features-icons-raleway.html") Raleway
                    li.dropdown-submenu
                      a.trigger Buttons
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-buttons-basic.html") Basic
                        li
                          a(tabindex="-1", href="features-buttons-social.html") Social
                        li
                          a(tabindex="-1", href="features-buttons-library.html") Library
                    li
                      a(href="features-columns.html") Columns
                    li
                      a(href="features-typography.html") Typography
                    li.dropdown-submenu
                      a.trigger Components
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-alerts.html") Alerts
                        li
                          a(tabindex="-1", href="features-tabs-accordions.html") Tabs &#38; Accordions
                        li
                          a(tabindex="-1", href="features-lists.html") Lists
                        li
                          a(tabindex="-1", href="features-thumbnails.html") Thumbnails
                        li
                          a(tabindex="-1", href="features-tables.html") Tables
                        li
                          a(tabindex="-1", href="features-dividers.html") Dividers
                        li
                          a(tabindex="-1", href="features-headings.html") Headings
                        li
                          a(tabindex="-1", href="features-progress-bars.html") Progress Bars
                        li
                          a(tabindex="-1", href="features-modals.html") Modals
                        li
                          a(tabindex="-1", href="features-tooltips-popovers.html") Tooltips &#38; Popovers
                        li
                          a(tabindex="-1", href="features-labels-badges.html") Labels &#38; Badges
                        li
                          a(tabindex="-1", href="features-forms.html") Forms
                        li
                          a(tabindex="-1", href="features-panels.html") Panels
                    li
                      a(href="features-sliders.html") Sliders
                    li
                      a(href="features-pricing-tables.html") Pricing Tables
                    li
                      a(href="features-calltoactions.html") Call to Action
                    li.dropdown-submenu
                      a.trigger Content Boxes
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-content-boxes-icon-big.html") Icon Big
                        li
                          a(tabindex="-1", href="features-content-boxes-icon-small.html") Icon Small
                        li
                          a(tabindex="-1", href="features-content-boxes-icon-left.html") Icon Left Aligned
                        li
                          a(tabindex="-1", href="features-content-boxes.html") Boxes
                    li.dropdown-submenu
                      a.trigger Header Options
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-header-1.html") Default
                        li
                          a(tabindex="-1", href="features-header-2.html") Option 2
                        li
                          a(tabindex="-1", href="features-header-3.html") Option 3
                        li
                          a(tabindex="-1", href="features-header-parallax.html") Parallax
                    li.dropdown-submenu
                      a.trigger Team Member Options
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-team-members-1.html") Option 1
                        li
                          a(tabindex="-1", href="features-team-members-2.html") Option 2
                    li
                      a(href="features-recent-projects.html") Recent Projects
                    li.dropdown-submenu
                      a.trigger Footer Options
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="features-footer-options.html") Dark
                        li
                          a(tabindex="-1", href="features-footer-options-2.html") Light
                    li
                      a(href="features-image-video-zoom.html") Image &#38; Video Zoom
                li.dropdown
                  a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                    | Portfolio
                    span.fa.fa-angle-down.dropdown-arrow
                  ul.dropdown-menu
                    li.dropdown-submenu
                      a.trigger Boxed
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="portfolio-fixed-3-columns.html") 3 Columns
                        li
                          a(tabindex="-1", href="portfolio-fixed-4-columns.html") 4 Columns
                        li
                          a(tabindex="-1", href="portfolio-fluid-boxed.html") Fluid
                    li.dropdown-submenu
                      a.trigger Circle
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="portfolio-fixed-3-columns-circle.html") 3 Columns
                        li
                          a(tabindex="-1", href="portfolio-fixed-4-columns-circle.html") 4 Columns
                        li
                          a(tabindex="-1", href="portfolio-fluid-circle.html") Fluid
                    li.dropdown-submenu
                      a.trigger Borderless
                      ul.dropdown-menu
                        li
                          a(tabindex="-1", href="portfolio-borderless-example.html") Borderless Example
                        li
                          a(tabindex="-1", href="portfolio-fluid-borderless.html") Fluid
                    li
                      a(href="portfolio-single-project.html") Single Project
                li.dropdown
                  a.dropdown-toggle(href="#", data-hover="dropdown", data-toggle="dropdown", data-delay="300", data-close-others="true")
                    | Blog
                    span.fa.fa-angle-down.dropdown-arrow
                  ul.dropdown-menu
                    li
                      a(href="blog-posts-1.html") Posts 1 Column
                    li
                      a(href="blog-single-post.html") Single Post
                li
                  a(href="pages-contact-2.html") Contact
                li.dropdown
                  a.dropdown-toggle.dropdown-form-toggle(href="#", data-toggle="dropdown")
                    i.fa.fa-search
                  ul.dropdown-menu.dropdown-menu-user
                    li#dropdownForm
                      .dropdown-form
                        form.form-default.form-inline.p15
                          .input-group
                            input.form-control.search-input(type="text", placeholder="Search...")
                            span.input-group-btn
                              button.btn.btn-rw.btn-primary.search-btn(type="button") Go!
                          // /input group
                        // /searh form
                      // /dropdown form
                    // /dropdownForm list item
                  // /search dropdown
                // /search navbar list item
              // /navbar right
            // /nav
          // /container header
        // /navbar
        // End Navigation
      // /header
      // End Header
      // Begin Carousel
      .carousel
        #carouselHome.carousel.slide.carousel-fade(data-ride="carousel")
          // Indicators
          ol.carousel-indicators
            li.active(data-target="#carouselHome", data-slide-to="0")
            li(data-target="#carouselHome", data-slide-to="1")
            li(data-target="#carouselHome", data-slide-to="2")
          // Begin Wrapper for slides
          .carousel-inner
            // Begin Item 1
            .item.active
              // Item BG
              .background-main(style="background-image:url('images/backgrounds/bg1.png');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
                .container
                  .row.carousel-content.center-vertically-right
                    // Content
                    .fadeInRight-animated(data-animation="fadeInRight")
                      .carousel-description.col-sm-5
                        h3.heavy.text-white
                          span.carousel-title-bgclear Clean Code + Design
                        h3.heavy.text-white
                          span.carousel-title-bgclear HTML5 and CSS3
                        h3.heavy.text-white
                          span.carousel-title-bgclear 70+ Pages Total
                        p
                          | With over 90% of Bootstraps components restyled, over 35 pages of shortcode features, and over 30 pages for you to use, this is the
                          b ultimate
                          | parallax, responsive Bootstrap 3 template.
                    .fadeInLeft-animated(data-animation="fadeInLeft")
                      .col-sm-6.col-sm-offset-1
                        img.img-responsive.carousel-image(src="images/showcase-full.png", alt="Responsive Showcase")
                  // /content container
                // /container
              // /bg div
            // /item
            // End Item 1
            // Begin Item 2
            .item
              // Item BG
              div(style="background-image:url('images/backgrounds/bg4.jpg');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
                .container
                  .row.carousel-content.center-vertically-left
                    // Img
                    .fadeInLeft-animated(data-animation="fadeInLeft")
                      .col-sm-6.hidden-xs
                        img.img-responsive.carousel-image(src="images/showcase2.png", alt="Responsive Showcase")
                    // Content
                    .fadeInRight-animated(data-animation="fadeInRight")
                      .carousel-description.mt10.col-sm-5.col-sm-offset-1
                        h4.heavy.text-white
                          span.carousel-title-bg Many Javascript Plugins
                        h4.heavy.text-white
                          span.carousel-title-bg Responsive Video Content
                        h4.heavy.text-white
                          span.carousel-title-bg Shortcodes Pages + Docs
                        p
                          | Flexible for any project. And hey, we made sure you have all the features you need for any website. Also shortcodes on every features page, just copy &#38; paste where you need.
                        a.btn.btn-rw.btn-primary(href="features.html")
                          | Features
                          span.ion-ios7-arrow-right
                  // /content container
                // /container
              // /bg div
            // /item
            // End Item 2
            // Begin Item 3
            .item
              // Item BG
              div(style="background-image:url('images/backgrounds/bg5.jpg');", data-0="background-position:0px 0px;", data-500="background-position:0px -250px;")
                .container
                  .row.carousel-content.center-vertically-right
                    .fadeInUpBig-animated(data-animation="fadeInUpBig")
                      .carousel-description.col-sm-8.col-sm-offset-2.text-center
                        // Content
                        span.fa.fa-heartbeat.fa-4x.text-white
                        h2.heavy.text-white
                          span.carousel-title-bgclear Clean Code + Design
                        | Raleway comes packed with over 30 pages and 50 components. All restyled to refresh your visitors. We have pricing tables, 404 pages, coming soon pages, about pages, and many more.
                        br
                  // /content container
                // /container
              // /bg div
            // /item
            // End Item 3
          // /carousel inner
          // End Wrapper for slides
          // Controls
          a.left.carousel-control(href="#carouselHome", role="button", data-slide="prev")
            span.ion-ios7-arrow-left.carousel-arrow-left(aria-hidden="true")
          a.right.carousel-control(href="#carouselHome", role="button", data-slide="next")
            span.ion-ios7-arrow-right.carousel-arrow-right(aria-hidden="true")
        // /carousel id div
      // /carousel div
      // End Carousel
      // Begin 3 Services
      .background-light-grey.pt60.pb60.border-bottom
        .container
          .row
            // Content 1
            .col-sm-4.fadeInUp-animated.text-center
              span.ion-beaker.bordered-icon-sm
              h4.mt15 We do parallax.
              p.p15xs.no-margin
                | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
            // Content 2
            .col-sm-4.fadeInUp-animated.text-center.mt20-xs
              span.ion-beer.bordered-icon-sm
              h4.mt15 We do animations.
              p.p15xs.no-margin
                | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
            // Content 3
            .col-sm-4.fadeInUp-animated.text-center.mt20-xs
              span.ion-help-buoy.bordered-icon-sm
              h4.mt15 We do responsive.
              p.p15xs.no-margin
                | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
        // /container
      // /cta
      // End 3 Services
      // Begin Accordion + IMG
      .mt40.mb40
        .container
          // Begin Title
          .row
            .col-sm-12.mb20
              .heading
                h4 About us
          // Begin Accordion Row
          .row
            .col-sm-6(data-sr="enter left")
              // Begin Accordion
              #accordion.panel-group
                // Item 1
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                        | We have over
                        b 30+
                        | features pages.
                  // /panel heading
                  #collapseOne.panel-collapse.collapse.in
                    .panel-body
                      | We built this template keeping in mind the features you might need on your next project. Giving you a variety of components to utilize, a variety of pages to build on, and all of the plugins you might need, already configured for Bootstrap 3. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                  // /panel collapse
                // /panel
                // Item 2
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                        | We like pre built
                        i components
                        | .
                  // /panel heading
                  #collapseTwo.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                  // /panel collapse
                // /panel
                // Item 3
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                        | We like to sleep.
                  // /panel heading
                  #collapseThree.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                  // /panel collapse
                // /panel
              // /panel group
              // Button
              .text-center
                a.btn.btn-rw.btn-primary(href="pages-about-us-team.html")
                  | About us
              // /button
            // /column
            // Begin Image
            .col-sm-6(data-sr="enter bottom")
              img.img-responsive.showcase-image(src="images/showcase.png", alt="Responsive Showcase 2")
            // /column
          // /row
          // End Accordion Row
        // /container
      // /content
      // End Accordion + IMG
      // Begin Carousel + Intro
      .background-light-grey.pt40.pb40.border-top
        .container
          // Begin Carousel + Content
          .row
            // Begin Carousel
            .col-sm-4(data-sr="enter left")
              #homeCarousel2.carousel.slide(data-ride="carousel")
                // Indicators
                ol.carousel-indicators
                  li.active(data-target="#homeCarousel2", data-slide-to="0")
                  li(data-target="#homeCarousel2", data-slide-to="1")
                  li(data-target="#homeCarousel2", data-slide-to="2")
                // Wrapper for slides
                .carousel-inner
                  .item.active
                    div(style="background-image:url('images/backgrounds/stock2.jpg'); height:260px;")
                  .item
                    div(style="background-image:url('images/backgrounds/stock7.jpg'); height:260px")
                  .item
                    div(style="background-image:url('images/backgrounds/stock1.jpg'); height:260px")
                // Controls
                a.left.carousel-control(href="#homeCarousel2", role="button", data-slide="prev")
                  span.ion-ios7-arrow-left.carousel-arrow-left(aria-hidden="true")
                a.right.carousel-control(href="#homeCarousel2", role="button", data-slide="next")
                  span.ion-ios7-arrow-right.carousel-arrow-right(aria-hidden="true")
            // /column
            // End Carousel
            // Content Inside
            .col-sm-8
              .heading.mb20.mt30-xs
                h4
                  span.ion-beaker.mr15
                  | The Studio
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia,
                a.tooltip-active(data-toggle="tooltip", data-placement="top", title="Tooltip on top") adipiscing
                | nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.
              // List
              ul.list-arrow-2-color.no-margin
                li
                  small Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. 
                li
                  small Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.
                li
                  small Nulla volutpat aliquam velit
                li
                  small Faucibus porta lacus fringilla vel
            // /column
            // End Content Inside
          // /row
          // End Carousel + Content
        // /container
      // /content
      // End Carousel + Intro
      // Begin Recent Work + Clients
      section.pt40.mb40.border-top
        .container
          .row
            .col-lg-12
              .heading.mb30
                h4
                  span.ion-android-social-user.mr15
                  | Recent Work
                .owl-controls
                  #customNav.owl-nav
              #owl-carousel-thumb.owl-carousel
                .thumbnail
                  .caption.v-wrap
                    .thumbnail-caption-holder.v-box
                      h4.text-white The Latia Project
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock1.jpg", alt="...")
                .thumbnail
                  .caption
                    .thumbnail-caption-holder
                      h4.text-white Goose UI
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock2.jpg", alt="...")
                .thumbnail
                  .caption
                    .thumbnail-caption-holder
                      h4.text-white Schroder"s List
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock3.jpg", alt="...")
                .thumbnail
                  .caption
                    .thumbnail-caption-holder
                      h4.text-white NO Pelicans
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock4.jpg", alt="...")
                .thumbnail
                  .caption
                    .thumbnail-caption-holder
                      h4.text-white Fanbango
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock5.jpg", alt="...")
                .thumbnail
                  .caption
                    .thumbnail-caption-holder
                      h4.text-white The Latia Project
                      a.btn.btn-rw.btn-clear(href="#")
                        span.ion-android-search
                        | View
                  img(src="images/backgrounds/stock6.jpg", alt="...")
          .row
            // Client 1
            .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/boomerang.png", alt="Client 1")
            // Client 2
            .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/backlight.png", alt="Client 2")
            // Client 3
            .col-sm-2.col-xs-4.mb30-xs(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/equi.png", alt="Client 3")
            // Client 4
            .col-sm-2.col-xs-4(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/ome.png", alt="Client 4")
            // Client 5
            .col-sm-2.col-xs-4(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/euro.png", alt="Client 5")
            // Client 6
            .col-sm-2.col-xs-4(data-sr="enter left")
              a(href="#")
                img.img-responsive.clients-img(src="images/logos/micro.png", alt="Client 6")
          // /row
        // /container
      // /section
      // End Recent Work + Clients
      // Begin Footer
      footer.footer
        .container
          .row
            // About
            .col-sm-3
              .heading-footer
                h4 About
              p Raleway Bootstrap 3 Template is what you need for your next project or client.
              a.btn.btn-primary.btn-rw.mt10(href="features.html")
                | Buy now
            // Social
            .col-sm-3.mg25-xs
              .heading-footer
                h4 Social Networks
              a.btn.btn-social-icon.btn-twitter.btn-lg
                i.fa.fa-twitter
              a.btn.btn-social-icon.btn-instagram.btn-lg
                i.fa.fa-instagram
              a.btn.btn-social-icon.btn-facebook.btn-lg
                i.fa.fa-facebook
              a.btn.btn-social-icon.btn-vimeo.btn-lg
                i.fa.fa-vimeo-square
              a.btn.btn-social-icon.btn-linkedin.btn-lg
                i.fa.fa-linkedin
              a.btn.btn-social-icon.btn-google-plus.btn-lg
                i.fa.fa-google-plus
              a.btn.btn-social-icon.btn-adn.btn-lg
                i.fa.fa-adn
              a.btn.btn-social-icon.btn-bitbucket.btn-lg
                i.fa.fa-bitbucket
              a.btn.btn-social-icon.btn-tumblr.btn-lg
                i.fa.fa-tumblr
              a.btn.btn-social-icon.btn-flickr.btn-lg
                i.fa.fa-flickr
            // Contact
            .col-sm-3.mg25-xs
              .heading-footer
                h4 Contact us
              p
                span.ion-home.footer-info-icons
                small.address 228 Park Ave S New York, NY 10003
              p
                span.ion-email.footer-info-icons
                small.address
                  a(href="mailto:info@raleway.com") info@raleway.com
              p
                span.ion-ios7-telephone.footer-info-icons
                small.address +11192386513
            // Recent Work
            .col-sm-3.hidden-xs
              .heading-footer
                h4 Recent Work
              .col-xs-4.recent-work-padding
                a.thumbnail.image-zoom-link(href="images/projects/web2.jpg")
                  img.thumbnail.img-responsive(src="images/projects/thumbs/web2.jpg", alt="...")
              .col-xs-4.recent-work-padding
                a.thumbnail.image-zoom-link(href="images/projects/web3.jpg")
                  img.thumbnail.img-responsive(src="images/projects/thumbs/web3.jpg", alt="...")
              .col-xs-4.recent-work-padding
                a.thumbnail.image-zoom-link(href="images/projects/illustration1.jpg")
                  img.thumbnail.img-responsive(src="images/projects/thumbs/illustration1.jpg", alt="...")
          // /row
          // Copyright
          .row
            hr.dark-hr
            .col-sm-11.col-xs-10
              p.copyright
                | &#169; 2013 Raleway. All rights reserved. Theme by
                b Denis Samardjiev
                | .
            .col-sm-1.col-xs-2.text-right
              a.scroll-top(href="#")
                .footer-scrolltop-holder
                  span.ion-ios7-arrow-up.footer-scrolltop
