extends ../../themes/default.jade

block title_default
  title Beacons for Real Estate, Mortgage Lending and Trade Shows

block header
  include ../../themes/header-alt.jade

block scripts
  script(src="/js/apps/sponsor/index.min.js?cache=#{cacheBreaker}")

block body
  div(ng-controller="PropertyController")
    br
    center(align="center")
      h2.subtitle Properties
    div
      br
      table.table.table-hover.table-agent
        thead
          tr
            th #
            th Agent
            th Address
            th City
            th State
            th Price
            th Manage
        tbody
          tr(ng-repeat="prop in properties")
            td {{ $index + 1 }}
            td {{$root.user.firstName}} {{$root.user.lastName}}
            td {{prop.address}} {{prop.address2}}
            td {{prop.city}}
            td {{prop.state}}
            td {{prop.price | currency:"$":0}}
            td
              a(ng-click="editProperty(prop)") View Details
              |  /
              a.green(href="", ng-click="openFileUpload") View Photos

    #sponsorPropertyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &#215;
              span.sr-only Close
            center(align="center")
              h4#largeModalLabel.modal-title Add New Property
          .modal-body
            ul.nav.nav-tabs.nav-justified(role="tablist")
              li.active
                a(href="#details", role="tab", data-toggle="tab") Details
              li
                a(href="#remarks", role="tab", data-toggle="tab") Remarks
            .tab-content
              #details.tab-pane.in.active
                form(role="form", name="propFrm", ng-submit="saveProperty()")
                  .row
                    .form-group.col-xs-12
                      label Address 1
                      | {{prop.address}}
                  .row
                    .form-group.col-xs-12
                      label Address 2
                      | {{prop.address2}}
                  .row
                    .form-group.col-xs-5
                      label City
                      | {{prop.city}}
                    .form-group.col-xs-4
                      label State
                      | {{prop.state}}
                    .form-group.col-xs-3
                      label Zip Code
                      | {{prop.zip}}
                  .row
                    .form-group.col-xs-12
                      label Neighborhood
                      | {{prop.neighborhood}}
                  .row
                    .form-group.col-xs-6
                      label Bedrooms
                      | {{prop.beds}}
                    .form-group.col-xs-6
                      label Bathrooms
                      | {{prop.baths}}
                  .row
                    .form-group.col-xs-6
                      label Price
                      | {{prop.price | currency:"$":0}}
                    .form-group.col-xs-6
                      label Square Feet
                      | {{prop.sqft}}
                  .row
                    .form-group.col-xs-6
                      label Property Type
                      | {{prop.propType}}
                    .form-group.col-xs-6
                      label Property Style
                      | {{prop.propStyle}}
                  .row
                    .form-group.col-xs-6
                      label Parking Type
                      | {{prop.parkingType}}
                    .form-group.col-xs-6
                      label Parking Spaces
                      | {{prop.parkingSpaces}}
                  .row
                    .form-group.col-xs-6
                      label Basement Type
                      | {{prop.basementType}}
                    .form-group.col-xs-6
                      .col-xs-12
                        label Listed Date
                      .col-xs-4
                        | {{prop.listedMonth}}
                      .col-xs-4
                        | {{prop.listedDay}}
                      .col-xs-4
                        | {{prop.listedYear}}
                  center(align="center")
                    .row
                      br
                      button.btn.btn-rw.btn-primary(type="submit") Save
              #remarks.tab-pane
                div
                  .row
                    .form-group.col-xs-12
                      label Remarks
                      | {{prop.remarks}}
              .clearfix

          .modal-footer
            button.btn.btn-rw.btn-danger(type="button", data-dismiss="modal") Close
